In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import ast 
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate
import warnings; warnings.simplefilter('ignore')
import pyodbc

In [2]:
server = ''database = ''username = ''password = ''driver='/usr/local/lib/libmsodbcsql.13.dylib'
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [7]:
metaData = pd.DataFrame()
query_meta = "SELECT CONVERT(int,CONVERT(float,id)) AS id, title, release_date, genres, tagline, overview, imdb_id, popularity, status, vote_average, vote_count FROM [dbo].[movie_metadata] "
for chunk in pd.read_sql_query(query_meta, cnxn, chunksize=10**4):
    metaData = pd.concat([metaData, chunk])
    print(metaData)
print(metaData.shape)

          id                                 title release_date  \
0        862                             Toy Story   1995-10-30
1       8844                               Jumanji   1995-12-15
2      15602                      Grumpier Old Men   1995-12-22
3      31357                     Waiting to Exhale   1995-12-22
4     253632                           Baton Rouge   1988-10-08
5      79048                          C'est la vie   2001-11-07
6      11862           Father of the Bride Part II   1995-02-10
7        949                                  Heat   1995-12-15
8      11860                               Sabrina   1995-12-15
9      45325                          Tom and Huck   1995-12-22
10      9091                          Sudden Death   1995-12-22
11       710                             GoldenEye   1995-11-16
12      9087                The American President   1995-11-17
13     12110           Dracula: Dead and Loving It   1995-12-22
14     21032                                 Balto   1995-12-22
15     10858                                 Nixon   1995-12-22
16      1408                      Cutthroat Island   1995-12-22
17       524                                Casino   1995-11-22
18      4584                 Sense and Sensibility   1995-12-13
19         5                            Four Rooms   1995-12-09
20      9273        Ace Ventura: When Nature Calls   1995-11-10
21     11517                           Money Train   1995-11-21
22      8012                            Get Shorty   1995-10-20
23      1710                               Copycat   1995-10-27
24      9691                             Assassins   1995-10-06
25     12665                                Powder   1995-10-27
26       451                     Leaving Las Vegas   1995-10-27
27     16420                               Othello   1995-12-15
28      9263                          Now and Then   1995-10-20
29     17015                            Persuasion   1995-09-27
...      ...                                   ...          ...
9970   68528                             Dr. Akagi   1998-05-17
9971  185987                            Black Rain   1989-05-13
9972   34595                   Alexandra's Project   2003-05-16
9973   39851                                 Clean   2004-09-01
9974   45161           The Delicate Art of Parking   2003-08-23
9975   20628                             Skin Game   1971-09-30
9976   84084                                Wilson   1944-08-01
9977   84087                  Blossoms in the Dust   1941-07-25
9978    7453  The Hitchhiker's Guide to the Galaxy   2005-01-15
9979   15961                           King's Game   2004-08-10
9980    6183                              Barefoot   2005-03-30
9981    8220                           Dark Habits   1983-03-10
9982   35170       Snake and Crane Arts of Shaolin   1978-03-08
9983   20187                    The Eiger Sanction   1975-05-21
9984   38151                  It Started in Naples   1960-08-06
9985   43003                            F for Fake   1973-03-13
9986   16250                     Love Comes Softly   2003-04-13
9987   10065                 The Amityville Horror   2005-04-15
9988   30863                         Mutant Aliens   2002-01-09
9989   49920                       Acts of Worship   2001-01-01
9990   31065               Ike: Countdown to D-Day   2004-05-31
9991   22033                    Cry of the Banshee   1970-07-22
9992   37992                          Phantom Lady   1944-01-28
9993   32850                       Act of Violence   1949-02-01
9994   68883                                 Rouge   1987-01-07
9995   43379                      Miracle in Milan   1951-02-08
9996    9393                       Before the Fall   2004-07-04
9997   16972                        The Frisco Kid   1979-07-06
9998   21325          Onmyoji: The Yin Yang Master   2001-10-06
9999   13409                      State Property 2   2005-04-13

                                                 genres  \
0                     ['Animation', 'Comedy', 'Family']
1                    ['Adventure', 'Fantasy', 'Family']
2                                 ['Romance', 'Comedy']
3                        ['Comedy', 'Drama', 'Romance']
4                                          ['Thriller']
5                                   ['Drama', 'Comedy']
6                                            ['Comedy']
7              ['Action', 'Crime', 'Drama', 'Thriller']
8                                 ['Comedy', 'Romance']
9            ['Action', 'Adventure', 'Drama', 'Family']
10                  ['Action', 'Adventure', 'Thriller']
11                  ['Adventure', 'Action', 'Thriller']
12                       ['Comedy', 'Drama', 'Romance']
13                                 ['Comedy', 'Horror']
14                 ['Family', 'Animation', 'Adventure']
15                                 ['History', 'Drama']
16                              ['Action', 'Adventure']
17                                   ['Drama', 'Crime']
18                                 ['Drama', 'Romance']
19                                  ['Crime', 'Comedy']
20                     ['Crime', 'Comedy', 'Adventure']
21                        ['Action', 'Comedy', 'Crime']
22                      ['Comedy', 'Thriller', 'Crime']
23                                ['Drama', 'Thriller']
24         ['Action', 'Adventure', 'Crime', 'Thriller']
25    ['Drama', 'Fantasy', 'Science Fiction', 'Thril...
26                                 ['Drama', 'Romance']
27                                            ['Drama']
28                        ['Comedy', 'Drama', 'Family']
29                                 ['Drama', 'Romance']
...                                                 ...
9970          ['Comedy', 'Drama', 'Foreign', 'History']
9971                                   ['Drama', 'War']
9972                   ['Mystery', 'Drama', 'Thriller']
9973                                          ['Drama']
9974                                                 []
9975                    ['Action', 'Comedy', 'Western']
9976           ['Romance', 'Drama', 'History', 'Music']
9977                               ['Drama', 'Romance']
9978  ['Adventure', 'Comedy', 'Family', 'Science Fic...
9979                                       ['Thriller']
9980                     ['Romance', 'Comedy', 'Drama']
9981                                ['Drama', 'Comedy']
9982                     ['Drama', 'Action', 'Foreign']
9983  ['Action', 'Adventure', 'Crime', 'Drama', 'Mys...
9984                              ['Comedy', 'Romance']
9985                                    ['Documentary']
9986        ['Drama', 'Romance', 'TV Movie', 'Western']
9987                    ['Horror', 'Thriller', 'Drama']
9988         ['Animation', 'Comedy', 'Science Fiction']
9989                                ['Drama', 'Family']
9990            ['Drama', 'War', 'Action', 'Adventure']
9991                                         ['Horror']
9992                                 ['Crime', 'Drama']
9993                              ['Drama', 'Thriller']
9994  ['Drama', 'Fantasy', 'Romance', 'Science Ficti...
9995                     ['Drama', 'Fantasy', 'Comedy']
9996                                          ['Drama']
9997                              ['Western', 'Comedy']
9998                     ['Drama', 'Fantasy', 'Horror']
9999          ['Action', 'Adventure', 'Crime', 'Drama']

                                                tagline  \
0                                                  None
1             Roll the dice and unleash the excitement!
2     Still Yelling. Still Fighting. Still Ready for...
3     Friends are the people who let you be yourself...
4                                                  None
5                                                  None
6     Just When His World Is Back To Normal... He's ...
7                              A Los Angeles Crime Saga
8     You are cordially invited to the most surprisi...
9                                The Original Bad Boys.
10                           Terror goes into overtime.
11                 No limits. No fears. No substitutes.
12    Why can't the most powerful man in the world h...
13                                                 None
14                       Part Dog. Part Wolf. All Hero.
15    Triumphant in Victory, Bitter in Defeat. He Ch...
16    The Course Has Been Set. There Is No Turning B...
17                     No one stays at the top forever.
18             Lose your heart and come to your senses.
19    Twelve outrageous guests. Four scandalous requ...
20              New animals. New adventures. Same hair.
21                          Get on, or GET OUT THE WAY!
22    The mob is tough, but it’s nothing like show b...
23    One man is copying the most notorious killers ...
24    In the shadows of life, In the business of dea...
25    An extraordinary encounter with another human ...
26                       I Love You... The Way You Are.
27                      Envy, greed, jealousy and love.
28    In every woman there is the girl she left behind.
29                                                 None
...                                                 ...
9970                                               None
9971                                               None
9972                       Not everyone loves surprises
9973          When you don't have a choice, you change.
9974                                               None
9975         Would you buy a used slave from this man ?
9976  DRAMA AND SPECTACLE UNPARALLELED! ENTERTAINMEN...
9977  The stirring saga of a childless beauty...who ...
9978                      Don't leave Earth without it.
9979                                               None
9980                                               None
9981                                               None
9982                                               None
9983  EASTWOOD is the man . . Eiger is the location ...
9984       You'll want to be there when the fun starts!
9985                                               None
9986                                               None
9987  What happened over the next 28 days has never ...
9988           They're freaks coming to kick your butt!
9989         You never know what someone's been through
9990                                               None
9991        Hell hath no fury like a sorceress scorned!
9992          IT'S UNIQUE...suspense...mystery...drama!
9993                   The manhunt no woman could stop!
9994                                               None
9995  An impudent, riotous laugh on the lives and mo...
9996                 Men make history. We make the men.
9997                                               None
9998                                               None
9999                                               None

                                               overview    imdb_id  \
0     Led by Woody, Andy's toys live happily in his ...  tt0114709
1     When siblings Judy and Peter discover an encha...  tt0113497
2     A family wedding reignites the ancient feud be...  tt0113228
3     Cheated on, mistreated and stepped on, the wom...  tt0114885
4                                                  None  tt0094822
5                                                  None  tt0260198
6     Just when George Banks has recovered from his ...  tt0113041
7     Obsessive master thief, Neil McCauley leads a ...  tt0113277
8     An ugly duckling having undergone a remarkable...  tt0114319
9     A mischievous young boy, Tom Sawyer, witnesses...  tt0112302
10    International action superstar Jean Claude Van...  tt0114576
11    James Bond must unmask the mysterious head of ...  tt0113189
12    Widowed U.S. president Andrew Shepherd, one of...  tt0112346
13    When a lawyer shows up at the vampire's doorst...  tt0112896
14    An outcast half-wolf risks his life to prevent...  tt0112453
15    An all-star cast powers this epic look at Amer...  tt0113987
16    Morgan Adams and her slave, William Shaw, are ...  tt0112760
17    The life of the gambling paradise – Las Vegas ...  tt0112641
18    Rich Mr. Dashwood dies, leaving his second wif...  tt0114388
19    It's Ted the Bellhop's first night on the job....  tt0113101
20    Summoned from an ashram in Tibet, Ace finds hi...  tt0112281
21    A vengeful New York transit cop decides to ste...  tt0113845
22    Chili Palmer is a Miami mobster who gets sent ...  tt0113161
23    An agoraphobic psychologist and a female detec...  tt0112722
24    Assassin Robert Rath arrives at a funeral to k...  tt0112401
25    Harassed by classmates who won't accept his sh...  tt0114168
26    Ben Sanderson, an alcoholic Hollywood screenwr...  tt0113627
27    The evil Iago pretends to be friend of Othello...  tt0114057
28    Waxing nostalgic about the bittersweet passage...  tt0114011
29    This film adaptation of Jane Austen's last nov...  tt0114117
...                                                 ...        ...
9970  At the end of WWII, Japanese doctor Akagi sear...  tt0155796
9971  The story of the aftermath of the Hiroshima bo...  tt0097694
9972  Steve is a man who has it all, a successful ca...  tt0338706
9973  After losing her husband to a heroin overdose,...  tt0388838
9974  An absurd comedy about a Parking Enforcement O...  tt0325234
9975  Quincy Drew (Garner) and Jason O'Rourke (Gosse...  tt0067763
9976  The political career of Woodrow Wilson is chro...  tt0037465
9977  Edna marries Texan Sam Gladney, operator of a ...  tt0033407
9978  Mere seconds before the Earth is to be demolis...  tt0371724
9979  Starting a new job as a political journalist a...  tt0378215
9980  A hedonistic bachelor, falls for an escaped me...  tt0405743
9981  A nightclub singer seeks refuge with gay nuns ...  tt0085496
9982  Jackie Chan stars as the young warrior Hsu Yiu...  tt0078251
9983  A classical art professor and collector, who d...  tt0072926
9984  Mike Hamilton, a Philadelphia lawyer, comes to...  tt0053957
9985              A documentary about fraud and fakery.  tt0072962
9986  Marty is a 19 year old pioneer woman, recently...  tt0345591
9987  A family is terrorized by demonic forces after...  tt0384806
9988  Mutant Aliens is a wildly humorous yet poignan...  tt0277909
9989  Alix is taken in by a photographer, Digna, who...  tt0275182
9990  This is the story of the senior-level preparat...  tt0401504
9991  In seventeenth century England Lord Whitman wa...  tt0065597
9992  A mystery woman is a murder suspect's only ali...  tt0036260
9993  An embittered veteran tracks down a POW camp i...  tt0041088
9994  Fleur is the blue angel in one of Hong Kong's ...  tt0093258
9995  Once upon a time an old woman discovers a baby...  tt0043809
9996  In 1942, Friedrich Weimer's boxing skills get ...  tt0384369
9997  Rabbi Avram arrives in Philadelphia from Polan...  tt0079180
9998  During a dark time in the Heian period, when e...  tt0355857
9999  Three gangsters vie for control of the streets...  tt0403537

               popularity    status vote_average vote_count
0               21.946943  Released          7.7     5415.0
1               17.015539  Released          6.9     2413.0
2                 11.7129  Released          6.5       92.0
3                3.859495  Released          6.1       34.0
4                0.437895  Released          0.0        0.0
5                0.001714  Released          0.0        0.0
6       8.387519000000001  Released          5.7      173.0
7               17.924927  Released          7.7     1886.0
8                6.677277  Released          6.2      141.0
9      2.5611610000000002  Released          5.4       45.0
10                5.23158  Released          5.5      174.0
11     14.686035999999998  Released          6.6     1194.0
12               6.318445  Released          6.5      199.0
13               5.430331  Released          5.7      210.0
14              12.140733  Released          7.1      423.0
15                  5.092  Released          7.1       72.0
16      7.284477000000001  Released          5.7      137.0
17              10.137389  Released          7.8     1343.0
18              10.673167  Released          7.2      364.0
19               9.026586  Released          6.5      539.0
20      8.205447999999999  Released          6.1     1128.0
21      7.337905999999999  Released          5.4      224.0
22              12.669608  Released          6.4      305.0
23              10.701801  Released          6.5      199.0
24              11.065939  Released          6.0      394.0
25              12.133094  Released          6.3      143.0
26              10.332025  Released          7.1      365.0
27     1.8458990000000002  Released          7.0       33.0
28               8.681325  Released          6.6       91.0
29               2.228434  Released          7.4       36.0
...                   ...       ...          ...        ...
9970             1.132806  Released          7.2        6.0
9971             4.227398  Released          7.1       20.0
9972             1.689471  Released          5.8       24.0
9973   2.7671419999999998  Released          6.7       17.0
9974             0.079204  Released          7.0        2.0
9975   1.8119779999999999  Released          6.5       10.0
9976             0.773081  Released          5.5        2.0
9977             0.692357  Released          6.5       11.0
9978   13.257254999999999  Released          6.6     1340.0
9979             2.850939  Released          6.9       15.0
9980             2.561207  Released          6.7       59.0
9981             1.254097  Released          7.4       20.0
9982             1.513866  Released          6.8       16.0
9983              5.47591  Released          6.2       91.0
9984             1.029336  Released          5.9       11.0
9985             3.252225  Released          7.2       77.0
9986             1.807464  Released          6.2       25.0
9987            13.088552  Released          6.0      606.0
9988  0.20990799999999998  Released          7.8        4.0
9989  0.20733200000000002   Rumored          6.3        4.0
9990             6.988241  Released          5.7       10.0
9991             1.848123  Released          5.5       12.0
9992   2.0149529999999998  Released          6.4       24.0
9993             2.496859  Released          6.2       19.0
9994             1.871935  Released          6.8       14.0
9995             1.607246  Released          7.0       26.0
9996              5.69684  Released          7.3       74.0
9997    7.085211999999999  Released          6.0       38.0
9998             0.450855  Released          7.3        3.0
9999             0.318108  Released          5.5        3.0

[10000 rows x 11 columns]

          id                                              title release_date  \
0        862                                          Toy Story   1995-10-30
1       8844                                            Jumanji   1995-12-15
2      15602                                   Grumpier Old Men   1995-12-22
3      31357                                  Waiting to Exhale   1995-12-22
4     253632                                        Baton Rouge   1988-10-08
5      79048                                       C'est la vie   2001-11-07
6      11862                        Father of the Bride Part II   1995-02-10
7        949                                               Heat   1995-12-15
8      11860                                            Sabrina   1995-12-15
9      45325                                       Tom and Huck   1995-12-22
10      9091                                       Sudden Death   1995-12-22
11       710                                          GoldenEye   1995-11-16
12      9087                             The American President   1995-11-17
13     12110                        Dracula: Dead and Loving It   1995-12-22
14     21032                                              Balto   1995-12-22
15     10858                                              Nixon   1995-12-22
16      1408                                   Cutthroat Island   1995-12-22
17       524                                             Casino   1995-11-22
18      4584                              Sense and Sensibility   1995-12-13
19         5                                         Four Rooms   1995-12-09
20      9273                     Ace Ventura: When Nature Calls   1995-11-10
21     11517                                        Money Train   1995-11-21
22      8012                                         Get Shorty   1995-10-20
23      1710                                            Copycat   1995-10-27
24      9691                                          Assassins   1995-10-06
25     12665                                             Powder   1995-10-27
26       451                                  Leaving Las Vegas   1995-10-27
27     16420                                            Othello   1995-12-15
28      9263                                       Now and Then   1995-10-20
29     17015                                         Persuasion   1995-09-27
...      ...                                                ...          ...
9970   10852                                Kung Fu Cult Master   1993-12-18
9971  127916                    The Fitzgerald Family Christmas   2012-09-09
9972   87504                                Hyde Park on Hudson   2012-12-07
9973   84305                                   Lay the Favorite   2012-06-22
9974   48599                        Audition/Talent Competition   1964-02-28
9975   76297                                All's Faire in Love   2009-05-15
9976  106135                                     Crooked Arrows   2012-05-18
9977   18725                                       The Enforcer   1995-03-02
9978   31027            Dr. Wai in the Scriptures with No Words   1996-02-10
9979   10620              Once Upon a Time in China and America   1997-02-01
9980   10616                                    Contract Killer   1998-04-03
9981  411432                                       The Executor   1981-03-04
9982   40004                                Never Say... Never!   2005-09-28
9983   63481                                             Calmos   1976-02-11
9984   40722                        How to Make Love to a Woman   2010-07-13
9985   83738                                 After Fall, Winter   2012-01-27
9986   80717                             Violeta Went to Heaven   2011-08-11
9987   76609                                          Rebellion   2011-11-16
9988    8941                                         Versailles   2008-05-19
9989   64074                                    Two in the Wave   2010-05-19
9990  197723  Lotte Reiniger: Homage to the Inventor of the ...   2001-11-19
9991  269797  RKO Production 601: The Making of 'Kong, the E...   2005-10-23
9992  117629                                              Yossi   2012-05-16
9993  288101          All Blossoms Again: Pedro Costa, Director   2006-07-10
9994   76800                          The Last Rites of Joe May   2011-10-28
9995  147590                       100 Ways to Murder Your Wife   1986-09-24
9996  138357                                       The Prodigal   1955-05-06
9997   65515                                  The Eleventh Hour   2008-01-01
9998  127501                                              Barfi   2012-09-14
9999  279852                   Federico Fellini's Autobiography   2000-09-05

                                                 genres  \
0                     ['Animation', 'Comedy', 'Family']
1                    ['Adventure', 'Fantasy', 'Family']
2                                 ['Romance', 'Comedy']
3                        ['Comedy', 'Drama', 'Romance']
4                                          ['Thriller']
5                                   ['Drama', 'Comedy']
6                                            ['Comedy']
7              ['Action', 'Crime', 'Drama', 'Thriller']
8                                 ['Comedy', 'Romance']
9            ['Action', 'Adventure', 'Drama', 'Family']
10                  ['Action', 'Adventure', 'Thriller']
11                  ['Adventure', 'Action', 'Thriller']
12                       ['Comedy', 'Drama', 'Romance']
13                                 ['Comedy', 'Horror']
14                 ['Family', 'Animation', 'Adventure']
15                                 ['History', 'Drama']
16                              ['Action', 'Adventure']
17                                   ['Drama', 'Crime']
18                                 ['Drama', 'Romance']
19                                  ['Crime', 'Comedy']
20                     ['Crime', 'Comedy', 'Adventure']
21                        ['Action', 'Comedy', 'Crime']
22                      ['Comedy', 'Thriller', 'Crime']
23                                ['Drama', 'Thriller']
24         ['Action', 'Adventure', 'Crime', 'Thriller']
25    ['Drama', 'Fantasy', 'Science Fiction', 'Thril...
26                                 ['Drama', 'Romance']
27                                            ['Drama']
28                        ['Comedy', 'Drama', 'Family']
29                                 ['Drama', 'Romance']
...                                                 ...
9970  ['Fantasy', 'Action', 'History', 'Science Fict...
9971                                ['Drama', 'Family']
9972                     ['Comedy', 'Drama', 'History']
9973                                ['Drama', 'Comedy']
9974                           ['Music', 'Documentary']
9975                              ['Comedy', 'Romance']
9976                                          ['Drama']
9977                    ['Action', 'Thriller', 'Crime']
9978                               ['Action', 'Comedy']
9979                              ['Action', 'Western']
9980                               ['Action', 'Comedy']
9981                       ['Action', 'Crime', 'Drama']
9982                                         ['Comedy']
9983                                         ['Comedy']
9984                              ['Comedy', 'Romance']
9985                               ['Drama', 'Romance']
9986                                          ['Drama']
9987                     ['Drama', 'Action', 'History']
9988                                          ['Drama']
9989                         ['Documentary', 'Foreign']
9990                                                 []
9991                                                 []
9992                               ['Drama', 'Romance']
9993                                    ['Documentary']
9994                                          ['Drama']
9995                              ['Romance', 'Comedy']
9996                                          ['Drama']
9997                             ['Action', 'Thriller']
9998                     ['Drama', 'Romance', 'Comedy']
9999                                    ['Documentary']

                                                tagline  \
0                                                  None
1             Roll the dice and unleash the excitement!
2     Still Yelling. Still Fighting. Still Ready for...
3     Friends are the people who let you be yourself...
4                                                  None
5                                                  None
6     Just When His World Is Back To Normal... He's ...
7                              A Los Angeles Crime Saga
8     You are cordially invited to the most surprisi...
9                                The Original Bad Boys.
10                           Terror goes into overtime.
11                 No limits. No fears. No substitutes.
12    Why can't the most powerful man in the world h...
13                                                 None
14                       Part Dog. Part Wolf. All Hero.
15    Triumphant in Victory, Bitter in Defeat. He Ch...
16    The Course Has Been Set. There Is No Turning B...
17                     No one stays at the top forever.
18             Lose your heart and come to your senses.
19    Twelve outrageous guests. Four scandalous requ...
20              New animals. New adventures. Same hair.
21                          Get on, or GET OUT THE WAY!
22    The mob is tough, but it’s nothing like show b...
23    One man is copying the most notorious killers ...
24    In the shadows of life, In the business of dea...
25    An extraordinary encounter with another human ...
26                       I Love You... The Way You Are.
27                      Envy, greed, jealousy and love.
28    In every woman there is the girl she left behind.
29                                                 None
...                                                 ...
9970                                               None
9971          A time to share the spirit of the season.
9972  The President. The First Lady. The King. The Q...
9973                How far can a losing shot take you?
9974                                               None
9975                                               None
9976                                    Join the tribe.
9977                                               None
9978                                               None
9979                                               None
9980                                               None
9981                                               None
9982                                               None
9983                                               None
9984   A comedy of miscommunication between the sheets.
9985                                               None
9986           Creation is a bird without a flight plan
9987                                               None
9988                                               None
9989                                               None
9990                                               None
9991                                               None
9992                                               None
9993                                               None
9994                                               None
9995                                               None
9996                                               None
9997    When Terror Strikes At Home, Blood Will Be Shed
9998                                               None
9999                                               None

                                               overview    imdb_id  \
0     Led by Woody, Andy's toys live happily in his ...  tt0114709
1     When siblings Judy and Peter discover an encha...  tt0113497
2     A family wedding reignites the ancient feud be...  tt0113228
3     Cheated on, mistreated and stepped on, the wom...  tt0114885
4                                                  None  tt0094822
5                                                  None  tt0260198
6     Just when George Banks has recovered from his ...  tt0113041
7     Obsessive master thief, Neil McCauley leads a ...  tt0113277
8     An ugly duckling having undergone a remarkable...  tt0114319
9     A mischievous young boy, Tom Sawyer, witnesses...  tt0112302
10    International action superstar Jean Claude Van...  tt0114576
11    James Bond must unmask the mysterious head of ...  tt0113189
12    Widowed U.S. president Andrew Shepherd, one of...  tt0112346
13    When a lawyer shows up at the vampire's doorst...  tt0112896
14    An outcast half-wolf risks his life to prevent...  tt0112453
15    An all-star cast powers this epic look at Amer...  tt0113987
16    Morgan Adams and her slave, William Shaw, are ...  tt0112760
17    The life of the gambling paradise – Las Vegas ...  tt0112641
18    Rich Mr. Dashwood dies, leaving his second wif...  tt0114388
19    It's Ted the Bellhop's first night on the job....  tt0113101
20    Summoned from an ashram in Tibet, Ace finds hi...  tt0112281
21    A vengeful New York transit cop decides to ste...  tt0113845
22    Chili Palmer is a Miami mobster who gets sent ...  tt0113161
23    An agoraphobic psychologist and a female detec...  tt0112722
24    Assassin Robert Rath arrives at a funeral to k...  tt0112401
25    Harassed by classmates who won't accept his sh...  tt0114168
26    Ben Sanderson, an alcoholic Hollywood screenwr...  tt0113627
27    The evil Iago pretends to be friend of Othello...  tt0114057
28    Waxing nostalgic about the bittersweet passage...  tt0114011
29    This film adaptation of Jane Austen's last nov...  tt0114117
...                                                 ...        ...
9970  A wild and rollicking martial arts fantasy ext...  tt0108624
9971  The siblings of the Fitzgerald family must dec...  tt2331880
9972  The story of the love affair between FDR and h...  tt1477855
9973  A former stripper's talent with numbers lands ...  tt1132449
9974  Two closely related episodes. Youths make prob...  tt0057230
9975  Two rival Medieval shows vie for supremacy in ...  tt1034090
9976  A native-American lacrosse team makes its way ...  tt1954352
9977  An undercover cop struggling to provide for hi...  tt0113153
9978  A serial adventure writer with problems in his...  tt0110463
9979  So goes to the U.S. to open a martial arts sch...  tt0120530
9980  Financially troubled, a newbie hitman reluctan...  tt0163818
9981  Chow Yun-Fat and Danny Lee star in this police...  tt0077772
9982  Paris, 1830. Valentin loses himself in alcohol...  tt0431827
9983  Two men, fortyish, worn out by their wives, ab...  tt0074524
9984  When Andy hears his girlfriend Lauren sigh aft...  tt1241017
9985  WINTER is a dangerous, sexy, poignant and at t...  tt1986204
9986  A portrait of famed Chilean singer and folklor...  tt2014392
9987  Dissidents in a French colony attack a police ...  tt1242521
9988  A young mother Nina and her son Enzo find them...  tt1132607
9989  An in-depth analysis of the relationship betwe...  tt1528224
9990  Follows the life and work of animator Lotte Re...  tt0471239
9991  An in-depth look at the genesis, production, a...  tt0492337
9992  The sequel to ""Yossi and Jagger"" finds chara...  tt1934269
9993  With this movie, Aurélien Gerbault invites us ...  tt0869155
9994  Now in his sixties, Joe is released from the h...  tt1550902
9995  Two men, Yun-Fat Chow and Kenny Bee, are both ...  tt0091935
9996  A wealthy young Hebrew traveling in Damascus r...  tt0048517
9997  An ex-Navy SEAL, Michael Adams, (Matthew Reese...  tt1129420
9998  He is cute. He's shrewd. The girls love him. T...  tt2082197
9999  Federico Fellini was one of the most individua...  tt0262414

                 popularity    status vote_average vote_count
0                 21.946943  Released          7.7     5415.0
1                 17.015539  Released          6.9     2413.0
2                   11.7129  Released          6.5       92.0
3                  3.859495  Released          6.1       34.0
4                  0.437895  Released          0.0        0.0
5                  0.001714  Released          0.0        0.0
6         8.387519000000001  Released          5.7      173.0
7                 17.924927  Released          7.7     1886.0
8                  6.677277  Released          6.2      141.0
9        2.5611610000000002  Released          5.4       45.0
10                  5.23158  Released          5.5      174.0
11       14.686035999999998  Released          6.6     1194.0
12                 6.318445  Released          6.5      199.0
13                 5.430331  Released          5.7      210.0
14                12.140733  Released          7.1      423.0
15                    5.092  Released          7.1       72.0
16        7.284477000000001  Released          5.7      137.0
17                10.137389  Released          7.8     1343.0
18                10.673167  Released          7.2      364.0
19                 9.026586  Released          6.5      539.0
20        8.205447999999999  Released          6.1     1128.0
21        7.337905999999999  Released          5.4      224.0
22                12.669608  Released          6.4      305.0
23                10.701801  Released          6.5      199.0
24                11.065939  Released          6.0      394.0
25                12.133094  Released          6.3      143.0
26                10.332025  Released          7.1      365.0
27       1.8458990000000002  Released          7.0       33.0
28                 8.681325  Released          6.6       91.0
29                 2.228434  Released          7.4       36.0
...                     ...       ...          ...        ...
9970     13.263326999999999  Released          6.8       14.0
9971               1.226389  Released          6.5        7.0
9972               3.724207  Released          5.3       77.0
9973      5.153137999999999  Released          4.9       69.0
9974               0.743089  Released          5.6        5.0
9975               0.531051  Released          6.3        4.0
9976      5.138408999999999  Released          5.6       14.0
9977               2.568483  Released          5.8       25.0
9978     1.7348290000000002  Released          5.8       13.0
9979               2.383612  Released          5.7       23.0
9980               9.571939  Released          6.2       30.0
9981               0.002841  Released          6.0        1.0
9982               0.648189  Released          4.8       10.0
9983               0.976726  Released          5.8       11.0
9984               2.291534  Released          4.9       18.0
9985               0.309293  Released          5.7        8.0
9986               0.149482  Released          6.7       10.0
9987                1.59284  Released          6.3       24.0
9988               0.705023  Released          6.0        4.0
9989               0.232855  Released          5.5        5.0
9990               0.002353  Released          0.0        0.0
9991               0.289677  Released          8.0        1.0
9992               1.162001  Released          6.8       22.0
9993  0.0035340000000000002  Released          0.0        0.0
9994     0.5272180000000001  Released          6.1        7.0
9995               0.093311  Released          4.0        1.0
9996               0.661561  Released          5.0        1.0
9997               0.733475  Released          4.3        4.0
9998     3.7790769999999996  Released          7.2       84.0
9999               0.691717  Released          6.7        3.0

[20000 rows x 11 columns]

          id                              title release_date  \
0        862                          Toy Story   1995-10-30
1       8844                            Jumanji   1995-12-15
2      15602                   Grumpier Old Men   1995-12-22
3      31357                  Waiting to Exhale   1995-12-22
4     253632                        Baton Rouge   1988-10-08
5      79048                       C'est la vie   2001-11-07
6      11862        Father of the Bride Part II   1995-02-10
7        949                               Heat   1995-12-15
8      11860                            Sabrina   1995-12-15
9      45325                       Tom and Huck   1995-12-22
10      9091                       Sudden Death   1995-12-22
11       710                          GoldenEye   1995-11-16
12      9087             The American President   1995-11-17
13     12110        Dracula: Dead and Loving It   1995-12-22
14     21032                              Balto   1995-12-22
15     10858                              Nixon   1995-12-22
16      1408                   Cutthroat Island   1995-12-22
17       524                             Casino   1995-11-22
18      4584              Sense and Sensibility   1995-12-13
19         5                         Four Rooms   1995-12-09
20      9273     Ace Ventura: When Nature Calls   1995-11-10
21     11517                        Money Train   1995-11-21
22      8012                         Get Shorty   1995-10-20
23      1710                            Copycat   1995-10-27
24      9691                          Assassins   1995-10-06
25     12665                             Powder   1995-10-27
26       451                  Leaving Las Vegas   1995-10-27
27     16420                            Othello   1995-12-15
28      9263                       Now and Then   1995-10-20
29     17015                         Persuasion   1995-09-27
...      ...                                ...          ...
9970  281730                              Fugly   2014-06-13
9971  118575                    Ginza Cosmetics   1951-04-14
9972  294544    On Any Sunday, The Next Chapter   2014-01-01
9973   48643                     Piccadilly Jim   2005-04-22
9974   12826                      Just a Gigolo   1979-01-01
9975   84628                       The Survivor   1981-07-09
9976  191322                         Dark Horse   1992-07-17
9977   61803                          Shakedown   2002-12-24
9978   73369                          Shakedown   1950-09-01
9979  236395               Success At Any Price   1934-03-16
9980   52051                    Seventeen Again   2000-11-12
9981   78552                      Sweet Sixteen   1983-03-18
9982  104106  The Disappearance of Garcia Lorca   1996-10-24
9983  320703            The Dramatics: A Comedy   2015-02-10
9984  170277                       Up the Creek   1958-05-13
9985   25973                       What Love Is   2007-03-23
9986  132641                               Wife   1953-04-29
9987   59142         You Can't Run Away from It   1956-10-30
9988   47590          The Girl with the Hat Box   1927-01-01
9989  165567                             Static   2012-10-31
9990   32683                        The Flapper   1920-05-10
9991  334132                You Are My Sunshine   2015-04-30
9992   47759                    The Monkey King   1964-12-07
9993  259954                             5 to 7   2014-04-19
9994  291817           Seymour: An Introduction   2015-03-13
9995  334130                        Open Secret   2013-11-03
9996   33510                           Puffball   2007-10-28
9997   32648    Into Thin Air: Death on Everest   1997-11-09
9998  170033                     Parole de flic   1985-08-21
9999   35401                  Fear in the Night   1947-04-18

                                                 genres  \
0                     ['Animation', 'Comedy', 'Family']
1                    ['Adventure', 'Fantasy', 'Family']
2                                 ['Romance', 'Comedy']
3                        ['Comedy', 'Drama', 'Romance']
4                                          ['Thriller']
5                                   ['Drama', 'Comedy']
6                                            ['Comedy']
7              ['Action', 'Crime', 'Drama', 'Thriller']
8                                 ['Comedy', 'Romance']
9            ['Action', 'Adventure', 'Drama', 'Family']
10                  ['Action', 'Adventure', 'Thriller']
11                  ['Adventure', 'Action', 'Thriller']
12                       ['Comedy', 'Drama', 'Romance']
13                                 ['Comedy', 'Horror']
14                 ['Family', 'Animation', 'Adventure']
15                                 ['History', 'Drama']
16                              ['Action', 'Adventure']
17                                   ['Drama', 'Crime']
18                                 ['Drama', 'Romance']
19                                  ['Crime', 'Comedy']
20                     ['Crime', 'Comedy', 'Adventure']
21                        ['Action', 'Comedy', 'Crime']
22                      ['Comedy', 'Thriller', 'Crime']
23                                ['Drama', 'Thriller']
24         ['Action', 'Adventure', 'Crime', 'Thriller']
25    ['Drama', 'Fantasy', 'Science Fiction', 'Thril...
26                                 ['Drama', 'Romance']
27                                            ['Drama']
28                        ['Comedy', 'Drama', 'Family']
29                                 ['Drama', 'Romance']
...                                                 ...
9970                    ['Comedy', 'Drama', 'Thriller']
9971                                          ['Drama']
9972                                    ['Documentary']
9973                              ['Comedy', 'Romance']
9974                                          ['Drama']
9975                  ['Horror', 'Mystery', 'Thriller']
9976                                         ['Family']
9977                    ['Action', 'Drama', 'Thriller']
9978                                                 []
9979                                          ['Drama']
9980           ['Comedy', 'Drama', 'Family', 'Fantasy']
9981                                         ['Horror']
9982                                                 []
9983                              ['Romance', 'Comedy']
9984                                         ['Comedy']
9985                              ['Comedy', 'Romance']
9986                                          ['Drama']
9987                     ['Romance', 'Comedy', 'Music']
9988                     ['Romance', 'Drama', 'Comedy']
9989         ['Drama', 'Horror', 'Thriller', 'Mystery']
9990                                                 []
9991                               ['Drama', 'Romance']
9992                                      ['Animation']
9993                              ['Comedy', 'Romance']
9994                                    ['Documentary']
9995                                                 []
9996                     ['Drama', 'Fantasy', 'Horror']
9997                   ['Adventure', 'Action', 'Drama']
9998           ['Drama', 'Thriller', 'Action', 'Crime']
9999                              ['Drama', 'Thriller']

                                                tagline  \
0                                                  None
1             Roll the dice and unleash the excitement!
2     Still Yelling. Still Fighting. Still Ready for...
3     Friends are the people who let you be yourself...
4                                                  None
5                                                  None
6     Just When His World Is Back To Normal... He's ...
7                              A Los Angeles Crime Saga
8     You are cordially invited to the most surprisi...
9                                The Original Bad Boys.
10                           Terror goes into overtime.
11                 No limits. No fears. No substitutes.
12    Why can't the most powerful man in the world h...
13                                                 None
14                       Part Dog. Part Wolf. All Hero.
15    Triumphant in Victory, Bitter in Defeat. He Ch...
16    The Course Has Been Set. There Is No Turning B...
17                     No one stays at the top forever.
18             Lose your heart and come to your senses.
19    Twelve outrageous guests. Four scandalous requ...
20              New animals. New adventures. Same hair.
21                          Get on, or GET OUT THE WAY!
22    The mob is tough, but it’s nothing like show b...
23    One man is copying the most notorious killers ...
24    In the shadows of life, In the business of dea...
25    An extraordinary encounter with another human ...
26                       I Love You... The Way You Are.
27                      Envy, greed, jealousy and love.
28    In every woman there is the girl she left behind.
29                                                 None
...                                                 ...
9970                                               None
9971                                               None
9972                                               None
9973                            What's Wrong with Love?
9974                                               None
9975  A tale of death, and of an evil which transcen...
9976                                               None
9977  he quake of the century... get ready to rumble...
9978  His camera Was More Deadly Than A Gangster's Gun!
9979                                               None
9980                               It's a Major Mix Up!
9981        Why are all the boys dying to meet Melissa?
9982                                               None
9983                    Brain J. Macy will see you now.
9984              The greatest belly laugh of them all.
9985                                               None
9986                                               None
9987              The funniest movie in maybe 20 years!
9988                                               None
9989      If you hear them coming, you're already dead.
9990                                               None
9991                                               None
9992                                               None
9993               Loving someone... at the right time.
9994                                               None
9995                                               None
9996                                               None
9997                                               None
9998                                               None
9999                                               None

                                               overview    imdb_id  \
0     Led by Woody, Andy's toys live happily in his ...  tt0114709
1     When siblings Judy and Peter discover an encha...  tt0113497
2     A family wedding reignites the ancient feud be...  tt0113228
3     Cheated on, mistreated and stepped on, the wom...  tt0114885
4                                                  None  tt0094822
5                                                  None  tt0260198
6     Just when George Banks has recovered from his ...  tt0113041
7     Obsessive master thief, Neil McCauley leads a ...  tt0113277
8     An ugly duckling having undergone a remarkable...  tt0114319
9     A mischievous young boy, Tom Sawyer, witnesses...  tt0112302
10    International action superstar Jean Claude Van...  tt0114576
11    James Bond must unmask the mysterious head of ...  tt0113189
12    Widowed U.S. president Andrew Shepherd, one of...  tt0112346
13    When a lawyer shows up at the vampire's doorst...  tt0112896
14    An outcast half-wolf risks his life to prevent...  tt0112453
15    An all-star cast powers this epic look at Amer...  tt0113987
16    Morgan Adams and her slave, William Shaw, are ...  tt0112760
17    The life of the gambling paradise – Las Vegas ...  tt0112641
18    Rich Mr. Dashwood dies, leaving his second wif...  tt0114388
19    It's Ted the Bellhop's first night on the job....  tt0113101
20    Summoned from an ashram in Tibet, Ace finds hi...  tt0112281
21    A vengeful New York transit cop decides to ste...  tt0113845
22    Chili Palmer is a Miami mobster who gets sent ...  tt0113161
23    An agoraphobic psychologist and a female detec...  tt0112722
24    Assassin Robert Rath arrives at a funeral to k...  tt0112401
25    Harassed by classmates who won't accept his sh...  tt0114168
26    Ben Sanderson, an alcoholic Hollywood screenwr...  tt0113627
27    The evil Iago pretends to be friend of Othello...  tt0114057
28    Waxing nostalgic about the bittersweet passage...  tt0114011
29    This film adaptation of Jane Austen's last nov...  tt0114117
...                                                 ...        ...
9970  It is a story of 4 friends - Dev, Gaurav, Adit...  tt3683702
9971  Italy is usually cited as the anchor of the ne...  tt0043587
9972  On Any Sunday, The Next Chapter” is an explora...  tt2872570
9973  Set in the 1930s, an American with a scandalou...  tt0371878
9974  After World War I, a war hero returns to Berli...  tt0079867
9975  When a 747 crashes shortly after take-off, the...  tt0083144
9976  14 year old Allison has to go to a horse farm....  tt0104054
9977  In Los Angeles a deadly plague called the 'Pan...  tt0300470
9978  In ""Shakedown,"" Howard Duff plays a photogra...  tt0042953
9979  A ruthless opportunist climbs his way up the b...  tt0025844
9980  Cat and Gene have been divorced for several ye...  tt0194422
9981  A beautiful lonely girl named Melissa tries to...  tt0083146
9982  A journalist starts an investigation into the ...  tt0117106
9983  When an out of work actress unexpectedly lands...  tt2633666
9984  Bumbling navy officer Lieutenant Humphrey Fair...  tt0052343
9985  It's Valentine's Day and Tomhas big plans. He'...  tt0439876
9986  Ten years into a marriage, the wife is disappo...  tt0046468
9987  A reporter stumbles on a runaway heiress whose...  tt0049973
9988  Young and beautiful girl (Anna Sten), lives ne...  tt0017809
9989  A couple facing marital problems after losing ...  tt1881060
9990  A silent comedy about a Southern teen who, sen...  tt0011193
9991  A film adaptation of Gu Man's popular novel of...  tt4657764
9992  Havoc in Heaven, also known as Uproar in Heave...  tt0059855
9993  A young writer begins an affair with an older ...  tt2486678
9994  Ethan Hawke directs this intimate documentary ...  tt2219650
9995  OPEN SECRET chronicles Steve Lickteig's 20-yea...  tt1739304
9996  Powerful supernatural forces are unleashed whe...  tt0484881
9997  An adaptation of Jon Krakauer's best selling b...  tt0118949
9998  Cop's Honor (Parole de Flic) is a 1985 French ...  tt0089776
9999  Bank teller Vince Grayson wakes from a nightma...  tt0039372

                popularity    status vote_average vote_count
0                21.946943  Released          7.7     5415.0
1                17.015539  Released          6.9     2413.0
2                  11.7129  Released          6.5       92.0
3                 3.859495  Released          6.1       34.0
4                 0.437895  Released          0.0        0.0
5                 0.001714  Released          0.0        0.0
6        8.387519000000001  Released          5.7      173.0
7                17.924927  Released          7.7     1886.0
8                 6.677277  Released          6.2      141.0
9       2.5611610000000002  Released          5.4       45.0
10                 5.23158  Released          5.5      174.0
11      14.686035999999998  Released          6.6     1194.0
12                6.318445  Released          6.5      199.0
13                5.430331  Released          5.7      210.0
14               12.140733  Released          7.1      423.0
15                   5.092  Released          7.1       72.0
16       7.284477000000001  Released          5.7      137.0
17               10.137389  Released          7.8     1343.0
18               10.673167  Released          7.2      364.0
19                9.026586  Released          6.5      539.0
20       8.205447999999999  Released          6.1     1128.0
21       7.337905999999999  Released          5.4      224.0
22               12.669608  Released          6.4      305.0
23               10.701801  Released          6.5      199.0
24               11.065939  Released          6.0      394.0
25               12.133094  Released          6.3      143.0
26               10.332025  Released          7.1      365.0
27      1.8458990000000002  Released          7.0       33.0
28                8.681325  Released          6.6       91.0
29                2.228434  Released          7.4       36.0
...                    ...       ...          ...        ...
9970              0.924931  Released          5.3        2.0
9971   0.44468199999999997  Released          4.0        1.0
9972              0.737708  Released          7.3        4.0
9973              0.802403  Released          6.5        2.0
9974              0.617142  Released          3.0        4.0
9975   0.43266099999999996  Released          5.4        8.0
9976              0.955169  Released          6.0        1.0
9977   0.11901199999999999  Released          3.0        2.0
9978   0.45532799999999995  Released          4.5        4.0
9979              0.400912  Released          0.0        0.0
9980              1.203718  Released          5.1        9.0
9981              0.369025  Released          5.3       14.0
9982              0.728214  Released          6.5        4.0
9983               1.54267  Released          5.3        6.0
9984   0.47889799999999993  Released          6.0        1.0
9985              0.785591  Released          5.0        6.0
9986              0.619388  Released          0.0        0.0
9987   0.06099500000000001  Released          5.0        1.0
9988              0.222519  Released          7.6        5.0
9989     6.941033999999999  Released          5.5       39.0
9990              0.071809  Released          6.5        2.0
9991              0.983058  Released          9.0        2.0
9992              0.702008  Released          7.9        9.0
9993              6.852262  Released          6.9       96.0
9994              0.932758  Released          6.4        9.0
9995  0.013061000000000001  Released          0.0        0.0
9996              0.824586  Released          3.1        5.0
9997              1.086509  Released          4.4       13.0
9998              2.242706  Released          5.9        4.0
9999    0.8422370000000001  Released          4.1        4.0

[30000 rows x 11 columns]

          id                           title release_date  \
0        862                       Toy Story   1995-10-30
1       8844                         Jumanji   1995-12-15
2      15602                Grumpier Old Men   1995-12-22
3      31357               Waiting to Exhale   1995-12-22
4     253632                     Baton Rouge   1988-10-08
5      79048                    C'est la vie   2001-11-07
6      11862     Father of the Bride Part II   1995-02-10
7        949                            Heat   1995-12-15
8      11860                         Sabrina   1995-12-15
9      45325                    Tom and Huck   1995-12-22
10      9091                    Sudden Death   1995-12-22
11       710                       GoldenEye   1995-11-16
12      9087          The American President   1995-11-17
13     12110     Dracula: Dead and Loving It   1995-12-22
14     21032                           Balto   1995-12-22
15     10858                           Nixon   1995-12-22
16      1408                Cutthroat Island   1995-12-22
17       524                          Casino   1995-11-22
18      4584           Sense and Sensibility   1995-12-13
19         5                      Four Rooms   1995-12-09
20      9273  Ace Ventura: When Nature Calls   1995-11-10
21     11517                     Money Train   1995-11-21
22      8012                      Get Shorty   1995-10-20
23      1710                         Copycat   1995-10-27
24      9691                       Assassins   1995-10-06
25     12665                          Powder   1995-10-27
26       451               Leaving Las Vegas   1995-10-27
27     16420                         Othello   1995-12-15
28      9263                    Now and Then   1995-10-20
29     17015                      Persuasion   1995-09-27
...      ...                             ...          ...
9970  347763                      The Lesson   2015-08-31
9971   63959               The Zodiac Killer   1971-04-07
9972   21837                         Cop Dog   2008-01-01
9973  332212                        Robo-Dog   2015-01-01
9974  393841                  Pelli Choopulu   2016-07-29
9975   36375                    Edge of Doom   1950-08-03
9976   85814                 Youth Runs Wild   1944-09-01
9977  172104         Broadway Thru a Keyhole   1933-11-02
9978   68139                         Endgame   2000-09-10
9979  376651                         Endgame   2015-09-25
9980  300596                     Sidetracked   2015-01-30
9981  247773                   The Big Timer   1932-03-10
9982  248694                           Truth   2013-07-12
9983  376581                   Amateur Night   2016-08-12
9984  392572                          Rustom   2016-08-12
9985  340213                     Darkest Day   2015-05-15
9986  342562                  Tiny Giants 3D   2014-05-24
9987   44902            Footsteps in the Fog   1955-09-14
9988  232860         Who Killed Aunt Maggie?   1940-11-01
9989  404141      One More Time with Feeling   2016-09-08
9990  176568                        Sensuela   1973-05-29
9991  126402                      Milestones   1975-10-08
9992  336220                  The Other Side   2015-11-25
9993  324345                The Seventh Fire   2015-02-07
9994  347751                      13 Cameras   2015-08-30
9995  313297        Kubo and the Two Strings   2016-08-18
9996  358243                        Paradise   2015-12-31
9997  164580               The Spirit of '45   2013-03-15
9998  381255                    Down by Love   2016-03-02
9999  274902                    Keeping Rosy   2014-06-08

                                                 genres  \
0                     ['Animation', 'Comedy', 'Family']
1                    ['Adventure', 'Fantasy', 'Family']
2                                 ['Romance', 'Comedy']
3                        ['Comedy', 'Drama', 'Romance']
4                                          ['Thriller']
5                                   ['Drama', 'Comedy']
6                                            ['Comedy']
7              ['Action', 'Crime', 'Drama', 'Thriller']
8                                 ['Comedy', 'Romance']
9            ['Action', 'Adventure', 'Drama', 'Family']
10                  ['Action', 'Adventure', 'Thriller']
11                  ['Adventure', 'Action', 'Thriller']
12                       ['Comedy', 'Drama', 'Romance']
13                                 ['Comedy', 'Horror']
14                 ['Family', 'Animation', 'Adventure']
15                                 ['History', 'Drama']
16                              ['Action', 'Adventure']
17                                   ['Drama', 'Crime']
18                                 ['Drama', 'Romance']
19                                  ['Crime', 'Comedy']
20                     ['Crime', 'Comedy', 'Adventure']
21                        ['Action', 'Comedy', 'Crime']
22                      ['Comedy', 'Thriller', 'Crime']
23                                ['Drama', 'Thriller']
24         ['Action', 'Adventure', 'Crime', 'Thriller']
25    ['Drama', 'Fantasy', 'Science Fiction', 'Thril...
26                                 ['Drama', 'Romance']
27                                            ['Drama']
28                        ['Comedy', 'Drama', 'Family']
29                                 ['Drama', 'Romance']
...                                                 ...
9970                    ['Drama', 'Thriller', 'Horror']
9971         ['Thriller', 'Crime', 'Horror', 'Mystery']
9972                  ['Action', 'Adventure', 'Family']
9973                                                 []
9974                              ['Romance', 'Comedy']
9975                     ['Crime', 'Drama', 'Thriller']
9976                                          ['Drama']
9977                      ['Romance', 'Music', 'Drama']
9978                    ['Comedy', 'Drama', 'TV Movie']
9979                                          ['Drama']
9980                                         ['Comedy']
9981                                          ['Drama']
9982                                       ['Thriller']
9983                                         ['Comedy']
9984                            ['Thriller', 'Romance']
9985                  ['Action', 'Adventure', 'Horror']
9986             ['Adventure', 'Documentary', 'Family']
9987                                          ['Drama']
9988                                        ['Mystery']
9989                           ['Documentary', 'Music']
9990                                          ['Drama']
9991                                                 []
9992                                    ['Documentary']
9993                                                 []
9994                                ['Drama', 'Horror']
9995               ['Animation', 'Adventure', 'Family']
9996                                                 []
9997                                    ['Documentary']
9998                               ['Drama', 'Romance']
9999                                       ['Thriller']

                                                tagline  \
0                                                  None
1             Roll the dice and unleash the excitement!
2     Still Yelling. Still Fighting. Still Ready for...
3     Friends are the people who let you be yourself...
4                                                  None
5                                                  None
6     Just When His World Is Back To Normal... He's ...
7                              A Los Angeles Crime Saga
8     You are cordially invited to the most surprisi...
9                                The Original Bad Boys.
10                           Terror goes into overtime.
11                 No limits. No fears. No substitutes.
12    Why can't the most powerful man in the world h...
13                                                 None
14                       Part Dog. Part Wolf. All Hero.
15    Triumphant in Victory, Bitter in Defeat. He Ch...
16    The Course Has Been Set. There Is No Turning B...
17                     No one stays at the top forever.
18             Lose your heart and come to your senses.
19    Twelve outrageous guests. Four scandalous requ...
20              New animals. New adventures. Same hair.
21                          Get on, or GET OUT THE WAY!
22    The mob is tough, but it’s nothing like show b...
23    One man is copying the most notorious killers ...
24    In the shadows of life, In the business of dea...
25    An extraordinary encounter with another human ...
26                       I Love You... The Way You Are.
27                      Envy, greed, jealousy and love.
28    In every woman there is the girl she left behind.
29                                                 None
...                                                 ...
9970                                               None
9971                                 It really happened
9972                                               None
9973                                               None
9974                                               None
9975  100 BREATH-TAKING MINUTES OF ""EDGE-OF-YOUR-SE...
9976            THUNDERING DRAMA of youth on the loose!
9977                                               None
9978                                               None
9979                                               None
9980                                               None
9981                                               None
9982                The one thing we search for most...
9983                        Every job has pros and cons
9984  Decorated Officer. Devoted Family Man. Defendi...
9985                                               None
9986                                               None
9987                    CLOSE ENOUGH TO KISS...OR KILL!
9988                                               None
9989                                               None
9990                                               None
9991                                               None
9992                                               None
9993                                               None
9994                                  Change your locks
9995                                   The quest begins
9996                                               None
9997                                               None
9998                                               None
9999                                               None

                                               overview    imdb_id  \
0     Led by Woody, Andy's toys live happily in his ...  tt0114709
1     When siblings Judy and Peter discover an encha...  tt0113497
2     A family wedding reignites the ancient feud be...  tt0113228
3     Cheated on, mistreated and stepped on, the wom...  tt0114885
4                                                  None  tt0094822
5                                                  None  tt0260198
6     Just when George Banks has recovered from his ...  tt0113041
7     Obsessive master thief, Neil McCauley leads a ...  tt0113277
8     An ugly duckling having undergone a remarkable...  tt0114319
9     A mischievous young boy, Tom Sawyer, witnesses...  tt0112302
10    International action superstar Jean Claude Van...  tt0114576
11    James Bond must unmask the mysterious head of ...  tt0113189
12    Widowed U.S. president Andrew Shepherd, one of...  tt0112346
13    When a lawyer shows up at the vampire's doorst...  tt0112896
14    An outcast half-wolf risks his life to prevent...  tt0112453
15    An all-star cast powers this epic look at Amer...  tt0113987
16    Morgan Adams and her slave, William Shaw, are ...  tt0112760
17    The life of the gambling paradise – Las Vegas ...  tt0112641
18    Rich Mr. Dashwood dies, leaving his second wif...  tt0114388
19    It's Ted the Bellhop's first night on the job....  tt0113101
20    Summoned from an ashram in Tibet, Ace finds hi...  tt0112281
21    A vengeful New York transit cop decides to ste...  tt0113845
22    Chili Palmer is a Miami mobster who gets sent ...  tt0113161
23    An agoraphobic psychologist and a female detec...  tt0112722
24    Assassin Robert Rath arrives at a funeral to k...  tt0112401
25    Harassed by classmates who won't accept his sh...  tt0114168
26    Ben Sanderson, an alcoholic Hollywood screenwr...  tt0113627
27    The evil Iago pretends to be friend of Othello...  tt0114057
28    Waxing nostalgic about the bittersweet passage...  tt0114011
29    This film adaptation of Jane Austen's last nov...  tt0114117
...                                                 ...        ...
9970  Two schoolboy delinquents learn a lesson that ...  tt4078160
9971  The San Francisco area is beset by a series of...  tt0143016
9972  Ever since Robby's father was killed while on ...  tt1209380
9973  ROBO-DOG is a real-world fantasy film for the ...  tt3591946
9974  Raj Kandukuri and BiG Ben Films in association...  tt5824826
9975  A priest sets out to catch the man who killed ...  tt0042428
9976  During WWII, adults are either off fighting or...  tt0037476
9977  Racketeer Frank Rocci is smitten with Joan Whe...  tt0023847
9978  Hamm is blind and unable to stand; Clov, his s...  tt0216736
9979  Since he was 5 yrs old, Jose's abuelita taught...  tt2941396
9980  A rural couple in crisis, who have a brother a...  tt3495184
9981  Cooky Bradford thinks he's a fighter. He's mos...  tt0022682
9982  A suspenseful, psychological thriller, ""Truth...  tt2459920
9983  Guy Carter, an insecure expectant father unabl...  tt4265508
9984  Rustom Pavri, an honourable officer of the Ind...  tt5165344
9985  Dan wakes up on a beach with no memory. He dis...  tt2630992
9986  A short about what happens under and around us...  tt3739614
9987  A Victorian-era murder mystery about a parlour...  tt0048087
9988  When a much-despised matriarch is murdered, or...  tt0033257
9989  Documents the writing, recording and performin...  tt5777628
9990  Laila is an innocent Lappish girl and the only...  tt0138795
9991  A many-faceted portrait of those individuals w...  tt0073389
9992  In an invisible territory at the margins of so...  tt4610244
9993  When Rob Brown, a Native American gang leader ...  tt3263548
9994  Newlyweds Claire and Ryan have just moved into...  tt4392454
9995  Kubo mesmerizes the people in his village with...  tt4302938
9996  Hanieh, a young teacher, lives in the househol...  tt4856674
9997  Ken Loach’s 2013 documentary about social chan...  tt2332801
9998  A man, a woman. A prison director, his inmate....  tt4428762
9999  A woman becomes enraged after being passed ove...  tt2614700

              popularity    status vote_average vote_count
0              21.946943  Released          7.7     5415.0
1              17.015539  Released          6.9     2413.0
2                11.7129  Released          6.5       92.0
3               3.859495  Released          6.1       34.0
4               0.437895  Released          0.0        0.0
5               0.001714  Released          0.0        0.0
6      8.387519000000001  Released          5.7      173.0
7              17.924927  Released          7.7     1886.0
8               6.677277  Released          6.2      141.0
9     2.5611610000000002  Released          5.4       45.0
10               5.23158  Released          5.5      174.0
11    14.686035999999998  Released          6.6     1194.0
12              6.318445  Released          6.5      199.0
13              5.430331  Released          5.7      210.0
14             12.140733  Released          7.1      423.0
15                 5.092  Released          7.1       72.0
16     7.284477000000001  Released          5.7      137.0
17             10.137389  Released          7.8     1343.0
18             10.673167  Released          7.2      364.0
19              9.026586  Released          6.5      539.0
20     8.205447999999999  Released          6.1     1128.0
21     7.337905999999999  Released          5.4      224.0
22             12.669608  Released          6.4      305.0
23             10.701801  Released          6.5      199.0
24             11.065939  Released          6.0      394.0
25             12.133094  Released          6.3      143.0
26             10.332025  Released          7.1      365.0
27    1.8458990000000002  Released          7.0       33.0
28              8.681325  Released          6.6       91.0
29              2.228434  Released          7.4       36.0
...                  ...       ...          ...        ...
9970             2.63201  Released          3.5       10.0
9971            0.072873  Released          6.3        4.0
9972            0.295476  Released          7.0        1.0
9973            0.729468  Released          6.0        1.0
9974            0.902294  Released          7.8        4.0
9975            1.119234  Released          5.1        4.0
9976            0.003753  Released          0.0        0.0
9977            0.299094  Released          0.0        0.0
9978            0.011746  Released          0.0        0.0
9979            0.211327  Released          5.8        4.0
9980            1.235675  Released          6.1       22.0
9981             0.25774  Released          0.0        0.0
9982            0.716906  Released          5.6        9.0
9983           17.208064  Released          5.6       39.0
9984            7.333139  Released          7.3       25.0
9985            1.239071  Released          3.7       15.0
9986            0.597164  Released          8.1        8.0
9987            0.550094  Released          7.7        7.0
9988            0.343011  Released          4.0        2.0
9989            1.202459  Released          8.4       20.0
9990            1.002187  Released          4.5        4.0
9991            0.008903  Released          5.0        1.0
9992            0.528407  Released          5.7        5.0
9993            0.469971  Released          6.5        2.0
9994            3.005423  Released          5.5       32.0
9995           12.321832  Released          7.7      982.0
9996            0.100144  Released          2.0        2.0
9997            1.269054  Released          6.0        3.0
9998            4.553004  Released          6.0       64.0
9999             1.00038  Released          6.1       11.0

[40000 rows x 11 columns]

          id                             title release_date  \
0        862                         Toy Story   1995-10-30
1       8844                           Jumanji   1995-12-15
2      15602                  Grumpier Old Men   1995-12-22
3      31357                 Waiting to Exhale   1995-12-22
4     253632                       Baton Rouge   1988-10-08
5      79048                      C'est la vie   2001-11-07
6      11862       Father of the Bride Part II   1995-02-10
7        949                              Heat   1995-12-15
8      11860                           Sabrina   1995-12-15
9      45325                      Tom and Huck   1995-12-22
10      9091                      Sudden Death   1995-12-22
11       710                         GoldenEye   1995-11-16
12      9087            The American President   1995-11-17
13     12110       Dracula: Dead and Loving It   1995-12-22
14     21032                             Balto   1995-12-22
15     10858                             Nixon   1995-12-22
16      1408                  Cutthroat Island   1995-12-22
17       524                            Casino   1995-11-22
18      4584             Sense and Sensibility   1995-12-13
19         5                        Four Rooms   1995-12-09
20      9273    Ace Ventura: When Nature Calls   1995-11-10
21     11517                       Money Train   1995-11-21
22      8012                        Get Shorty   1995-10-20
23      1710                           Copycat   1995-10-27
24      9691                         Assassins   1995-10-06
25     12665                            Powder   1995-10-27
26       451                 Leaving Las Vegas   1995-10-27
27     16420                           Othello   1995-12-15
28      9263                      Now and Then   1995-10-20
29     17015                        Persuasion   1995-09-27
...      ...                               ...          ...
5413   45527                   The Final Storm   2010-01-01
5414  455661                    In a Heartbeat   2017-06-01
5415  327237            Blood, Sweat and Tears   2015-04-02
5416   84710                      Jungle Woman   1944-06-01
5417   39562                 To Be Fat Like Me   2007-01-08
5418   14008                       Cadet Kelly   2002-03-07
5419   44330   The Scheming Gambler's Paradise   1905-01-01
5420   49279      The Man with the Rubber Head   1901-01-01
5421   44333          The Living Playing Cards   1905-01-01
5422   49277             The Hilarious Posters   1906-01-01
5423   49271               The Devilish Tenant   1909-01-01
5424   44324           The Untameable Whiskers   1904-03-05
5425  122036  The Imperceptable Transmutations   1904-01-01
5426   14885  Pooh's Heffalump Halloween Movie   2005-09-13
5427   49280                  The One-Man Band   1900-01-01
5428  106807  The Fat and Lean Wrestling Match   1900-01-01
5429  276895                       Deep Hearts   1981-01-01
5430  404604                               Mom   2017-07-07
5431  420346                 The Morning After   2015-01-11
5432   67179         St. Michael Had a Rooster   1972-01-01
5433   84419                  House of Horrors   1946-03-29
5434  390959         Shadow of the Blair Witch   2000-10-22
5435  289923               The Burkittsville 7   2000-10-03
5436  222848                   Caged Heat 3000   1995-01-01
5437   30840                        Robin Hood   1991-05-13
5438  439050                            Subdue           NA
5439  111109               Century of Birthing   2011-11-17
5440   67758                          Betrayal   2003-08-01
5441  227506                  Satan Triumphant   1917-10-21
5442  461257                          Queerama   2017-06-09

                                                 genres  \
0                     ['Animation', 'Comedy', 'Family']
1                    ['Adventure', 'Fantasy', 'Family']
2                                 ['Romance', 'Comedy']
3                        ['Comedy', 'Drama', 'Romance']
4                                          ['Thriller']
5                                   ['Drama', 'Comedy']
6                                            ['Comedy']
7              ['Action', 'Crime', 'Drama', 'Thriller']
8                                 ['Comedy', 'Romance']
9            ['Action', 'Adventure', 'Drama', 'Family']
10                  ['Action', 'Adventure', 'Thriller']
11                  ['Adventure', 'Action', 'Thriller']
12                       ['Comedy', 'Drama', 'Romance']
13                                 ['Comedy', 'Horror']
14                 ['Family', 'Animation', 'Adventure']
15                                 ['History', 'Drama']
16                              ['Action', 'Adventure']
17                                   ['Drama', 'Crime']
18                                 ['Drama', 'Romance']
19                                  ['Crime', 'Comedy']
20                     ['Crime', 'Comedy', 'Adventure']
21                        ['Action', 'Comedy', 'Crime']
22                      ['Comedy', 'Thriller', 'Crime']
23                                ['Drama', 'Thriller']
24         ['Action', 'Adventure', 'Crime', 'Thriller']
25    ['Drama', 'Fantasy', 'Science Fiction', 'Thril...
26                                 ['Drama', 'Romance']
27                                            ['Drama']
28                        ['Comedy', 'Drama', 'Family']
29                                 ['Drama', 'Romance']
...                                                 ...
5413        ['Action', 'Mystery', 'Thriller', 'Horror']
5414       ['Family', 'Animation', 'Romance', 'Comedy']
5415                                          ['Drama']
5416                     ['Drama', 'Fantasy', 'Horror']
5417                    ['Drama', 'Family', 'TV Movie']
5418                                         ['Comedy']
5419                                                 []
5420           ['Comedy', 'Fantasy', 'Science Fiction']
5421                                        ['Fantasy']
5422                              ['Fantasy', 'Comedy']
5423                              ['Fantasy', 'Comedy']
5424                                                 []
5425                                                 []
5426                            ['Animation', 'Family']
5427                  ['Fantasy', 'Action', 'Thriller']
5428                              ['Comedy', 'Fantasy']
5429                                    ['Documentary']
5430                     ['Crime', 'Drama', 'Thriller']
5431                                ['Comedy', 'Drama']
5432                                                 []
5433                  ['Horror', 'Mystery', 'Thriller']
5434                              ['Mystery', 'Horror']
5435                                         ['Horror']
5436                                ['Science Fiction']
5437                     ['Drama', 'Action', 'Romance']
5438                                ['Drama', 'Family']
5439                                          ['Drama']
5440                    ['Action', 'Drama', 'Thriller']
5441                                                 []
5442                                                 []

                                                tagline  \
0                                                  None
1             Roll the dice and unleash the excitement!
2     Still Yelling. Still Fighting. Still Ready for...
3     Friends are the people who let you be yourself...
4                                                  None
5                                                  None
6     Just When His World Is Back To Normal... He's ...
7                              A Los Angeles Crime Saga
8     You are cordially invited to the most surprisi...
9                                The Original Bad Boys.
10                           Terror goes into overtime.
11                 No limits. No fears. No substitutes.
12    Why can't the most powerful man in the world h...
13                                                 None
14                       Part Dog. Part Wolf. All Hero.
15    Triumphant in Victory, Bitter in Defeat. He Ch...
16    The Course Has Been Set. There Is No Turning B...
17                     No one stays at the top forever.
18             Lose your heart and come to your senses.
19    Twelve outrageous guests. Four scandalous requ...
20              New animals. New adventures. Same hair.
21                          Get on, or GET OUT THE WAY!
22    The mob is tough, but it’s nothing like show b...
23    One man is copying the most notorious killers ...
24    In the shadows of life, In the business of dea...
25    An extraordinary encounter with another human ...
26                       I Love You... The Way You Are.
27                      Envy, greed, jealousy and love.
28    In every woman there is the girl she left behind.
29                                                 None
...                                                 ...
5413                                     Action, Horror
5414               The Heart Wants What The Heart Wants
5415                        The movie about Andre Hazes
5416               RAPTUROUS BEAUTY!...FURY OF A BEAST!
5417                                               None
5418                            Too Cool For The Rules!
5419                                               None
5420                                               None
5421                                               None
5422                                               None
5423                                               None
5424                                               None
5425                                               None
5426                 Celebrate Lumpy's First Halloween.
5427                                               None
5428                                               None
5429                                               None
5430                                               None
5431                          What happened last night?
5432                                               None
5433                                Meet...The CREEPER!
5434                                               None
5435  Do you know what happened 50 years before ""Th...
5436                                               None
5437                                               None
5438         Rising and falling between a man and woman
5439                                               None
5440                             A deadly game of wits.
5441                                               None
5442                                               None

                                               overview    imdb_id  \
0     Led by Woody, Andy's toys live happily in his ...  tt0114709
1     When siblings Judy and Peter discover an encha...  tt0113497
2     A family wedding reignites the ancient feud be...  tt0113228
3     Cheated on, mistreated and stepped on, the wom...  tt0114885
4                                                  None  tt0094822
5                                                  None  tt0260198
6     Just when George Banks has recovered from his ...  tt0113041
7     Obsessive master thief, Neil McCauley leads a ...  tt0113277
8     An ugly duckling having undergone a remarkable...  tt0114319
9     A mischievous young boy, Tom Sawyer, witnesses...  tt0112302
10    International action superstar Jean Claude Van...  tt0114576
11    James Bond must unmask the mysterious head of ...  tt0113189
12    Widowed U.S. president Andrew Shepherd, one of...  tt0112346
13    When a lawyer shows up at the vampire's doorst...  tt0112896
14    An outcast half-wolf risks his life to prevent...  tt0112453
15    An all-star cast powers this epic look at Amer...  tt0113987
16    Morgan Adams and her slave, William Shaw, are ...  tt0112760
17    The life of the gambling paradise – Las Vegas ...  tt0112641
18    Rich Mr. Dashwood dies, leaving his second wif...  tt0114388
19    It's Ted the Bellhop's first night on the job....  tt0113101
20    Summoned from an ashram in Tibet, Ace finds hi...  tt0112281
21    A vengeful New York transit cop decides to ste...  tt0113845
22    Chili Palmer is a Miami mobster who gets sent ...  tt0113161
23    An agoraphobic psychologist and a female detec...  tt0112722
24    Assassin Robert Rath arrives at a funeral to k...  tt0112401
25    Harassed by classmates who won't accept his sh...  tt0114168
26    Ben Sanderson, an alcoholic Hollywood screenwr...  tt0113627
27    The evil Iago pretends to be friend of Othello...  tt0114057
28    Waxing nostalgic about the bittersweet passage...  tt0114011
29    This film adaptation of Jane Austen's last nov...  tt0114117
...                                                 ...        ...
5413  A stranger named Silas flees from a devastatin...  tt1331329
5414  A closeted boy runs the risk of being outed by...  tt6969946
5415  Bloed, Zweet en Tranen (Blood, Sweat and Tears...  tt3814486
5416  Paula the ape woman (Acquanetta) is alive and ...  tt0036975
5417  Pretty, popular, and slim high-schooler Aly Sc...  tt0889600
5418  Hyperactive teenager Kelly is enrolled into a ...  tt0294425
5419  A combination gambling den and bawdy house is ...  tt0135690
5420  A chemist in his laboratory places upon a tabl...  tt0000359
5421  A bearded magician holds up a large playing ca...  tt0135179
5422  A wall full of advertising posters comes to life.  tt0135122
5423  A man rents an apartment and furnishes it in r...  tt0127948
5424  The background of this picture represents a sc...  tt0135631
5425  This shows a prince entering upon the stage of...  tt0224286
5426  It's Halloween in the 100 Acre Wood, and Roo's...  tt0457437
5427  A band-leader has arranged seven chairs for th...  tt0135453
5428         A series of fantastical wrestling matches.  tt0135571
5429  Deep Hearts is a film about the Bororo Fulani,...  tt3054038
5430  The bliss of a biology teacher’s family life i...  tt5690142
5431  The Morning After is a feature film that consi...  tt4130180
5432  Sentenced to life imprisonment for illegal act...  tt0069215
5433  An unsuccessful sculptor saves a madman named ...  tt0038621
5434  In this true-crime documentary, we delve into ...  tt0265736
5435  A film archivist revisits the story of Rustin ...  tt0252966
5436  It's the year 3000 AD. The world's most danger...  tt0112613
5437  Yet another version of the classic epic, with ...  tt0102797
5438        Rising and falling between a man and woman.  tt6209470
5439  An artist struggles to finish his work while a...  tt2028550
5440  When one of her hits goes wrong, a professiona...  tt0303758
5441  In a small town live two brothers, one a minis...  tt0008536
5442  50 years after decriminalisation of homosexual...  tt6980792

              popularity    status vote_average vote_count
0              21.946943  Released          7.7     5415.0
1              17.015539  Released          6.9     2413.0
2                11.7129  Released          6.5       92.0
3               3.859495  Released          6.1       34.0
4               0.437895  Released          0.0        0.0
5               0.001714  Released          0.0        0.0
6      8.387519000000001  Released          5.7      173.0
7              17.924927  Released          7.7     1886.0
8               6.677277  Released          6.2      141.0
9     2.5611610000000002  Released          5.4       45.0
10               5.23158  Released          5.5      174.0
11    14.686035999999998  Released          6.6     1194.0
12              6.318445  Released          6.5      199.0
13              5.430331  Released          5.7      210.0
14             12.140733  Released          7.1      423.0
15                 5.092  Released          7.1       72.0
16     7.284477000000001  Released          5.7      137.0
17             10.137389  Released          7.8     1343.0
18             10.673167  Released          7.2      364.0
19              9.026586  Released          6.5      539.0
20     8.205447999999999  Released          6.1     1128.0
21     7.337905999999999  Released          5.4      224.0
22             12.669608  Released          6.4      305.0
23             10.701801  Released          6.5      199.0
24             11.065939  Released          6.0      394.0
25             12.133094  Released          6.3      143.0
26             10.332025  Released          7.1      365.0
27    1.8458990000000002  Released          7.0       33.0
28              8.681325  Released          6.6       91.0
29              2.228434  Released          7.4       36.0
...                  ...       ...          ...        ...
5413            1.270832  Released          3.7       11.0
5414            20.82178  Released          8.3      146.0
5415            0.590087  Released          6.8       11.0
5416            0.143223  Released          5.8        2.0
5417            0.767762  Released          5.0       12.0
5418            4.392389  Released          5.2      145.0
5419             0.21926        NA          5.0        3.0
5420            1.618458  Released          7.6       29.0
5421            0.208349  Released          6.1        8.0
5422            0.148131  Released          4.5        2.0
5423            0.725084  Released          6.7       12.0
5424            0.213973  Released          6.0        6.0
5425            0.071782  Released          5.0        2.0
5426            2.568495  Released          5.4        7.0
5427            1.109068  Released          6.5       22.0
5428            0.225432  Released          6.5        6.0
5429            0.011025  Released          0.0        0.0
5430            1.559596  Released          6.6       14.0
5431            0.139936  Released          4.0        2.0
5432            0.225051  Released          6.0        3.0
5433            0.222814  Released          6.3        8.0
5434            0.076061  Released          7.0        2.0
5435             0.38645  Released          7.0        1.0
5436            0.661558  Released          3.5        1.0
5437            5.683753  Released          5.7       26.0
5438            0.072051  Released          4.0        1.0
5439            0.178241  Released          9.0        3.0
5440            0.903007  Released          3.8        6.0
5441            0.003503  Released          0.0        0.0
5442            0.163015  Released          0.0        0.0

[45443 rows x 11 columns]
(45443, 11)

In [8]:
credits = pd.DataFrame()
query_credits = "SELECT * FROM [dbo].[credits]"
for chunk in pd.read_sql_query(query_credits, cnxn, chunksize=10**4):
    credits = pd.concat([credits, chunk])
    print(credits)
print(credits.shape)

                                                   cast  \
0     [{'cast_id': 1, 'character': 'Maj. Jock Sincla...
1     [{'cast_id': 1, 'character': 'Louis', 'credit_...
2     [{'cast_id': 1, 'character': 'Martha Travis', ...
3     [{'cast_id': 1, 'character': 'Liz', 'credit_id...
4     [{'cast_id': 2, 'character': 'Francis Sullivan...
5     [{'cast_id': 4, 'character': 'Glaeken Trismege...
6     [{'cast_id': 5, 'character': 'Commercial Photo...
7     [{'cast_id': 5, 'character': 'Joji Atsumi', 'c...
8     [{'cast_id': 1, 'character': 'Joe Kidd', 'cred...
9     [{'cast_id': 1, 'character': 'Stuart Sawyer', ...
10    [{'cast_id': 1, 'character': 'Neal Downs', 'cr...
11    [{'cast_id': 5, 'character': 'Mr. Franz', 'cre...
12    [{'cast_id': 4, 'character': 'Abhay', 'credit_...
13    [{'cast_id': 2, 'character': 'Lady Edwina Eske...
14    [{'cast_id': 3, 'character': 'Elaine Cheng', '...
15    [{'cast_id': 1, 'character': 'Professor Tom Ne...
16    [{'cast_id': 1, 'character': 'George Webber', ...
17    [{'cast_id': 1, 'character': 'Valentine McKee'...
18    [{'cast_id': 1, 'character': 'Hilde', 'credit_...
19    [{'cast_id': 1, 'character': 'Boris Lermontov'...
20    [{'cast_id': 1, 'character': 'Self', 'credit_i...
21    [{'cast_id': 1, 'character': 'Zhao Di, Young',...
22    [{'cast_id': 2, 'character': 'Kanji Watanabe',...
23    [{'cast_id': 1, 'character': 'Raymond McGillic...
24    [{'cast_id': 16, 'character': 'Sir Charles Lyt...
25    [{'cast_id': 11, 'character': 'Inspector Clous...
26    [{'cast_id': 9, 'character': 'John Matrix', 'c...
27    [{'cast_id': 1, 'character': 'Count Dracula', ...
28    [{'cast_id': 3, 'character': 'Don Rafael', 'cr...
29                                                   []
...                                                 ...
9970  [{'cast_id': 1, 'character': 'Evalita', 'credi...
9971  [{'cast_id': 4, 'character': 'Harold Lewis', '...
9972  [{'cast_id': 0, 'character': 'Kate Melendez', ...
9973  [{'cast_id': 1, 'character': 'Dr. Kusumi', 'cr...
9974  [{'cast_id': 1, 'character': 'Eugene Earl Axli...
9975  [{'cast_id': 4, 'character': 'Shozo Hirono', '...
9976  [{'cast_id': 1, 'character': 'Heiko Degener', ...
9977  [{'cast_id': 1, 'character': 'Andre Stander', ...
9978  [{'cast_id': 2, 'character': 'Gitl', 'credit_i...
9979  [{'cast_id': 3, 'character': 'Mikey', 'credit_...
9980  [{'cast_id': 12, 'character': 'Harry Graham / ...
9981  [{'cast_id': 2, 'character': 'Pilar', 'credit_...
9982  [{'cast_id': 1, 'character': 'Sandy Travis', '...
9983  [{'cast_id': 1, 'character': 'Alvin C. York', ...
9984  [{'cast_id': 2, 'character': 'Madame Rosa', 'c...
9985  [{'cast_id': 1, 'character': 'Quentin', 'credi...
9986  [{'cast_id': 1, 'character': 'Pfc. Charlie Sha...
9987  [{'cast_id': 2, 'character': 'Adam Miauczynski...
9988  [{'cast_id': 6, 'character': 'Avatar (voice)',...
9989  [{'cast_id': 1, 'character': 'Casey Edwards', ...
9990  [{'cast_id': 1, 'character': 'Brancaleone da N...
9991  [{'cast_id': 1, 'character': 'Colin', 'credit_...
9992  [{'cast_id': 1, 'character': 'Bud Alexander', ...
9993  [{'cast_id': 1, 'character': 'Lester', 'credit...
9994  [{'cast_id': 1, 'character': 'Peter Sellers', ...
9995  [{'cast_id': 2, 'character': 'Sheriff Darl', '...
9996  [{'cast_id': 1, 'character': 'Deunan', 'credit...
9997  [{'cast_id': 4, 'character': 'Pierre', 'credit...
9998  [{'cast_id': 5, 'character': 'Zhang Qiang', 'c...
9999  [{'cast_id': 8, 'character': 'Pippi Långstrump...

                                                   crew      id
0     [{'credit_id': '52fe4629c3a36847f80f02f9', 'de...   43048
1     [{'credit_id': '52fe449d9251416c7503af23', 'de...   11898
2     [{'credit_id': '52fe4831c3a368484e0ed51b', 'de...   71373
3     [{'credit_id': '52fe4c7a9251416c7511baed', 'de...  182097
4     [{'credit_id': '52fe44f5c3a368484e040779', 'de...   26225
5     [{'credit_id': '52fe44f3c3a368484e04024d', 'de...   26198
6     [{'credit_id': '52fe45909251416c91036cc9', 'de...   35072
7     [{'credit_id': '52fe4635c3a36847f80f2b1f', 'de...   43226
8     [{'credit_id': '52fe46239251416c7506e767', 'de...   14881
9     [{'credit_id': '52fe47859251416c7509c6c5', 'de...   18549
10    [{'credit_id': '52fe45309251416c7504e9d3', 'de...   13021
11    [{'credit_id': '52fe4690c3a36847f8105e03', 'de...   44585
12    [{'credit_id': '52fe45e8c3a368484e075c5d', 'de...   29538
13    [{'credit_id': '52fe4b61c3a36847f8200e3d', 'de...  115109
14    [{'credit_id': '52fe461ec3a36847f80edbfb', 'de...   42850
15    [{'credit_id': '56ceedb19251413e5c0021bb', 'de...   35073
16    [{'credit_id': '52fe44d6c3a36847f80acf17', 'de...    9051
17    [{'credit_id': '52fe44eec3a36847f80b2695', 'de...    9362
18    [{'credit_id': '52fe4aaf9251416c750ea901', 'de...  141241
19    [{'credit_id': '52fe47dd9251416c750a8179', 'de...   19542
20    [{'credit_id': '594588ac925141400d015e9a', 'de...  120683
21    [{'credit_id': '52fe44d79251416c75042dcf', 'de...   12276
22    [{'credit_id': '52fe43a4c3a36847f8064357', 'de...    3782
23    [{'credit_id': '52fe45fa9251416c91044f5d', 'de...   36629
24    [{'credit_id': '52fe4290c3a36847f802881d', 'de...     936
25    [{'credit_id': '52fe44d69251416c75042b8d', 'de...   12268
26    [{'credit_id': '52fe43df9251416c750216bd', 'de...   10999
27    [{'credit_id': '52fe45209251416c910285d3', 'de...   33521
28    [{'credit_id': '52fe43cec3a36847f8071259', 'de...    4593
29    [{'credit_id': '52fe454d9251416c9102dbb3', 'de...   34044
...                                                 ...     ...
9970  [{'credit_id': '52fe4409c3a368484e00bb45', 'de...   21030
9971  [{'credit_id': '52fe49859251416c750cac53', 'de...   95466
9972  [{'credit_id': '571f803f925141052c0028f2', 'de...   26426
9973  [{'credit_id': '52fe478b9251416c7509d461', 'de...   18627
9974  [{'credit_id': '56d91e2f925141340201dbae', 'de...   39472
9975  [{'credit_id': '52fe45609251416c910302fd', 'de...   34326
9976  [{'credit_id': '52fe43989251416c750168fb', 'de...   10630
9977  [{'credit_id': '52fe47ab9251416c750a1857', 'de...   18927
9978  [{'credit_id': '540623e1c3a368068c008985', 'de...   42257
9979  [{'credit_id': '5985f2299251413d4a0004cb', 'de...   59143
9980  [{'credit_id': '52fe48bdc3a368484e1086c1', 'de...   74122
9981  [{'credit_id': '52fe4954c3a36847f8194b11', 'de...   58097
9982  [{'credit_id': '52fe44c2c3a368484e035649', 'de...   25350
9983  [{'credit_id': '578e5e19c3a36817450052a8', 'de...   16442
9984  [{'credit_id': '52fe45f5c3a36847f80e45c7', 'de...   42223
9985  [{'credit_id': '52fe4474c3a36847f809714d', 'de...    7229
9986  [{'credit_id': '52fe44fe9251416c75048087', 'de...   12576
9987  [{'credit_id': '52fe43f6c3a368484e0082bf', 'de...   20719
9988  [{'credit_id': '52fe46b89251416c750814c1', 'de...   16220
9989  [{'credit_id': '52fe451c9251416c91027d39', 'de...   33477
9990  [{'credit_id': '52fe4477c3a368484e024bf3', 'de...   23832
9991  [{'credit_id': '52fe48aec3a36847f817411d', 'de...   54794
9992  [{'credit_id': '56c7d32bc3a36840870012e3', 'de...   33475
9993  [{'credit_id': '56c7cd6d9251411733000ff0', 'de...   33472
9994  [{'credit_id': '52fe43929251416c75015b2d', 'de...   10609
9995  [{'credit_id': '52fe4334c3a36847f804249f', 'de...    2091
9996  [{'credit_id': '52fe446c9251416c7503442f', 'de...   11633
9997  [{'credit_id': '52fe458d9251416c91036563', 'de...   35031
9998  [{'credit_id': '532115b79251411f8f002140', 'de...   61477
9999  [{'credit_id': '52fe44bb9251416c7503ef2f', 'de...   12127

[10000 rows x 3 columns]
                                                   cast  \
0     [{'cast_id': 1, 'character': 'Maj. Jock Sincla...
1     [{'cast_id': 1, 'character': 'Louis', 'credit_...
2     [{'cast_id': 1, 'character': 'Martha Travis', ...
3     [{'cast_id': 1, 'character': 'Liz', 'credit_id...
4     [{'cast_id': 2, 'character': 'Francis Sullivan...
5     [{'cast_id': 4, 'character': 'Glaeken Trismege...
6     [{'cast_id': 5, 'character': 'Commercial Photo...
7     [{'cast_id': 5, 'character': 'Joji Atsumi', 'c...
8     [{'cast_id': 1, 'character': 'Joe Kidd', 'cred...
9     [{'cast_id': 1, 'character': 'Stuart Sawyer', ...
10    [{'cast_id': 1, 'character': 'Neal Downs', 'cr...
11    [{'cast_id': 5, 'character': 'Mr. Franz', 'cre...
12    [{'cast_id': 4, 'character': 'Abhay', 'credit_...
13    [{'cast_id': 2, 'character': 'Lady Edwina Eske...
14    [{'cast_id': 3, 'character': 'Elaine Cheng', '...
15    [{'cast_id': 1, 'character': 'Professor Tom Ne...
16    [{'cast_id': 1, 'character': 'George Webber', ...
17    [{'cast_id': 1, 'character': 'Valentine McKee'...
18    [{'cast_id': 1, 'character': 'Hilde', 'credit_...
19    [{'cast_id': 1, 'character': 'Boris Lermontov'...
20    [{'cast_id': 1, 'character': 'Self', 'credit_i...
21    [{'cast_id': 1, 'character': 'Zhao Di, Young',...
22    [{'cast_id': 2, 'character': 'Kanji Watanabe',...
23    [{'cast_id': 1, 'character': 'Raymond McGillic...
24    [{'cast_id': 16, 'character': 'Sir Charles Lyt...
25    [{'cast_id': 11, 'character': 'Inspector Clous...
26    [{'cast_id': 9, 'character': 'John Matrix', 'c...
27    [{'cast_id': 1, 'character': 'Count Dracula', ...
28    [{'cast_id': 3, 'character': 'Don Rafael', 'cr...
29                                                   []
...                                                 ...
9970  [{'cast_id': 1, 'character': 'Biggs', 'credit_...
9971  [{'cast_id': 3, 'character': 'Superintendent R...
9972  [{'cast_id': 3, 'character': 'Lily', 'credit_i...
9973  [{'cast_id': 8, 'character': 'Virginia', 'cred...
9974  [{'cast_id': 2, 'character': 'Dracula (voice)'...
9975  [{'cast_id': 2, 'character': 'Herself', 'credi...
9976  [{'cast_id': 32, 'character': 'Himself', 'cred...
9977  [{'cast_id': 1, 'character': 'Eric Keppler', '...
9978  [{'cast_id': 3, 'character': 'Narrator', 'cred...
9979  [{'cast_id': 2, 'character': 'Narrator', 'cred...
9980  [{'cast_id': 1, 'character': 'Himself', 'credi...
9981                                                 []
9982  [{'cast_id': 1, 'character': 'Doctor Who', 'cr...
9983  [{'cast_id': 4, 'character': 'Dayle', 'credit_...
9984  [{'cast_id': 2, 'character': "Robert 'Bobby' L...
9985  [{'cast_id': 4, 'character': 'Charlie Chan', '...
9986  [{'cast_id': 4, 'character': 'Charlie Chan', '...
9987  [{'cast_id': 2, 'character': 'Sanju', 'credit_...
9988  [{'cast_id': 4, 'character': 'Tomás Tomás', 'c...
9989  [{'cast_id': 12, 'character': 'Borman', 'credi...
9990  [{'cast_id': 1, 'character': 'Renzo Capetto', ...
9991  [{'cast_id': 11, 'character': 'Leroy', 'credit...
9992  [{'cast_id': 1012, 'character': 'Boyd Bolton',...
9993  [{'cast_id': 7, 'character': 'Daijiro Tamon', ...
9994  [{'cast_id': 1, 'character': 'Eric Whitlock', ...
9995  [{'cast_id': 1, 'character': 'Herself', 'credi...
9996  [{'cast_id': 6, 'character': 'Madame Tutli-Put...
9997  [{'cast_id': 3, 'character': 'Tony Mendez', 'c...
9998  [{'cast_id': 3, 'character': 'Marty Faranan', ...
9999  [{'cast_id': 6, 'character': 'Dagny Taggart', ...

                                                   crew      id
0     [{'credit_id': '52fe4629c3a36847f80f02f9', 'de...   43048
1     [{'credit_id': '52fe449d9251416c7503af23', 'de...   11898
2     [{'credit_id': '52fe4831c3a368484e0ed51b', 'de...   71373
3     [{'credit_id': '52fe4c7a9251416c7511baed', 'de...  182097
4     [{'credit_id': '52fe44f5c3a368484e040779', 'de...   26225
5     [{'credit_id': '52fe44f3c3a368484e04024d', 'de...   26198
6     [{'credit_id': '52fe45909251416c91036cc9', 'de...   35072
7     [{'credit_id': '52fe4635c3a36847f80f2b1f', 'de...   43226
8     [{'credit_id': '52fe46239251416c7506e767', 'de...   14881
9     [{'credit_id': '52fe47859251416c7509c6c5', 'de...   18549
10    [{'credit_id': '52fe45309251416c7504e9d3', 'de...   13021
11    [{'credit_id': '52fe4690c3a36847f8105e03', 'de...   44585
12    [{'credit_id': '52fe45e8c3a368484e075c5d', 'de...   29538
13    [{'credit_id': '52fe4b61c3a36847f8200e3d', 'de...  115109
14    [{'credit_id': '52fe461ec3a36847f80edbfb', 'de...   42850
15    [{'credit_id': '56ceedb19251413e5c0021bb', 'de...   35073
16    [{'credit_id': '52fe44d6c3a36847f80acf17', 'de...    9051
17    [{'credit_id': '52fe44eec3a36847f80b2695', 'de...    9362
18    [{'credit_id': '52fe4aaf9251416c750ea901', 'de...  141241
19    [{'credit_id': '52fe47dd9251416c750a8179', 'de...   19542
20    [{'credit_id': '594588ac925141400d015e9a', 'de...  120683
21    [{'credit_id': '52fe44d79251416c75042dcf', 'de...   12276
22    [{'credit_id': '52fe43a4c3a36847f8064357', 'de...    3782
23    [{'credit_id': '52fe45fa9251416c91044f5d', 'de...   36629
24    [{'credit_id': '52fe4290c3a36847f802881d', 'de...     936
25    [{'credit_id': '52fe44d69251416c75042b8d', 'de...   12268
26    [{'credit_id': '52fe43df9251416c750216bd', 'de...   10999
27    [{'credit_id': '52fe45209251416c910285d3', 'de...   33521
28    [{'credit_id': '52fe43cec3a36847f8071259', 'de...    4593
29    [{'credit_id': '52fe454d9251416c9102dbb3', 'de...   34044
...                                                 ...     ...
9970  [{'credit_id': '52fe45ab9251416c7505e5ff', 'de...   13830
9971  [{'credit_id': '56e2ebb992514151bf000258', 'de...   64291
9972  [{'credit_id': '52fe46db9251416c91061f79', 'de...   38753
9973  [{'credit_id': '54144eeb0e0a26198a001d49', 'de...  102639
9974  [{'credit_id': '52fe493ec3a368484e1216a7', 'de...   76492
9975  [{'credit_id': '52fe4d36c3a368484e1dcef1', 'de...  207459
9976  [{'credit_id': '52fe4ad2c3a36847f81e38c9', 'de...  110354
9977  [{'credit_id': '55588e819251412ff9007034', 'de...   69778
9978  [{'credit_id': '52fe4d379251416c9110ea89', 'de...  196738
9979  [{'credit_id': '53cd7c89c3a36877750030e7', 'de...  283101
9980  [{'credit_id': '53f8c9afc3a368735500197d', 'de...  288421
9981  [{'credit_id': '59567f5b9251411dbd04b4f5', 'de...  292547
9982  [{'credit_id': '52fe46ce9251416c75084327', 'de...   16387
9983  [{'credit_id': '52fe49ea9251416c750d789b', 'de...   97683
9984  [{'credit_id': '5743fd31925141586c001561', 'de...   39062
9985  [{'credit_id': '52fe45139251416c91026bc3', 'de...   33390
9986  [{'credit_id': '52fe45139251416c91026c3d', 'de...   33391
9987  [{'credit_id': '52fe4abfc3a36847f81df7b1', 'de...  109600
9988  [{'credit_id': '52fe47b3c3a36847f8143805', 'de...   49971
9989  [{'credit_id': '5310fd01c3a36829e20016bb', 'de...   40709
9990  [{'credit_id': '52fe4759c3a36847f8130ccf', 'de...   48202
9991  [{'credit_id': '52fe48ea9251416c9109c823', 'de...   84317
9992  [{'credit_id': '55152fed92514153b2000c8a', 'de...   79697
9993  [{'credit_id': '52fe4845c3a368484e0f07f3', 'de...   71723
9994  [{'credit_id': '5759f4b9c3a3683e7c0041d3', 'de...   34078
9995  [{'credit_id': '54e90fc6c3a36836ea002a42', 'de...   30953
9996  [{'credit_id': '52fe459d9251416c910388e5', 'de...   35253
9997  [{'credit_id': '52fe47a1c3a368484e0d1b5b', 'de...   68734
9998  [{'credit_id': '52fe49a49251416c910b3deb', 'de...   86838
9999  [{'credit_id': '52fe4bccc3a368484e199b61', 'de...  134371

[20000 rows x 3 columns]

                                                   cast  \
0     [{'cast_id': 1, 'character': 'Maj. Jock Sincla...
1     [{'cast_id': 1, 'character': 'Louis', 'credit_...
2     [{'cast_id': 1, 'character': 'Martha Travis', ...
3     [{'cast_id': 1, 'character': 'Liz', 'credit_id...
4     [{'cast_id': 2, 'character': 'Francis Sullivan...
5     [{'cast_id': 4, 'character': 'Glaeken Trismege...
6     [{'cast_id': 5, 'character': 'Commercial Photo...
7     [{'cast_id': 5, 'character': 'Joji Atsumi', 'c...
8     [{'cast_id': 1, 'character': 'Joe Kidd', 'cred...
9     [{'cast_id': 1, 'character': 'Stuart Sawyer', ...
10    [{'cast_id': 1, 'character': 'Neal Downs', 'cr...
11    [{'cast_id': 5, 'character': 'Mr. Franz', 'cre...
12    [{'cast_id': 4, 'character': 'Abhay', 'credit_...
13    [{'cast_id': 2, 'character': 'Lady Edwina Eske...
14    [{'cast_id': 3, 'character': 'Elaine Cheng', '...
15    [{'cast_id': 1, 'character': 'Professor Tom Ne...
16    [{'cast_id': 1, 'character': 'George Webber', ...
17    [{'cast_id': 1, 'character': 'Valentine McKee'...
18    [{'cast_id': 1, 'character': 'Hilde', 'credit_...
19    [{'cast_id': 1, 'character': 'Boris Lermontov'...
20    [{'cast_id': 1, 'character': 'Self', 'credit_i...
21    [{'cast_id': 1, 'character': 'Zhao Di, Young',...
22    [{'cast_id': 2, 'character': 'Kanji Watanabe',...
23    [{'cast_id': 1, 'character': 'Raymond McGillic...
24    [{'cast_id': 16, 'character': 'Sir Charles Lyt...
25    [{'cast_id': 11, 'character': 'Inspector Clous...
26    [{'cast_id': 9, 'character': 'John Matrix', 'c...
27    [{'cast_id': 1, 'character': 'Count Dracula', ...
28    [{'cast_id': 3, 'character': 'Don Rafael', 'cr...
29                                                   []
...                                                 ...
9970  [{'cast_id': 3, 'character': 'Ash Ketchum (voi...
9971  [{'cast_id': 0, 'character': 'Jacob Nicks', 'c...
9972  [{'cast_id': 3, 'character': "Natalie 'Mother'...
9973  [{'cast_id': 1, 'character': "Lopez 'Lopitos' ...
9974  [{'cast_id': 3, 'character': 'Green Arrow (voi...
9975  [{'cast_id': 4, 'character': 'Paul Lombard', '...
9976  [{'cast_id': 1, 'character': 'Jack', 'credit_i...
9977                                                 []
9978  [{'cast_id': 2, 'character': 'Lena Bessoltseva...
9979  [{'cast_id': 1, 'character': 'Herself', 'credi...
9980  [{'cast_id': 1, 'character': 'Sarah Armstrong'...
9981  [{'cast_id': 1, 'character': 'Bomba', 'credit_...
9982  [{'cast_id': 1, 'character': 'Gary Fenn', 'cre...
9983  [{'cast_id': 11, 'character': 'Himself', 'cred...
9984  [{'cast_id': 1, 'character': 'Marge Winton', '...
9985  [{'cast_id': 1, 'character': 'Gunther Schmidt'...
9986  [{'cast_id': 2, 'character': 'Bud Parks', 'cre...
9987  [{'cast_id': 1002, 'character': 'Ann Hemple Ni...
9988  [{'cast_id': 1, 'character': 'Alan Breck Stewa...
9989  [{'cast_id': 1, 'character': 'Ana', 'credit_id...
9990  [{'cast_id': 1001, 'character': 'Rev. David Th...
9991  [{'cast_id': 2, 'character': 'Ray Hunter', 'cr...
9992  [{'cast_id': 2, 'character': 'Tom Kupfen', 'cr...
9993  [{'cast_id': 11, 'character': 'Fernán González...
9994  [{'cast_id': 2, 'character': 'Sean McKenna', '...
9995  [{'cast_id': 2, 'character': 'Tyler', 'credit_...
9996  [{'cast_id': 1, 'character': 'Lt. Matt Daniels...
9997  [{'cast_id': 8, 'character': 'Capt. Amy Jennin...
9998  [{'cast_id': 2, 'character': "Nicholas 'Nicky'...
9999  [{'cast_id': 2, 'character': 'Graham Krakowski...

                                                   crew      id
0     [{'credit_id': '52fe4629c3a36847f80f02f9', 'de...   43048
1     [{'credit_id': '52fe449d9251416c7503af23', 'de...   11898
2     [{'credit_id': '52fe4831c3a368484e0ed51b', 'de...   71373
3     [{'credit_id': '52fe4c7a9251416c7511baed', 'de...  182097
4     [{'credit_id': '52fe44f5c3a368484e040779', 'de...   26225
5     [{'credit_id': '52fe44f3c3a368484e04024d', 'de...   26198
6     [{'credit_id': '52fe45909251416c91036cc9', 'de...   35072
7     [{'credit_id': '52fe4635c3a36847f80f2b1f', 'de...   43226
8     [{'credit_id': '52fe46239251416c7506e767', 'de...   14881
9     [{'credit_id': '52fe47859251416c7509c6c5', 'de...   18549
10    [{'credit_id': '52fe45309251416c7504e9d3', 'de...   13021
11    [{'credit_id': '52fe4690c3a36847f8105e03', 'de...   44585
12    [{'credit_id': '52fe45e8c3a368484e075c5d', 'de...   29538
13    [{'credit_id': '52fe4b61c3a36847f8200e3d', 'de...  115109
14    [{'credit_id': '52fe461ec3a36847f80edbfb', 'de...   42850
15    [{'credit_id': '56ceedb19251413e5c0021bb', 'de...   35073
16    [{'credit_id': '52fe44d6c3a36847f80acf17', 'de...    9051
17    [{'credit_id': '52fe44eec3a36847f80b2695', 'de...    9362
18    [{'credit_id': '52fe4aaf9251416c750ea901', 'de...  141241
19    [{'credit_id': '52fe47dd9251416c750a8179', 'de...   19542
20    [{'credit_id': '594588ac925141400d015e9a', 'de...  120683
21    [{'credit_id': '52fe44d79251416c75042dcf', 'de...   12276
22    [{'credit_id': '52fe43a4c3a36847f8064357', 'de...    3782
23    [{'credit_id': '52fe45fa9251416c91044f5d', 'de...   36629
24    [{'credit_id': '52fe4290c3a36847f802881d', 'de...     936
25    [{'credit_id': '52fe44d69251416c75042b8d', 'de...   12268
26    [{'credit_id': '52fe43df9251416c750216bd', 'de...   10999
27    [{'credit_id': '52fe45209251416c910285d3', 'de...   33521
28    [{'credit_id': '52fe43cec3a36847f8071259', 'de...    4593
29    [{'credit_id': '52fe454d9251416c9102dbb3', 'de...   34044
...                                                 ...     ...
9970  [{'credit_id': '52fe46169251416c91048b11', 'de...   36897
9971  [{'credit_id': '54031645c3a3685b74000190', 'de...  289723
9972  [{'credit_id': '52fe49f5c3a36847f81afd85', 'de...  101669
9973  [{'credit_id': '587a70edc3a36846c3004ac9', 'de...   45190
9974  [{'credit_id': '553d4a2ec3a368784500d02e', 'de...  327418
9975  [{'credit_id': '594195c6c3a368517f01c3b6', 'de...  321030
9976  [{'credit_id': '553105fbc3a3680f420016f6', 'de...  332340
9977  [{'credit_id': '52fe4886c3a368484e0fd123', 'de...   72953
9978  [{'credit_id': '52fe46b1c3a368484e09e9b5', 'de...   63573
9979  [{'credit_id': '569a3ab0c3a3686f9800147a', 'de...  290304
9980  [{'credit_id': '554eaf9c925141073a000e56', 'de...  144097
9981  [{'credit_id': '52fe4a72c3a36847f81ce4d5', 'de...  106824
9982  [{'credit_id': '538da532c3a368713f0049dc', 'de...  107321
9983  [{'credit_id': '52fe4afdc3a368484e171ae1', 'de...  127546
9984  [{'credit_id': '52fe44a59251416c9101802f', 'de...   31899
9985  [{'credit_id': '52fe44e49251416c750447cd', 'de...   12447
9986  [{'credit_id': '52fe47e7c3a368484e0df9c5', 'de...   70026
9987  [{'credit_id': '52fe499c9251416c910b30a9', 'de...   86768
9988  [{'credit_id': '52fe4ad19251416c750ef2af', 'de...  142150
9989  [{'credit_id': '59543477c3a368138804298c', 'de...   56555
9990  [{'credit_id': '552843f492514111cc00012d', 'de...   52702
9991  [{'credit_id': '52fe4cf8c3a368484e1cfd5f', 'de...  204686
9992  [{'credit_id': '52fe4bddc3a36847f8217107', 'de...  118549
9993  [{'credit_id': '52fe4bdac3a368484e19bfa9', 'de...  134608
9994  [{'credit_id': '52fe4cf5c3a36847f8246dbb', 'de...  170315
9995  [{'credit_id': '5581ee62c3a3686fa70000d8', 'de...  309889
9996  [{'credit_id': '52fe479e9251416c7509fd77', 'de...   18819
9997  [{'credit_id': '52fe43109251416c75001fe1', 'de...   10037
9998  [{'credit_id': '52fe4a7ac3a368484e15582d', 'de...  122252
9999  [{'credit_id': '5982ff90c3a36833b300c853', 'de...  186869

[30000 rows x 3 columns]
                                                   cast  \
0     [{'cast_id': 1, 'character': 'Maj. Jock Sincla...
1     [{'cast_id': 1, 'character': 'Louis', 'credit_...
2     [{'cast_id': 1, 'character': 'Martha Travis', ...
3     [{'cast_id': 1, 'character': 'Liz', 'credit_id...
4     [{'cast_id': 2, 'character': 'Francis Sullivan...
5     [{'cast_id': 4, 'character': 'Glaeken Trismege...
6     [{'cast_id': 5, 'character': 'Commercial Photo...
7     [{'cast_id': 5, 'character': 'Joji Atsumi', 'c...
8     [{'cast_id': 1, 'character': 'Joe Kidd', 'cred...
9     [{'cast_id': 1, 'character': 'Stuart Sawyer', ...
10    [{'cast_id': 1, 'character': 'Neal Downs', 'cr...
11    [{'cast_id': 5, 'character': 'Mr. Franz', 'cre...
12    [{'cast_id': 4, 'character': 'Abhay', 'credit_...
13    [{'cast_id': 2, 'character': 'Lady Edwina Eske...
14    [{'cast_id': 3, 'character': 'Elaine Cheng', '...
15    [{'cast_id': 1, 'character': 'Professor Tom Ne...
16    [{'cast_id': 1, 'character': 'George Webber', ...
17    [{'cast_id': 1, 'character': 'Valentine McKee'...
18    [{'cast_id': 1, 'character': 'Hilde', 'credit_...
19    [{'cast_id': 1, 'character': 'Boris Lermontov'...
20    [{'cast_id': 1, 'character': 'Self', 'credit_i...
21    [{'cast_id': 1, 'character': 'Zhao Di, Young',...
22    [{'cast_id': 2, 'character': 'Kanji Watanabe',...
23    [{'cast_id': 1, 'character': 'Raymond McGillic...
24    [{'cast_id': 16, 'character': 'Sir Charles Lyt...
25    [{'cast_id': 11, 'character': 'Inspector Clous...
26    [{'cast_id': 9, 'character': 'John Matrix', 'c...
27    [{'cast_id': 1, 'character': 'Count Dracula', ...
28    [{'cast_id': 3, 'character': 'Don Rafael', 'cr...
29                                                   []
...                                                 ...
9970  [{'cast_id': 0, 'character': 'Dad Asparagus', ...
9971                                                 []
9972                                                 []
9973                                                 []
9974  [{'cast_id': 0, 'character': 'Esther (voice)',...
9975                                                 []
9976                                                 []
9977  [{'cast_id': 0, 'character': 'Larry the Cucumb...
9978  [{'cast_id': 3, 'character': '', 'credit_id': ...
9979  [{'cast_id': 0, 'character': 'Bob the Tomato /...
9980                                                 []
9981  [{'cast_id': 0, 'character': 'Abbot / Lucas (B...
9982                                                 []
9983                                                 []
9984                                                 []
9985  [{'cast_id': 1, 'character': 'McCreary', 'cred...
9986  [{'cast_id': 0, 'character': 'Clark Wayne (Geo...
9987  [{'cast_id': 0, 'character': 'Holly', 'credit_...
9988  [{'cast_id': 2, 'character': 'Knicks', 'credit...
9989  [{'cast_id': 0, 'character': 'Himself', 'credi...
9990  [{'cast_id': 1, 'character': 'Cindy', 'credit_...
9991  [{'cast_id': 1, 'character': 'Deputy Marshal L...
9992  [{'cast_id': 2, 'character': 'Angela Rossini',...
9993  [{'cast_id': 20, 'character': 'Sean Paul Lockh...
9994  [{'cast_id': 3, 'character': 'Xiao Chen (Music...
9995  [{'cast_id': 2, 'character': 'Molly Carr', 'cr...
9996  [{'cast_id': 6, 'character': 'Rick', 'credit_i...
9997  [{'cast_id': 2, 'character': 'Himself', 'credi...
9998  [{'cast_id': 1, 'character': 'Jim Bowie', 'cre...
9999  [{'cast_id': 1, 'character': 'Sheila', 'credit...

                                                   crew      id
0     [{'credit_id': '52fe4629c3a36847f80f02f9', 'de...   43048
1     [{'credit_id': '52fe449d9251416c7503af23', 'de...   11898
2     [{'credit_id': '52fe4831c3a368484e0ed51b', 'de...   71373
3     [{'credit_id': '52fe4c7a9251416c7511baed', 'de...  182097
4     [{'credit_id': '52fe44f5c3a368484e040779', 'de...   26225
5     [{'credit_id': '52fe44f3c3a368484e04024d', 'de...   26198
6     [{'credit_id': '52fe45909251416c91036cc9', 'de...   35072
7     [{'credit_id': '52fe4635c3a36847f80f2b1f', 'de...   43226
8     [{'credit_id': '52fe46239251416c7506e767', 'de...   14881
9     [{'credit_id': '52fe47859251416c7509c6c5', 'de...   18549
10    [{'credit_id': '52fe45309251416c7504e9d3', 'de...   13021
11    [{'credit_id': '52fe4690c3a36847f8105e03', 'de...   44585
12    [{'credit_id': '52fe45e8c3a368484e075c5d', 'de...   29538
13    [{'credit_id': '52fe4b61c3a36847f8200e3d', 'de...  115109
14    [{'credit_id': '52fe461ec3a36847f80edbfb', 'de...   42850
15    [{'credit_id': '56ceedb19251413e5c0021bb', 'de...   35073
16    [{'credit_id': '52fe44d6c3a36847f80acf17', 'de...    9051
17    [{'credit_id': '52fe44eec3a36847f80b2695', 'de...    9362
18    [{'credit_id': '52fe4aaf9251416c750ea901', 'de...  141241
19    [{'credit_id': '52fe47dd9251416c750a8179', 'de...   19542
20    [{'credit_id': '594588ac925141400d015e9a', 'de...  120683
21    [{'credit_id': '52fe44d79251416c75042dcf', 'de...   12276
22    [{'credit_id': '52fe43a4c3a36847f8064357', 'de...    3782
23    [{'credit_id': '52fe45fa9251416c91044f5d', 'de...   36629
24    [{'credit_id': '52fe4290c3a36847f802881d', 'de...     936
25    [{'credit_id': '52fe44d69251416c75042b8d', 'de...   12268
26    [{'credit_id': '52fe43df9251416c750216bd', 'de...   10999
27    [{'credit_id': '52fe45209251416c910285d3', 'de...   33521
28    [{'credit_id': '52fe43cec3a36847f8071259', 'de...    4593
29    [{'credit_id': '52fe454d9251416c9102dbb3', 'de...   34044
...                                                 ...     ...
9970  [{'credit_id': '54a2c3aa92514117dd001c40', 'de...  314580
9971                                                 []  261409
9972  [{'credit_id': '57cc4e2c92514126280013d3', 'de...  273312
9973  [{'credit_id': '54a2ca3dc3a368764f00bda1', 'de...  314601
9974  [{'credit_id': '563018d49251413b46000e0e', 'de...  273296
9975                                                 []  273302
9976                                                 []  273310
9977  [{'credit_id': '56a3b58a9251417207003582', 'de...  275136
9978  [{'credit_id': '539ba257c3a36810d20006e3', 'de...  273578
9979  [{'credit_id': '5409c6fe0e0a263a0a001e91', 'de...  273309
9980                                                 []  273315
9981  [{'credit_id': '53ea659fc3a3680eb5001357', 'de...  273149
9982                                                 []  275065
9983                                                 []  275130
9984                                                 []  275074
9985  [{'credit_id': '552a8f12c3a36830d400071b', 'de...  335509
9986  [{'credit_id': '53ea447f0e0a26602b001a99', 'de...  273205
9987  [{'credit_id': '54a218a5925141186000079f', 'de...  314420
9988  [{'credit_id': '542daec1c3a3681e720004b5', 'de...  293093
9989  [{'credit_id': '56a01c8092514137d6003661', 'de...  180691
9990  [{'credit_id': '52fe43fcc3a368484e009517', 'de...   20846
9991  [{'credit_id': '55eda535c3a3682c70014a29', 'de...  358615
9992  [{'credit_id': '52fe4628c3a36847f80efe83', 'de...   43035
9993  [{'credit_id': '570f92b6c3a3685370002fa9', 'de...  390584
9994  [{'credit_id': '531d6fa092514177ab006991', 'de...  112699
9995  [{'credit_id': '52fe49829251416c910af9b9', 'de...   86360
9996  [{'credit_id': '551107a7c3a3683f39006cd9', 'de...  230058
9997  [{'credit_id': '52fe49c4c3a368484e13ea57', 'de...   79163
9998  [{'credit_id': '53c50eb2c3a3682476001483', 'de...  282040
9999  [{'credit_id': '597e46e2c3a36853dd01bab4', 'de...  246381

[40000 rows x 3 columns]

                                                   cast  \
0     [{'cast_id': 1, 'character': 'Maj. Jock Sincla...
1     [{'cast_id': 1, 'character': 'Louis', 'credit_...
2     [{'cast_id': 1, 'character': 'Martha Travis', ...
3     [{'cast_id': 1, 'character': 'Liz', 'credit_id...
4     [{'cast_id': 2, 'character': 'Francis Sullivan...
5     [{'cast_id': 4, 'character': 'Glaeken Trismege...
6     [{'cast_id': 5, 'character': 'Commercial Photo...
7     [{'cast_id': 5, 'character': 'Joji Atsumi', 'c...
8     [{'cast_id': 1, 'character': 'Joe Kidd', 'cred...
9     [{'cast_id': 1, 'character': 'Stuart Sawyer', ...
10    [{'cast_id': 1, 'character': 'Neal Downs', 'cr...
11    [{'cast_id': 5, 'character': 'Mr. Franz', 'cre...
12    [{'cast_id': 4, 'character': 'Abhay', 'credit_...
13    [{'cast_id': 2, 'character': 'Lady Edwina Eske...
14    [{'cast_id': 3, 'character': 'Elaine Cheng', '...
15    [{'cast_id': 1, 'character': 'Professor Tom Ne...
16    [{'cast_id': 1, 'character': 'George Webber', ...
17    [{'cast_id': 1, 'character': 'Valentine McKee'...
18    [{'cast_id': 1, 'character': 'Hilde', 'credit_...
19    [{'cast_id': 1, 'character': 'Boris Lermontov'...
20    [{'cast_id': 1, 'character': 'Self', 'credit_i...
21    [{'cast_id': 1, 'character': 'Zhao Di, Young',...
22    [{'cast_id': 2, 'character': 'Kanji Watanabe',...
23    [{'cast_id': 1, 'character': 'Raymond McGillic...
24    [{'cast_id': 16, 'character': 'Sir Charles Lyt...
25    [{'cast_id': 11, 'character': 'Inspector Clous...
26    [{'cast_id': 9, 'character': 'John Matrix', 'c...
27    [{'cast_id': 1, 'character': 'Count Dracula', ...
28    [{'cast_id': 3, 'character': 'Don Rafael', 'cr...
29                                                   []
...                                                 ...
5446  [{'cast_id': 12, 'character': 'princezna Helen...
5447  [{'cast_id': 2, 'character': 'Aladdin', 'credi...
5448  [{'cast_id': 2, 'character': '', 'credit_id': ...
5449  [{'cast_id': 1, 'character': 'Gillian Grady', ...
5450                                                 []
5451  [{'cast_id': 2, 'character': 'André Hazes', 'c...
5452  [{'cast_id': 2, 'character': 'Paula Dupree - t...
5453  [{'cast_id': 1, 'character': 'Alyson', 'credit...
5454  [{'cast_id': 1, 'character': 'Devki Sabarwal',...
5455  [{'cast_id': 1, 'character': 'Kelly Collins', ...
5456                                                 []
5457  [{'cast_id': 2, 'character': '', 'credit_id': ...
5458  [{'cast_id': 2, 'character': 'The Magician', '...
5459  [{'cast_id': 2, 'character': '', 'credit_id': ...
5460  [{'cast_id': 1, 'character': 'Roo (voice)', 'c...
5461  [{'cast_id': 3, 'character': 'All the members ...
5462  [{'cast_id': 2, 'character': '', 'credit_id': ...
5463                                                 []
5464  [{'cast_id': 0, 'character': 'Lauren', 'credit...
5465  [{'cast_id': 5, 'character': '', 'credit_id': ...
5466  [{'cast_id': 5, 'character': 'The Creeper', 'c...
5467  [{'cast_id': 30, 'character': 'Debuty Hank Har...
5468  [{'cast_id': 2, 'character': 'Branwall', 'cred...
5469  [{'cast_id': 1, 'character': 'Kira (as Cassand...
5470  [{'cast_id': 1, 'character': 'Sir Robert Hode'...
5471  [{'cast_id': 0, 'character': '', 'credit_id': ...
5472  [{'cast_id': 1002, 'character': 'Sister Angela...
5473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
5474  [{'cast_id': 2, 'character': '', 'credit_id': ...
5475                                                 []

                                                   crew      id
0     [{'credit_id': '52fe4629c3a36847f80f02f9', 'de...   43048
1     [{'credit_id': '52fe449d9251416c7503af23', 'de...   11898
2     [{'credit_id': '52fe4831c3a368484e0ed51b', 'de...   71373
3     [{'credit_id': '52fe4c7a9251416c7511baed', 'de...  182097
4     [{'credit_id': '52fe44f5c3a368484e040779', 'de...   26225
5     [{'credit_id': '52fe44f3c3a368484e04024d', 'de...   26198
6     [{'credit_id': '52fe45909251416c91036cc9', 'de...   35072
7     [{'credit_id': '52fe4635c3a36847f80f2b1f', 'de...   43226
8     [{'credit_id': '52fe46239251416c7506e767', 'de...   14881
9     [{'credit_id': '52fe47859251416c7509c6c5', 'de...   18549
10    [{'credit_id': '52fe45309251416c7504e9d3', 'de...   13021
11    [{'credit_id': '52fe4690c3a36847f8105e03', 'de...   44585
12    [{'credit_id': '52fe45e8c3a368484e075c5d', 'de...   29538
13    [{'credit_id': '52fe4b61c3a36847f8200e3d', 'de...  115109
14    [{'credit_id': '52fe461ec3a36847f80edbfb', 'de...   42850
15    [{'credit_id': '56ceedb19251413e5c0021bb', 'de...   35073
16    [{'credit_id': '52fe44d6c3a36847f80acf17', 'de...    9051
17    [{'credit_id': '52fe44eec3a36847f80b2695', 'de...    9362
18    [{'credit_id': '52fe4aaf9251416c750ea901', 'de...  141241
19    [{'credit_id': '52fe47dd9251416c750a8179', 'de...   19542
20    [{'credit_id': '594588ac925141400d015e9a', 'de...  120683
21    [{'credit_id': '52fe44d79251416c75042dcf', 'de...   12276
22    [{'credit_id': '52fe43a4c3a36847f8064357', 'de...    3782
23    [{'credit_id': '52fe45fa9251416c91044f5d', 'de...   36629
24    [{'credit_id': '52fe4290c3a36847f802881d', 'de...     936
25    [{'credit_id': '52fe44d69251416c75042b8d', 'de...   12268
26    [{'credit_id': '52fe43df9251416c750216bd', 'de...   10999
27    [{'credit_id': '52fe45209251416c910285d3', 'de...   33521
28    [{'credit_id': '52fe43cec3a36847f8071259', 'de...    4593
29    [{'credit_id': '52fe454d9251416c9102dbb3', 'de...   34044
...                                                 ...     ...
5446  [{'credit_id': '52fe440fc3a36847f807ffa3', 'de...    5589
5447  [{'credit_id': '54df54e5925141195a0033cb', 'de...  325439
5448  [{'credit_id': '52fe46a2c3a368484e09b639', 'de...   63266
5449  [{'credit_id': '52fe46c7c3a36847f81119a1', 'de...   45527
5450  [{'credit_id': '5981a15c92514151e0011b51', 'de...  455661
5451  [{'credit_id': '54edb0e0c3a3686d58003a13', 'de...  327237
5452  [{'credit_id': '52fe49099251416c910a0a89', 'de...   84710
5453  [{'credit_id': '562ec44ec3a3681b5900bac2', 'de...   39562
5454  [{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...  404604
5455  [{'credit_id': '52fe45c29251416c75061803', 'de...   14008
5456  [{'credit_id': '52fe4684c3a36847f81034f3', 'de...   44330
5457  [{'credit_id': '52fe478dc3a36847f813bd5f', 'de...   49279
5458  [{'credit_id': '52fe4684c3a36847f810350b', 'de...   44333
5459  [{'credit_id': '52fe478dc3a36847f813bd4b', 'de...   49277
5460  [{'credit_id': '52fe46249251416c7506e969', 'de...   14885
5461  [{'credit_id': '52fe478dc3a36847f813bd6b', 'de...   49280
5462  [{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...  106807
5463  [{'credit_id': '539ef1090e0a263dd00000d7', 'de...  276895
5464  [{'credit_id': '587626f4c3a3682b33008299', 'de...  420346
5465  [{'credit_id': '5330178a9251413a720055e3', 'de...   67179
5466  [{'credit_id': '58152c139251415a7f0047e2', 'de...   84419
5467  [{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...  390959
5468  [{'credit_id': '5403d669c3a3682d9800427d', 'de...  289923
5469  [{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...  222848
5470  [{'credit_id': '52fe44439251416c9100a899', 'de...   30840
5471  [{'credit_id': '5894a97d925141426c00818c', 'de...  439050
5472  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...  111109
5473  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...   67758
5474  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...  227506
5475  [{'credit_id': '593e676c92514105b702e68e', 'de...  461257

[45476 rows x 3 columns]
(45476, 3)

In [9]:
keywords = pd.DataFrame()
query_keywords = "SELECT * FROM [dbo].[keywords]"
for chunk in pd.read_sql_query(query_keywords, cnxn, chunksize=10**4):
    keywords = pd.concat([keywords, chunk])
    print(keywords)
print(keywords.shape)

          id                                           keywords
0        862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1       8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2      15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3      31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4      11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
5        949  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
6      11860  [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
7      45325                                                 []
8       9091  [{'id': 949, 'name': 'terrorist'}, {'id': 1562...
9        710  [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...
10      9087  [{'id': 833, 'name': 'white house'}, {'id': 84...
11     12110  [{'id': 3633, 'name': 'dracula'}, {'id': 11931...
12     21032  [{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...
13     33689  [{'id': 13014, 'name': 'orphan'}, {'id': 20435...
14     10858  [{'id': 840, 'name': 'usa president'}, {'id': ...
15      1408  [{'id': 911, 'name': 'exotic island'}, {'id': ...
16       524  [{'id': 383, 'name': 'poker'}, {'id': 726, 'na...
17      4584  [{'id': 420, 'name': 'bowling'}, {'id': 818, '...
18         5  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
19      9273  [{'id': 409, 'name': 'africa'}, {'id': 1551, '...
20     11517  [{'id': 380, 'name': 'brother brother relation...
21      8012  [{'id': 395, 'name': 'gambling'}, {'id': 416, ...
22      1710  [{'id': 796, 'name': 'police brutality'}, {'id...
23      9691  [{'id': 271, 'name': 'competition'}, {'id': 44...
24     12665  [{'id': 7345, 'name': 'dead animal'}, {'id': 1...
25       451  [{'id': 30, 'name': 'individual'}, {'id': 549,...
26     16420  [{'id': 497, 'name': 'shakespeare'}, {'id': 93...
27      9263  [{'id': 1228, 'name': '1970s'}, {'id': 5248, '...
28     17015  [{'id': 1316, 'name': 'captain'}, {'id': 33384...
29       902  [{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...
...      ...                                                ...
9970  136345                                                 []
9971  330588                                                 []
9972  215658                                                 []
9973  283708  [{'id': 657, 'name': 'fire'}, {'id': 1262, 'na...
9974  253639                                                 []
9975  323016              [{'id': 231986, 'name': 'marimekko'}]
9976  250665  [{'id': 1480, 'name': 'baseball'}, {'id': 1804...
9977  208333  [{'id': 255, 'name': 'male nudity'}, {'id': 29...
9978  289126                                                 []
9979  320299         [{'id': 187056, 'name': 'woman director'}]
9980  335141                                                 []
9981  335145                                                 []
9982  267623                                                 []
9983   74087  [{'id': 588, 'name': 'rome'}, {'id': 1003, 'na...
9984  292262  [{'id': 2815, 'name': 'graffiti'}, {'id': 2816...
9985   19900        [{'id': 10183, 'name': 'independent film'}]
9986   26574  [{'id': 1019, 'name': 'rodeo'}, {'id': 4470, '...
9987  253626  [{'id': 3203, 'name': 'pilot'}, {'id': 3301, '...
9988   10370  [{'id': 290, 'name': 'angel'}, {'id': 3302, 'n...
9989  158217                                                 []
9990  259958                                                 []
9991   59481  [{'id': 9748, 'name': 'revenge'}, {'id': 9826,...
9992  283698                                                 []
9993   53670                 [{'id': 9937, 'name': 'suspense'}]
9994  243526                     [{'id': 6158, 'name': 'cult'}]
9995  284270  [{'id': 1299, 'name': 'monster'}, {'id': 5767,...
9996  186610                                                 []
9997  180418         [{'id': 187056, 'name': 'woman director'}]
9998  312797  [{'id': 1523, 'name': 'obsession'}, {'id': 189...
9999   88744                                                 []

[10000 rows x 2 columns]
          id                                           keywords
0        862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1       8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2      15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3      31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4      11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
5        949  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
6      11860  [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
7      45325                                                 []
8       9091  [{'id': 949, 'name': 'terrorist'}, {'id': 1562...
9        710  [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...
10      9087  [{'id': 833, 'name': 'white house'}, {'id': 84...
11     12110  [{'id': 3633, 'name': 'dracula'}, {'id': 11931...
12     21032  [{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...
13     33689  [{'id': 13014, 'name': 'orphan'}, {'id': 20435...
14     10858  [{'id': 840, 'name': 'usa president'}, {'id': ...
15      1408  [{'id': 911, 'name': 'exotic island'}, {'id': ...
16       524  [{'id': 383, 'name': 'poker'}, {'id': 726, 'na...
17      4584  [{'id': 420, 'name': 'bowling'}, {'id': 818, '...
18         5  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
19      9273  [{'id': 409, 'name': 'africa'}, {'id': 1551, '...
20     11517  [{'id': 380, 'name': 'brother brother relation...
21      8012  [{'id': 395, 'name': 'gambling'}, {'id': 416, ...
22      1710  [{'id': 796, 'name': 'police brutality'}, {'id...
23      9691  [{'id': 271, 'name': 'competition'}, {'id': 44...
24     12665  [{'id': 7345, 'name': 'dead animal'}, {'id': 1...
25       451  [{'id': 30, 'name': 'individual'}, {'id': 549,...
26     16420  [{'id': 497, 'name': 'shakespeare'}, {'id': 93...
27      9263  [{'id': 1228, 'name': '1970s'}, {'id': 5248, '...
28     17015  [{'id': 1316, 'name': 'captain'}, {'id': 33384...
29       902  [{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...
...      ...                                                ...
9970   38773  [{'id': 14781, 'name': 'patient'}, {'id': 1510...
9971    8269                  [{'id': 7991, 'name': 'belgrad'}]
9972   45779  [{'id': 526, 'name': 'rebel'}, {'id': 3469, 'n...
9973   27085  [{'id': 2041, 'name': 'island'}, {'id': 12616,...
9974    8940                    [{'id': 6075, 'name': 'sport'}]
9975     133  [{'id': 840, 'name': 'usa president'}, {'id': ...
9976   20152  [{'id': 222, 'name': 'schizophrenia'}, {'id': ...
9977   14938  [{'id': 2326, 'name': 'alibi'}, {'id': 3202, '...
9978   19508  [{'id': 6513, 'name': 'cartoon'}, {'id': 9887,...
9979   66770                                                 []
9980   12162  [{'id': 1589, 'name': 'sniper'}, {'id': 1653, ...
9981    4498  [{'id': 514, 'name': 'spain'}, {'id': 1781, 'n...
9982  176810                                                 []
9983  170477  [{'id': 549, 'name': 'prostitute'}, {'id': 101...
9984   75015                                                 []
9985   18507                                                 []
9986   16240  [{'id': 237, 'name': 'gay'}, {'id': 818, 'name...
9987   50030        [{'id': 10183, 'name': 'independent film'}]
9988   81223                                                 []
9989   24772  [{'id': 3923, 'name': 'humor'}, {'id': 10554, ...
9990   67515                                                 []
9991   29082  [{'id': 12193, 'name': 'reporter'}, {'id': 190...
9992    8284        [{'id': 10183, 'name': 'independent film'}]
9993    4250  [{'id': 255, 'name': 'male nudity'}, {'id': 29...
9994   32451        [{'id': 10183, 'name': 'independent film'}]
9995   62128               [{'id': 189978, 'name': 'fan film'}]
9996    8373  [{'id': 1160, 'name': 'egypt'}, {'id': 1670, '...
9997   62320  [{'id': 2210, 'name': 'climate change'}, {'id'...
9998   24734  [{'id': 8624, 'name': 'climbing'}, {'id': 1213...
9999   75317                                                 []

[20000 rows x 2 columns]
          id                                           keywords
0        862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1       8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2      15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3      31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4      11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
5        949  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
6      11860  [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
7      45325                                                 []
8       9091  [{'id': 949, 'name': 'terrorist'}, {'id': 1562...
9        710  [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...
10      9087  [{'id': 833, 'name': 'white house'}, {'id': 84...
11     12110  [{'id': 3633, 'name': 'dracula'}, {'id': 11931...
12     21032  [{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...
13     33689  [{'id': 13014, 'name': 'orphan'}, {'id': 20435...
14     10858  [{'id': 840, 'name': 'usa president'}, {'id': ...
15      1408  [{'id': 911, 'name': 'exotic island'}, {'id': ...
16       524  [{'id': 383, 'name': 'poker'}, {'id': 726, 'na...
17      4584  [{'id': 420, 'name': 'bowling'}, {'id': 818, '...
18         5  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
19      9273  [{'id': 409, 'name': 'africa'}, {'id': 1551, '...
20     11517  [{'id': 380, 'name': 'brother brother relation...
21      8012  [{'id': 395, 'name': 'gambling'}, {'id': 416, ...
22      1710  [{'id': 796, 'name': 'police brutality'}, {'id...
23      9691  [{'id': 271, 'name': 'competition'}, {'id': 44...
24     12665  [{'id': 7345, 'name': 'dead animal'}, {'id': 1...
25       451  [{'id': 30, 'name': 'individual'}, {'id': 549,...
26     16420  [{'id': 497, 'name': 'shakespeare'}, {'id': 93...
27      9263  [{'id': 1228, 'name': '1970s'}, {'id': 5248, '...
28     17015  [{'id': 1316, 'name': 'captain'}, {'id': 33384...
29       902  [{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...
...      ...                                                ...
9970   47291                                                 []
9971  173577  [{'id': 2583, 'name': 'blackout'}, {'id': 4470...
9972  433082                                                 []
9973   42539  [{'id': 314, 'name': 'life and death'}, {'id':...
9974  110001  [{'id': 378, 'name': 'prison'}, {'id': 736, 'n...
9975  381009  [{'id': 155808, 'name': 'hometown'}, {'id': 18...
9976   24948  [{'id': 6670, 'name': 'piercing'}, {'id': 1237...
9977   90231  [{'id': 587, 'name': 'amsterdam'}, {'id': 1881...
9978   28602  [{'id': 10292, 'name': 'gore'}, {'id': 11221, ...
9979  224113                                                 []
9980  434661  [{'id': 4735, 'name': 'pizza'}, {'id': 12377, ...
9981  345909  [{'id': 6075, 'name': 'sport'}, {'id': 8338, '...
9982  340101  [{'id': 818, 'name': 'based on novel'}, {'id':...
9983  433356  [{'id': 428, 'name': 'nurse'}, {'id': 2504, 'n...
9984  410117  [{'id': 293, 'name': 'female nudity'}, {'id': ...
9985  354285  [{'id': 818, 'name': 'based on novel'}, {'id':...
9986  340676  [{'id': 90, 'name': 'paris'}, {'id': 293, 'nam...
9987  403252                                                 []
9988    4369  [{'id': 237, 'name': 'gay'}, {'id': 699, 'name...
9989  356401  [{'id': 10707, 'name': 'mother daughter relati...
9990  403114  [{'id': 496, 'name': 'poetry'}, {'id': 1241, '...
9991   53163                                                 []
9992  246252  [{'id': 1927, 'name': 'car breakdown'}, {'id':...
9993   70740                                                 []
9994  371504  [{'id': 3298, 'name': 'hallucination'}, {'id':...
9995  393443                  [{'id': 214549, 'name': 'short'}]
9996  309028  [{'id': 1946, 'name': 'restaurant'}, {'id': 10...
9997  422960         [{'id': 187056, 'name': 'woman director'}]
9998  416499  [{'id': 701, 'name': 'cuba'}, {'id': 5282, 'na...
9999  317560  [{'id': 242, 'name': 'new york'}, {'id': 6257,...

[30000 rows x 2 columns]

          id                                           keywords
0        862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1       8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2      15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3      31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4      11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
5        949  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
6      11860  [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
7      45325                                                 []
8       9091  [{'id': 949, 'name': 'terrorist'}, {'id': 1562...
9        710  [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...
10      9087  [{'id': 833, 'name': 'white house'}, {'id': 84...
11     12110  [{'id': 3633, 'name': 'dracula'}, {'id': 11931...
12     21032  [{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...
13     33689  [{'id': 13014, 'name': 'orphan'}, {'id': 20435...
14     10858  [{'id': 840, 'name': 'usa president'}, {'id': ...
15      1408  [{'id': 911, 'name': 'exotic island'}, {'id': ...
16       524  [{'id': 383, 'name': 'poker'}, {'id': 726, 'na...
17      4584  [{'id': 420, 'name': 'bowling'}, {'id': 818, '...
18         5  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
19      9273  [{'id': 409, 'name': 'africa'}, {'id': 1551, '...
20     11517  [{'id': 380, 'name': 'brother brother relation...
21      8012  [{'id': 395, 'name': 'gambling'}, {'id': 416, ...
22      1710  [{'id': 796, 'name': 'police brutality'}, {'id...
23      9691  [{'id': 271, 'name': 'competition'}, {'id': 44...
24     12665  [{'id': 7345, 'name': 'dead animal'}, {'id': 1...
25       451  [{'id': 30, 'name': 'individual'}, {'id': 549,...
26     16420  [{'id': 497, 'name': 'shakespeare'}, {'id': 93...
27      9263  [{'id': 1228, 'name': '1970s'}, {'id': 5248, '...
28     17015  [{'id': 1316, 'name': 'captain'}, {'id': 33384...
29       902  [{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...
...      ...                                                ...
9970   87339  [{'id': 13112, 'name': 'murderer'}, {'id': 411...
9971   29112                                                 []
9972   40744  [{'id': 11034, 'name': 'b movie'}, {'id': 1554...
9973   48156  [{'id': 7375, 'name': 'twin brother'}, {'id': ...
9974   65257                                                 []
9975  184143                 [{'id': 155291, 'name': 'cowboy'}]
9976   74684                                                 []
9977  278468                                                 []
9978  248576               [{'id': 3179, 'name': 'sanatorium'}]
9979   62037  [{'id': 14857, 'name': 'juvenile delinquent'},...
9980  250761  [{'id': 2956, 'name': 'vietnam'}, {'id': 2957,...
9981  213684  [{'id': 485, 'name': 'nepal'}, {'id': 1530, 'n...
9982  295069                                                 []
9983   34630                                                 []
9984  278677                                                 []
9985  299796         [{'id': 196782, 'name': 'serial murders'}]
9986  126376  [{'id': 428, 'name': 'nurse'}, {'id': 206283, ...
9987   88599                       [{'id': 992, 'name': 'bus'}]
9988  274990                                                 []
9989   57438         [{'id': 187056, 'name': 'woman director'}]
9990   62352         [{'id': 187056, 'name': 'woman director'}]
9991  167810  [{'id': 1449, 'name': 'underworld'}, {'id': 10...
9992  125305                                                 []
9993  217477                                                 []
9994   97046                                                 []
9995   36067                                                 []
9996   36120        [{'id': 10183, 'name': 'independent film'}]
9997  318053                                                 []
9998   56405  [{'id': 90, 'name': 'paris'}, {'id': 212, 'nam...
9999   72480       [{'id': 12423, 'name': 'illegal immigrant'}]

[40000 rows x 2 columns]
          id                                           keywords
0        862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1       8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2      15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3      31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4      11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
5        949  [{'id': 642, 'name': 'robbery'}, {'id': 703, '...
6      11860  [{'id': 90, 'name': 'paris'}, {'id': 380, 'nam...
7      45325                                                 []
8       9091  [{'id': 949, 'name': 'terrorist'}, {'id': 1562...
9        710  [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...
10      9087  [{'id': 833, 'name': 'white house'}, {'id': 84...
11     12110  [{'id': 3633, 'name': 'dracula'}, {'id': 11931...
12     21032  [{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n...
13     33689  [{'id': 13014, 'name': 'orphan'}, {'id': 20435...
14     10858  [{'id': 840, 'name': 'usa president'}, {'id': ...
15      1408  [{'id': 911, 'name': 'exotic island'}, {'id': ...
16       524  [{'id': 383, 'name': 'poker'}, {'id': 726, 'na...
17      4584  [{'id': 420, 'name': 'bowling'}, {'id': 818, '...
18         5  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
19      9273  [{'id': 409, 'name': 'africa'}, {'id': 1551, '...
20     11517  [{'id': 380, 'name': 'brother brother relation...
21      8012  [{'id': 395, 'name': 'gambling'}, {'id': 416, ...
22      1710  [{'id': 796, 'name': 'police brutality'}, {'id...
23      9691  [{'id': 271, 'name': 'competition'}, {'id': 44...
24     12665  [{'id': 7345, 'name': 'dead animal'}, {'id': 1...
25       451  [{'id': 30, 'name': 'individual'}, {'id': 549,...
26     16420  [{'id': 497, 'name': 'shakespeare'}, {'id': 93...
27      9263  [{'id': 1228, 'name': '1970s'}, {'id': 5248, '...
28     17015  [{'id': 1316, 'name': 'captain'}, {'id': 33384...
29       902  [{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...
...      ...                                                ...
6389  426272                                                 []
6390  408624                                                 []
6391  413421  [{'id': 4671, 'name': 'bad luck'}, {'id': 1315...
6392  261871                                                 []
6393  317389                                                 []
6394   91563                                                 []
6395  227143                                                 []
6396  432789                                                 []
6397  264269                  [{'id': 162846, 'name': 'ghost'}]
6398  182030              [{'id': 779, 'name': 'martial arts'}]
6399   32388  [{'id': 128, 'name': 'love triangle'}, {'id': ...
6400  434873  [{'id': 570, 'name': 'rape'}, {'id': 2150, 'na...
6401  175461                                                 []
6402  175457                                                 []
6403  176298                                                 []
6404  184402  [{'id': 154802, 'name': 'silent film'}, {'id':...
6405  370213                                                 []
6406   99104                                                 []
6407  445126                    [{'id': 233372, 'name': 'emt'}]
6408  401687                                                 []
6409  200066                                                 []
6410  273279                                                 []
6411   97797                                                 []
6412  149946         [{'id': 187056, 'name': 'woman director'}]
6413   61385         [{'id': 187056, 'name': 'woman director'}]
6414  468707  [{'id': 2486, 'name': 'fantasy'}, {'id': 14751...
6415  280422  [{'id': 642, 'name': 'robbery'}, {'id': 231149...
6416   38326                                                 []
6417  240789                                                 []
6418  293654                                                 []

[46419 rows x 2 columns]
(46419, 2)

In [10]:
links = pd.DataFrame()
query_links = "SELECT * FROM [dbo].[links]"
for chunk in pd.read_sql_query(query_links, cnxn, chunksize=10**4):
    links = pd.concat([links, chunk])
    print(links)
print(links.shape)

      movieId  imdbId   tmdbId
0           1  114709    862.0
1           2  113497   8844.0
2           3  113228  15602.0
3           4  114885  31357.0
4           5  113041  11862.0
5           6  113277    949.0
6           7  114319  11860.0
7           8  112302  45325.0
8           9  114576   9091.0
9          10  113189    710.0
10         11  112346   9087.0
11         12  112896  12110.0
12         13  112453  21032.0
13         14  113987  10858.0
14         15  112760   1408.0
15         16  112641    524.0
16         17  114388   4584.0
17         18  113101      5.0
18         19  112281   9273.0
19         20  113845  11517.0
20         21  113161   8012.0
21         22  112722   1710.0
22         23  112401   9691.0
23         24  114168  12665.0
24         25  113627    451.0
25         26  114057  16420.0
26         27  114011   9263.0
27         28  114117  17015.0
28         29  112682    902.0
29         30  115012  37557.0
...       ...     ...      ...
9970    32735   71502  47406.0
9971    32737   63991  49225.0
9972    32741   61613  42691.0
9973    32743  235712   9674.0
9974    32770  386342   3875.0
9975    32773  105097  24182.0
9976    32777   33868  38770.0
9977    32779   72206  74948.0
9978    32781   60491  14689.0
9979    32783   67610  69321.0
9980    32788  219288  31321.0
9981    32792   58003  26638.0
9982    32797   75165  37512.0
9983    32799   22183   9653.0
9984    32811   20475  42637.0
9985    32825   88083  19673.0
9986    32830  362389  14842.0
9987    32834   40558  27883.0
9988    32836  201631  41115.0
9989    32840   84868  32085.0
9990    32844   33238  43824.0
9991    32851   95341  41954.0
9992    32853   66904  42611.0
9993    32860   86136  54156.0
9994    32862   63821  39225.0
9995    32864   57329  30204.0
9996    32866   48317  40633.0
9997    32875   40497   4595.0
9998    32882   33388  26182.0
9999    32890   73424  42260.0

[10000 rows x 3 columns]
      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
5           6   113277     949.0
6           7   114319   11860.0
7           8   112302   45325.0
8           9   114576    9091.0
9          10   113189     710.0
10         11   112346    9087.0
11         12   112896   12110.0
12         13   112453   21032.0
13         14   113987   10858.0
14         15   112760    1408.0
15         16   112641     524.0
16         17   114388    4584.0
17         18   113101       5.0
18         19   112281    9273.0
19         20   113845   11517.0
20         21   113161    8012.0
21         22   112722    1710.0
22         23   112401    9691.0
23         24   114168   12665.0
24         25   113627     451.0
25         26   114057   16420.0
26         27   114011    9263.0
27         28   114117   17015.0
28         29   112682     902.0
29         30   115012   37557.0
...       ...      ...       ...
9970    98458    24854   31621.0
9971    98460    81613  119916.0
9972    98464    75439   18666.0
9973    98467    74747   46111.0
9974    98469    75201   40829.0
9975    98471    76661   46114.0
9976    98473    59050    4311.0
9977    98475    59499   33360.0
9978    98477    79002   10792.0
9979    98481  1693843   70863.0
9980    98483  1452297   82708.0
9981    98485  2209300  143800.0
9982    98491  2388725  140420.0
9983    98493    76227   18758.0
9984    98497    77541   18735.0
9985    98499    79315   19274.0
9986    98501    79484   46124.0
9987    98503    80623   18867.0
9988    98509  1314240   26152.0
9989    98511   455142   13679.0
9990    98513    92011   51594.0
9991    98520    82106   67079.0
9992    98523   106302   28790.0
9993    98526    66674  232005.0
9994    98528  1326839   21317.0
9995    98532  1928330   94380.0
9996    98552  1242447   49522.0
9997    98554  2281069  125504.0
9998    98556  1492820   40900.0
9999    98558    79509   38425.0

[20000 rows x 3 columns]
      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
5           6   113277     949.0
6           7   114319   11860.0
7           8   112302   45325.0
8           9   114576    9091.0
9          10   113189     710.0
10         11   112346    9087.0
11         12   112896   12110.0
12         13   112453   21032.0
13         14   113987   10858.0
14         15   112760    1408.0
15         16   112641     524.0
16         17   114388    4584.0
17         18   113101       5.0
18         19   112281    9273.0
19         20   113845   11517.0
20         21   113161    8012.0
21         22   112722    1710.0
22         23   112401    9691.0
23         24   114168   12665.0
24         25   113627     451.0
25         26   114057   16420.0
26         27   114011    9263.0
27         28   114117   17015.0
28         29   112682     902.0
29         30   115012   37557.0
...       ...      ...       ...
7248   131146   184005    9496.0
7249   131148  1661461   73770.0
7250   131150   461642   10036.0
7251   131152    59171  233438.0
7252   131154   202806   11664.0
7253   131156   295375    9572.0
7254   131158   102397    1915.0
7255   131160  1242522   51880.0
7256   131162  3028412  258751.0
7257   131164  2109059  208982.0
7258   131166  1489097   56771.0
7259   131168  2764784  254578.0
7260   131170  3479316  328595.0
7261   131172  2626926  160171.0
7262   131174  2058617  287422.0
7263   131176  3305316  254200.0
7264   131180  3816458  293771.0
7265   131231  1645916  301225.0
7266   131237  1595366   35428.0
7267   131239  1747994   91628.0
7268   131241   239450    9478.0
7269   131243   304931   10470.0
7270   131248   465925   10010.0
7271   131250   248409    9565.0
7272   131252   289477    9677.0
7273   131254   466713    4436.0
7274   131256   277703    9274.0
7275   131258  3485166  285213.0
7276   131260   249110   32099.0
7277   131262  1724965  286971.0

[27278 rows x 3 columns]
(27278, 3)

In [12]:
print(credits.dtypes)
print(keywords.dtypes)
print(links.dtypes)
print(metaData.dtypes)

cast    object
crew    object
id       int64
dtype: object
id           int64
keywords    object
dtype: object
movieId      int64
imdbId       int64
tmdbId     float64
dtype: object
id               int64
title           object
release_date    object
genres          object
tagline         object
overview        object
imdb_id         object
popularity      object
status          object
vote_average    object
vote_count      object
dtype: object

In [13]:
metaData['year'] = pd.to_datetime(metaData['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)
metaData['year'].replace({'NaT': '0000'}, inplace=True)
metaData[['year']] = metaData[['year']].astype(int)

In [14]:
metaData.head(5)

,id,title,release_date,genres,tagline,overview,imdb_id,popularity,status,vote_average,vote_count,year
0,862,Toy Story,1995-10-30,"['Animation', 'Comedy', 'Family']",None,"Led by Woody, Andy's toys live happily in his ...",tt0114709,21.946943,Released,7.7,5415.0,1995
1,8844,Jumanji,1995-12-15,"['Adventure', 'Fantasy', 'Family']",Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,tt0113497,17.015539,Released,6.9,2413.0,1995
2,15602,Grumpier Old Men,1995-12-22,"['Romance', 'Comedy']",Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,tt0113228,11.7129,Released,6.5,92.0,1995
3,31357,Waiting to Exhale,1995-12-22,"['Comedy', 'Drama', 'Romance']",Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",tt0114885,3.859495,Released,6.1,34.0,1995
4,253632,Baton Rouge,1988-10-08,['Thriller'],None,None,tt0094822,0.437895,Released,0.0,0.0,1988

In [15]:
metaData['flag'] = metaData['year'].apply(lambda x: 1 if x > 2015 else 0)

In [16]:
metaData

,id,title,release_date,genres,tagline,overview,imdb_id,popularity,status,vote_average,vote_count,year,flag
0,862,Toy Story,1995-10-30,"['Animation', 'Comedy', 'Family']",None,"Led by Woody, Andy's toys live happily in his ...",tt0114709,21.946943,Released,7.7,5415.0,1995,0
1,8844,Jumanji,1995-12-15,"['Adventure', 'Fantasy', 'Family']",Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,tt0113497,17.015539,Released,6.9,2413.0,1995,0
2,15602,Grumpier Old Men,1995-12-22,"['Romance', 'Comedy']",Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,tt0113228,11.7129,Released,6.5,92.0,1995,0
3,31357,Waiting to Exhale,1995-12-22,"['Comedy', 'Drama', 'Romance']",Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",tt0114885,3.859495,Released,6.1,34.0,1995,0
4,253632,Baton Rouge,1988-10-08,['Thriller'],None,None,tt0094822,0.437895,Released,0.0,0.0,1988,0
5,79048,C'est la vie,2001-11-07,"['Drama', 'Comedy']",None,None,tt0260198,0.001714,Released,0.0,0.0,2001,0
6,11862,Father of the Bride Part II,1995-02-10,['Comedy'],Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,tt0113041,8.387519000000001,Released,5.7,173.0,1995,0
7,949,Heat,1995-12-15,"['Action', 'Crime', 'Drama', 'Thriller']",A Los Angeles Crime Saga,"Obsessive master thief, Neil McCauley leads a ...",tt0113277,17.924927,Released,7.7,1886.0,1995,0
8,11860,Sabrina,1995-12-15,"['Comedy', 'Romance']",You are cordially invited to the most surprisi...,An ugly duckling having undergone a remarkable...,tt0114319,6.677277,Released,6.2,141.0,1995,0
9,45325,Tom and Huck,1995-12-22,"['Action', 'Adventure', 'Drama', 'Family']",The Original Bad Boys.,"A mischievous young boy, Tom Sawyer, witnesses...",tt0112302,2.5611610000000002,Released,5.4,45.0,1995,0
10,9091,Sudden Death,1995-12-22,"['Action', 'Adventure', 'Thriller']",Terror goes into overtime.,International action superstar Jean Claude Van...,tt0114576,5.23158,Released,5.5,174.0,1995,0
11,710,GoldenEye,1995-11-16,"['Adventure', 'Action', 'Thriller']",No limits. No fears. No substitutes.,James Bond must unmask the mysterious head of ...,tt0113189,14.686035999999998,Released,6.6,1194.0,1995,0
12,9087,The American President,1995-11-17,"['Comedy', 'Drama', 'Romance']",Why can't the most powerful man in the world h...,"Widowed U.S. president Andrew Shepherd, one of...",tt0112346,6.318445,Released,6.5,199.0,1995,0
13,12110,Dracula: Dead and Loving It,1995-12-22,"['Comedy', 'Horror']",None,When a lawyer shows up at the vampire's doorst...,tt0112896,5.430331,Released,5.7,210.0,1995,0
14,21032,Balto,1995-12-22,"['Family', 'Animation', 'Adventure']",Part Dog. Part Wolf. All Hero.,An outcast half-wolf risks his life to prevent...,tt0112453,12.140733,Released,7.1,423.0,1995,0
15,10858,Nixon,1995-12-22,"['History', 'Drama']","Triumphant in Victory, Bitter in Defeat. He Ch...",An all-star cast powers this epic look at Amer...,tt0113987,5.092,Released,7.1,72.0,1995,0
16,1408,Cutthroat Island,1995-12-22,"['Action', 'Adventure']",The Course Has Been Set. There Is No Turning B...,"Morgan Adams and her slave, William Shaw, are ...",tt0112760,7.284477000000001,Released,5.7,137.0,1995,0
17,524,Casino,1995-11-22,"['Drama', 'Crime']",No one stays at the top forever.,The life of the gambling paradise – Las Vegas ...,tt0112641,10.137389,Released,7.8,1343.0,1995,0
18,4584,Sense and Sensibility,1995-12-13,"['Drama', 'Romance']",Lose your heart and come to your senses.,"Rich Mr. Dashwood dies, leaving his second wif...",tt0114388,10.673167,Released,7.2,364.0,1995,0
19,5,Four Rooms,1995-12-09,"['Crime', 'Comedy']",Twelve outrageous guests. Four scandalous requ...,It's Ted the Bellhop's first night on the job....,tt0113101,9.026586,Released,6.5,539.0,1995,0
20,9273,Ace Ventura: When Nature Calls,1995-11-10,"['Crime', 'Comedy', 'Adventure']",New animals. New adventures. Same hair.,"Summoned from an ashram in Tibet, Ace finds hi...",tt0112281,8.205447999999999,Released,6.1,1128.0,1995,0
21,11517,Money Train,1995-11-21,"['Action', 'Comedy', 'Crime']","Get on, or GET OUT THE WAY!",A vengeful New York transit cop decides to ste...,tt0113845,7.337905999999999,Released,5.4,224.0,1995,0
22,8012,Get Shorty,1995-10-20,"['Comedy', 'Thriller', 'Crime']","The mob is tough, but it’s nothing like show b...",Chili Palmer is a Miami mobster who gets sent ...,tt0113161,12.669608,Released,6.4,305.0,1995,0
23,1710,Copycat,1995-10-27,"['Drama', 'Thriller']",One man is copying the most notorious killers ...,An agoraphobic psychologist and a female detec...,tt0112722,10.701801,Released,6.5,199.0,1995,0
24,9691,Assassins,1995-10-06,"['Action', 'Adventure', 'Crime', 'Thriller']","In the shadows of life, In the business of dea...",Assassin Robert Rath arrives at a funeral to k...,tt0112401,11.065939,Released,6.0,394.0,1995,0
25,12665,Powder,1995-10-27,"['Drama', 'Fantasy', 'Science Fiction', 'Thril...",An extraordinary encounter with another human ...,Harassed by classmates who won't accept his sh...,tt0114168,12.133094,Released,6.3,143.0,1995,0
26,451,Leaving Las Vegas,1995-10-27,"['Drama', 'Romance']",I Love You... The Way You Are.,"Ben Sanderson, an alcoholic Hollywood screenwr...",tt0113627,10.332025,Released,7.1,365.0,1995,0
27,16420,Othello,1995-12-15,['Drama'],"Envy, greed, jealousy and love.",The evil Iago pretends to be friend of Othello...,tt0114057,1.8458990000000002,Released,7.0,33.0,1995,0
28,9263,Now and Then,1995-10-20,"['Comedy', 'Drama', 'Family']",In every woman there is the girl she left behind.,Waxing nostalgic about the bittersweet passage...,tt0114011,8.681325,Released,6.6,91.0,1995,0
29,17015,Persuasion,1995-09-27,"['Drama', 'Romance']",None,This film adaptation of Jane Austen's last nov...,tt0114117,2.228434,Released,7.4,36.0,1995,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5413,45527,The Final Storm,2010-01-01,"['Action', 'Mystery', 'Thriller', 'Horror']","Action, Horror",A stranger named Silas flees from a devastatin...,tt1331329,1.270832,Released,3.7,11.0,2010,0
5414,455661,In a Heartbeat,2017-06-01,"['Family', 'Animation', 'Romance', 'Comedy']",The Heart Wants What The Heart Wants,A closeted boy runs the risk of being outed by...,tt6969946,20.82178,Released,8.3,146.0,2017,1
5415,327237,"Blood, Sweat and Tears",2015-04-02,['Drama'],The movie about Andre Hazes,"Bloed, Zweet en Tranen (Blood, Sweat and Tears...",tt3814486,0.590087,Released,6.8,11.0,2015,0
5416,84710,Jungle Woman,1944-06-01,"['Drama', 'Fantasy', 'Horror']",RAPTUROUS BEAUTY!...FURY OF A BEAST!,Paula the ape woman (Acquanetta) is alive and ...,tt0036975,0.143223,Released,5.8,2.0,1944,0
5417,39562,To Be Fat Like Me,2007-01-08,"['Drama', 'Family', 'TV Movie']",None,"Pretty, popular, and slim high-schooler Aly Sc...",tt0889600,0.767762,Released,5.0,12.0,2007,0
5418,14008,Cadet Kelly,2002-03-07,['Comedy'],Too Cool For The Rules!,Hyperactive teenager Kelly is enrolled into a ...,tt0294425,4.392389,Released,5.2,145.0,2002,0
5419,44330,The Scheming Gambler's Paradise,1905-01-01,[],None,A combination gambling den and bawdy house is ...,tt0135690,0.21926,NA,5.0,3.0,1905,0
5420,49279,The Man with the Rubber Head,1901-01-01,"['Comedy', 'Fantasy', 'Science Fiction']",None,A chemist in his laboratory places upon a tabl...,tt0000359,1.618458,Released,7.6,29.0,1901,0
5421,44333,The Living Playing Cards,1905-01-01,['Fantasy'],None,A bearded magician holds up a large playing ca...,tt0135179,0.208349,Released,6.1,8.0,1905,0
5422,49277,The Hilarious Posters,1906-01-01,"['Fantasy', 'Comedy']",None,A wall full of advertising posters comes to life.,tt0135122,0.148131,Released,4.5,2.0,1906,0
5423,49271,The Devilish Tenant,1909-01-01,"['Fantasy', 'Comedy']",None,A man rents an apartment and furnishes it in r...,tt0127948,0.725084,Released,6.7,12.0,1909,0
5424,44324,The Untameable Whiskers,1904-03-05,[],None,The background of this picture represents a sc...,tt0135631,0.213973,Released,6.0,6.0,1904,0
5425,122036,The Imperceptable Transmutations,1904-01-01,[],None,This shows a prince entering upon the stage of...,tt0224286,0.071782,Released,5.0,2.0,1904,0
5426,14885,Pooh's Heffalump Halloween Movie,2005-09-13,"['Animation', 'Family']",Celebrate Lumpy's First Halloween.,"It's Halloween in the 100 Acre Wood, and Roo's...",tt0457437,2.568495,Released,5.4,7.0,2005,0
5427,49280,The One-Man Band,1900-01-01,"['Fantasy', 'Action', 'Thriller']",None,A band-leader has arranged seven chairs for th...,tt0135453,1.109068,Released,6.5,22.0,1900,0
5428,106807,The Fat and Lean Wrestling Match,1900-01-01,"['Comedy', 'Fantasy']",None,A series of fantastical wrestling matches.,tt0135571,0.225432,Released,6.5,6.0,1900,0
5429,276895,Deep Hearts,1981-01-01,['Documentary'],None,"Deep Hearts is a film about the Bororo Fulani,...",tt3054038,0.011025,Released,0.0,0.0,1981,0
5430,404604,Mom,2017-07-07,"['Crime', 'Drama', 'Thriller']",None,The bliss of a biology teacher’s family life i...,tt5690142,1.559596,Released,6.6,14.0,2017,1
5431,420346,The Morning After,2015-01-11,"['Comedy', 'Drama']",What happened last night?,The Morning After is a feature film that consi...,tt4130180,0.139936,Released,4.0,2.0,2015,0
5432,67179,St. Michael Had a Rooster,1972-01-01,[],None,Sentenced to life imprisonment for illegal act...,tt0069215,0.225051,Released,6.0,3.0,1972,0
5433,84419,House of Horrors,1946-03-29,"['Horror', 'Mystery', 'Thriller']",Meet...The CREEPER!,An unsuccessful sculptor saves a madman named ...,tt0038621,0.222814,Released,6.3,8.0,1946,0
5434,390959,Shadow of the Blair Witch,2000-10-22,"['Mystery', 'Horror']",None,"In this true-crime documentary, we delve into ...",tt0265736,0.076061,Released,7.0,2.0,2000,0
5435,289923,The Burkittsville 7,2000-10-03,['Horror'],"Do you know what happened 50 years before """"Th...",A film archivist revisits the story of Rustin ...,tt0252966,0.38645,Released,7.0,1.0,2000,0
5436,222848,Caged Heat 3000,1995-01-01,['Science Fiction'],None,It's the year 3000 AD. The world's most danger...,tt0112613,0.661558,Released,3.5,1.0,1995,0
5437,30840,Robin Hood,1991-05-13,"['Drama', 'Action', 'Romance']",None,"Yet another version of the classic epic, with ...",tt0102797,5.683753,Released,5.7,26.0,1991,0
5438,439050,Subdue,NA,"['Drama', 'Family']",Rising and falling between a man and woman,Rising and falling between a man and woman.,tt6209470,0.072051,Released,4.0,1.0,0,0
5439,111109,Century of Birthing,2011-11-17,['Drama'],None,An artist struggles to finish his work while a...,tt2028550,0.178241,Released,9.0,3.0,2011,0
5440,67758,Betrayal,2003-08-01,"['Action', 'Drama', 'Thriller']",A deadly game of wits.,"When one of her hits goes wrong, a professiona...",tt0303758,0.903007,Released,3.8,6.0,2003,0
5441,227506,Satan Triumphant,1917-10-21,[],None,"In a small town live two brothers, one a minis...",tt0008536,0.003503,Released,0.0,0.0,1917,0
5442,461257,Queerama,2017-06-09,[],None,50 years after decriminalisation of homosexual...,tt6980792,0.163015,Released,0.0,0.0,2017,1

In [17]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metaData['id'] = metaData['id'].astype('int')
links = links[links['tmdbId'].notnull()]['tmdbId'].astype('int')

In [18]:
metaData

,id,title,release_date,genres,tagline,overview,imdb_id,popularity,status,vote_average,vote_count,year,flag
0,862,Toy Story,1995-10-30,"['Animation', 'Comedy', 'Family']",None,"Led by Woody, Andy's toys live happily in his ...",tt0114709,21.946943,Released,7.7,5415.0,1995,0
1,8844,Jumanji,1995-12-15,"['Adventure', 'Fantasy', 'Family']",Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,tt0113497,17.015539,Released,6.9,2413.0,1995,0
2,15602,Grumpier Old Men,1995-12-22,"['Romance', 'Comedy']",Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,tt0113228,11.7129,Released,6.5,92.0,1995,0
3,31357,Waiting to Exhale,1995-12-22,"['Comedy', 'Drama', 'Romance']",Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",tt0114885,3.859495,Released,6.1,34.0,1995,0
4,253632,Baton Rouge,1988-10-08,['Thriller'],None,None,tt0094822,0.437895,Released,0.0,0.0,1988,0
5,79048,C'est la vie,2001-11-07,"['Drama', 'Comedy']",None,None,tt0260198,0.001714,Released,0.0,0.0,2001,0
6,11862,Father of the Bride Part II,1995-02-10,['Comedy'],Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,tt0113041,8.387519000000001,Released,5.7,173.0,1995,0
7,949,Heat,1995-12-15,"['Action', 'Crime', 'Drama', 'Thriller']",A Los Angeles Crime Saga,"Obsessive master thief, Neil McCauley leads a ...",tt0113277,17.924927,Released,7.7,1886.0,1995,0
8,11860,Sabrina,1995-12-15,"['Comedy', 'Romance']",You are cordially invited to the most surprisi...,An ugly duckling having undergone a remarkable...,tt0114319,6.677277,Released,6.2,141.0,1995,0
9,45325,Tom and Huck,1995-12-22,"['Action', 'Adventure', 'Drama', 'Family']",The Original Bad Boys.,"A mischievous young boy, Tom Sawyer, witnesses...",tt0112302,2.5611610000000002,Released,5.4,45.0,1995,0
10,9091,Sudden Death,1995-12-22,"['Action', 'Adventure', 'Thriller']",Terror goes into overtime.,International action superstar Jean Claude Van...,tt0114576,5.23158,Released,5.5,174.0,1995,0
11,710,GoldenEye,1995-11-16,"['Adventure', 'Action', 'Thriller']",No limits. No fears. No substitutes.,James Bond must unmask the mysterious head of ...,tt0113189,14.686035999999998,Released,6.6,1194.0,1995,0
12,9087,The American President,1995-11-17,"['Comedy', 'Drama', 'Romance']",Why can't the most powerful man in the world h...,"Widowed U.S. president Andrew Shepherd, one of...",tt0112346,6.318445,Released,6.5,199.0,1995,0
13,12110,Dracula: Dead and Loving It,1995-12-22,"['Comedy', 'Horror']",None,When a lawyer shows up at the vampire's doorst...,tt0112896,5.430331,Released,5.7,210.0,1995,0
14,21032,Balto,1995-12-22,"['Family', 'Animation', 'Adventure']",Part Dog. Part Wolf. All Hero.,An outcast half-wolf risks his life to prevent...,tt0112453,12.140733,Released,7.1,423.0,1995,0
15,10858,Nixon,1995-12-22,"['History', 'Drama']","Triumphant in Victory, Bitter in Defeat. He Ch...",An all-star cast powers this epic look at Amer...,tt0113987,5.092,Released,7.1,72.0,1995,0
16,1408,Cutthroat Island,1995-12-22,"['Action', 'Adventure']",The Course Has Been Set. There Is No Turning B...,"Morgan Adams and her slave, William Shaw, are ...",tt0112760,7.284477000000001,Released,5.7,137.0,1995,0
17,524,Casino,1995-11-22,"['Drama', 'Crime']",No one stays at the top forever.,The life of the gambling paradise – Las Vegas ...,tt0112641,10.137389,Released,7.8,1343.0,1995,0
18,4584,Sense and Sensibility,1995-12-13,"['Drama', 'Romance']",Lose your heart and come to your senses.,"Rich Mr. Dashwood dies, leaving his second wif...",tt0114388,10.673167,Released,7.2,364.0,1995,0
19,5,Four Rooms,1995-12-09,"['Crime', 'Comedy']",Twelve outrageous guests. Four scandalous requ...,It's Ted the Bellhop's first night on the job....,tt0113101,9.026586,Released,6.5,539.0,1995,0
20,9273,Ace Ventura: When Nature Calls,1995-11-10,"['Crime', 'Comedy', 'Adventure']",New animals. New adventures. Same hair.,"Summoned from an ashram in Tibet, Ace finds hi...",tt0112281,8.205447999999999,Released,6.1,1128.0,1995,0
21,11517,Money Train,1995-11-21,"['Action', 'Comedy', 'Crime']","Get on, or GET OUT THE WAY!",A vengeful New York transit cop decides to ste...,tt0113845,7.337905999999999,Released,5.4,224.0,1995,0
22,8012,Get Shorty,1995-10-20,"['Comedy', 'Thriller', 'Crime']","The mob is tough, but it’s nothing like show b...",Chili Palmer is a Miami mobster who gets sent ...,tt0113161,12.669608,Released,6.4,305.0,1995,0
23,1710,Copycat,1995-10-27,"['Drama', 'Thriller']",One man is copying the most notorious killers ...,An agoraphobic psychologist and a female detec...,tt0112722,10.701801,Released,6.5,199.0,1995,0
24,9691,Assassins,1995-10-06,"['Action', 'Adventure', 'Crime', 'Thriller']","In the shadows of life, In the business of dea...",Assassin Robert Rath arrives at a funeral to k...,tt0112401,11.065939,Released,6.0,394.0,1995,0
25,12665,Powder,1995-10-27,"['Drama', 'Fantasy', 'Science Fiction', 'Thril...",An extraordinary encounter with another human ...,Harassed by classmates who won't accept his sh...,tt0114168,12.133094,Released,6.3,143.0,1995,0
26,451,Leaving Las Vegas,1995-10-27,"['Drama', 'Romance']",I Love You... The Way You Are.,"Ben Sanderson, an alcoholic Hollywood screenwr...",tt0113627,10.332025,Released,7.1,365.0,1995,0
27,16420,Othello,1995-12-15,['Drama'],"Envy, greed, jealousy and love.",The evil Iago pretends to be friend of Othello...,tt0114057,1.8458990000000002,Released,7.0,33.0,1995,0
28,9263,Now and Then,1995-10-20,"['Comedy', 'Drama', 'Family']",In every woman there is the girl she left behind.,Waxing nostalgic about the bittersweet passage...,tt0114011,8.681325,Released,6.6,91.0,1995,0
29,17015,Persuasion,1995-09-27,"['Drama', 'Romance']",None,This film adaptation of Jane Austen's last nov...,tt0114117,2.228434,Released,7.4,36.0,1995,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5413,45527,The Final Storm,2010-01-01,"['Action', 'Mystery', 'Thriller', 'Horror']","Action, Horror",A stranger named Silas flees from a devastatin...,tt1331329,1.270832,Released,3.7,11.0,2010,0
5414,455661,In a Heartbeat,2017-06-01,"['Family', 'Animation', 'Romance', 'Comedy']",The Heart Wants What The Heart Wants,A closeted boy runs the risk of being outed by...,tt6969946,20.82178,Released,8.3,146.0,2017,1
5415,327237,"Blood, Sweat and Tears",2015-04-02,['Drama'],The movie about Andre Hazes,"Bloed, Zweet en Tranen (Blood, Sweat and Tears...",tt3814486,0.590087,Released,6.8,11.0,2015,0
5416,84710,Jungle Woman,1944-06-01,"['Drama', 'Fantasy', 'Horror']",RAPTUROUS BEAUTY!...FURY OF A BEAST!,Paula the ape woman (Acquanetta) is alive and ...,tt0036975,0.143223,Released,5.8,2.0,1944,0
5417,39562,To Be Fat Like Me,2007-01-08,"['Drama', 'Family', 'TV Movie']",None,"Pretty, popular, and slim high-schooler Aly Sc...",tt0889600,0.767762,Released,5.0,12.0,2007,0
5418,14008,Cadet Kelly,2002-03-07,['Comedy'],Too Cool For The Rules!,Hyperactive teenager Kelly is enrolled into a ...,tt0294425,4.392389,Released,5.2,145.0,2002,0
5419,44330,The Scheming Gambler's Paradise,1905-01-01,[],None,A combination gambling den and bawdy house is ...,tt0135690,0.21926,NA,5.0,3.0,1905,0
5420,49279,The Man with the Rubber Head,1901-01-01,"['Comedy', 'Fantasy', 'Science Fiction']",None,A chemist in his laboratory places upon a tabl...,tt0000359,1.618458,Released,7.6,29.0,1901,0
5421,44333,The Living Playing Cards,1905-01-01,['Fantasy'],None,A bearded magician holds up a large playing ca...,tt0135179,0.208349,Released,6.1,8.0,1905,0
5422,49277,The Hilarious Posters,1906-01-01,"['Fantasy', 'Comedy']",None,A wall full of advertising posters comes to life.,tt0135122,0.148131,Released,4.5,2.0,1906,0
5423,49271,The Devilish Tenant,1909-01-01,"['Fantasy', 'Comedy']",None,A man rents an apartment and furnishes it in r...,tt0127948,0.725084,Released,6.7,12.0,1909,0
5424,44324,The Untameable Whiskers,1904-03-05,[],None,The background of this picture represents a sc...,tt0135631,0.213973,Released,6.0,6.0,1904,0
5425,122036,The Imperceptable Transmutations,1904-01-01,[],None,This shows a prince entering upon the stage of...,tt0224286,0.071782,Released,5.0,2.0,1904,0
5426,14885,Pooh's Heffalump Halloween Movie,2005-09-13,"['Animation', 'Family']",Celebrate Lumpy's First Halloween.,"It's Halloween in the 100 Acre Wood, and Roo's...",tt0457437,2.568495,Released,5.4,7.0,2005,0
5427,49280,The One-Man Band,1900-01-01,"['Fantasy', 'Action', 'Thriller']",None,A band-leader has arranged seven chairs for th...,tt0135453,1.109068,Released,6.5,22.0,1900,0
5428,106807,The Fat and Lean Wrestling Match,1900-01-01,"['Comedy', 'Fantasy']",None,A series of fantastical wrestling matches.,tt0135571,0.225432,Released,6.5,6.0,1900,0
5429,276895,Deep Hearts,1981-01-01,['Documentary'],None,"Deep Hearts is a film about the Bororo Fulani,...",tt3054038,0.011025,Released,0.0,0.0,1981,0
5430,404604,Mom,2017-07-07,"['Crime', 'Drama', 'Thriller']",None,The bliss of a biology teacher’s family life i...,tt5690142,1.559596,Released,6.6,14.0,2017,1
5431,420346,The Morning After,2015-01-11,"['Comedy', 'Drama']",What happened last night?,The Morning After is a feature film that consi...,tt4130180,0.139936,Released,4.0,2.0,2015,0
5432,67179,St. Michael Had a Rooster,1972-01-01,[],None,Sentenced to life imprisonment for illegal act...,tt0069215,0.225051,Released,6.0,3.0,1972,0
5433,84419,House of Horrors,1946-03-29,"['Horror', 'Mystery', 'Thriller']",Meet...The CREEPER!,An unsuccessful sculptor saves a madman named ...,tt0038621,0.222814,Released,6.3,8.0,1946,0
5434,390959,Shadow of the Blair Witch,2000-10-22,"['Mystery', 'Horror']",None,"In this true-crime documentary, we delve into ...",tt0265736,0.076061,Released,7.0,2.0,2000,0
5435,289923,The Burkittsville 7,2000-10-03,['Horror'],"Do you know what happened 50 years before """"Th...",A film archivist revisits the story of Rustin ...,tt0252966,0.38645,Released,7.0,1.0,2000,0
5436,222848,Caged Heat 3000,1995-01-01,['Science Fiction'],None,It's the year 3000 AD. The world's most danger...,tt0112613,0.661558,Released,3.5,1.0,1995,0
5437,30840,Robin Hood,1991-05-13,"['Drama', 'Action', 'Romance']",None,"Yet another version of the classic epic, with ...",tt0102797,5.683753,Released,5.7,26.0,1991,0
5438,439050,Subdue,NA,"['Drama', 'Family']",Rising and falling between a man and woman,Rising and falling between a man and woman.,tt6209470,0.072051,Released,4.0,1.0,0,0
5439,111109,Century of Birthing,2011-11-17,['Drama'],None,An artist struggles to finish his work while a...,tt2028550,0.178241,Released,9.0,3.0,2011,0
5440,67758,Betrayal,2003-08-01,"['Action', 'Drama', 'Thriller']",A deadly game of wits.,"When one of her hits goes wrong, a professiona...",tt0303758,0.903007,Released,3.8,6.0,2003,0
5441,227506,Satan Triumphant,1917-10-21,[],None,"In a small town live two brothers, one a minis...",tt0008536,0.003503,Released,0.0,0.0,1917,0
5442,461257,Queerama,2017-06-09,[],None,50 years after decriminalisation of homosexual...,tt6980792,0.163015,Released,0.0,0.0,2017,1

In [19]:
metaData = metaData.merge(credits, on='id')
metaData = metaData.merge(keywords, on='id')

In [20]:
metaData

,id,title,release_date,genres,tagline,overview,imdb_id,popularity,status,vote_average,vote_count,year,flag,cast,crew,keywords
0,862,Toy Story,1995-10-30,"['Animation', 'Comedy', 'Family']",None,"Led by Woody, Andy's toys live happily in his ...",tt0114709,21.946943,Released,7.7,5415.0,1995,0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,Jumanji,1995-12-15,"['Adventure', 'Fantasy', 'Family']",Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,tt0113497,17.015539,Released,6.9,2413.0,1995,0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,15602,Grumpier Old Men,1995-12-22,"['Romance', 'Comedy']",Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,tt0113228,11.7129,Released,6.5,92.0,1995,0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,31357,Waiting to Exhale,1995-12-22,"['Comedy', 'Drama', 'Romance']",Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",tt0114885,3.859495,Released,6.1,34.0,1995,0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,253632,Baton Rouge,1988-10-08,['Thriller'],None,None,tt0094822,0.437895,Released,0.0,0.0,1988,0,"[{'cast_id': 1, 'character': 'Ana Alonzo', 'cr...",[],[]
5,79048,C'est la vie,2001-11-07,"['Drama', 'Comedy']",None,None,tt0260198,0.001714,Released,0.0,0.0,2001,0,"[{'cast_id': 2, 'character': 'Dimitri', 'credi...","[{'credit_id': '52fe49c0c3a368484e13d8db', 'de...",[]
6,11862,Father of the Bride Part II,1995-02-10,['Comedy'],Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,tt0113041,8.387519000000001,Released,5.7,173.0,1995,0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
7,949,Heat,1995-12-15,"['Action', 'Crime', 'Drama', 'Thriller']",A Los Angeles Crime Saga,"Obsessive master thief, Neil McCauley leads a ...",tt0113277,17.924927,Released,7.7,1886.0,1995,0,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '..."
8,11860,Sabrina,1995-12-15,"['Comedy', 'Romance']",You are cordially invited to the most surprisi...,An ugly duckling having undergone a remarkable...,tt0114319,6.677277,Released,6.2,141.0,1995,0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...","[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam..."
9,45325,Tom and Huck,1995-12-22,"['Action', 'Adventure', 'Drama', 'Family']",The Original Bad Boys.,"A mischievous young boy, Tom Sawyer, witnesses...",tt0112302,2.5611610000000002,Released,5.4,45.0,1995,0,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",[]
10,9091,Sudden Death,1995-12-22,"['Action', 'Adventure', 'Thriller']",Terror goes into overtime.,International action superstar Jean Claude Van...,tt0114576,5.23158,Released,5.5,174.0,1995,0,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...","[{'id': 949, 'name': 'terrorist'}, {'id': 1562..."
11,710,GoldenEye,1995-11-16,"['Adventure', 'Action', 'Thriller']",No limits. No fears. No substitutes.,James Bond must unmask the mysterious head of ...,tt0113189,14.686035999999998,Released,6.6,1194.0,1995,0,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam..."
12,9087,The American President,1995-11-17,"['Comedy', 'Drama', 'Romance']",Why can't the most powerful man in the world h...,"Widowed U.S. president Andrew Shepherd, one of...",tt0112346,6.318445,Released,6.5,199.0,1995,0,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...","[{'id': 833, 'name': 'white house'}, {'id': 84..."
13,12110,Dracula: Dead and Loving It,1995-12-22,"['Comedy', 'Horror']",None,When a lawyer shows up at the vampire's doorst...,tt0112896,5.430331,Released,5.7,210.0,1995,0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...","[{'id': 3633, 'name': 'dracula'}, {'id': 11931..."
14,21032,Balto,1995-12-22,"['Family', 'Animation', 'Adventure']",Part Dog. Part Wolf. All Hero.,An outcast half-wolf risks his life to prevent...,tt0112453,12.140733,Released,7.1,423.0,1995,0,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...","[{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n..."
15,10858,Nixon,1995-12-22,"['History', 'Drama']","Triumphant in Victory, Bitter in Defeat. He Ch...",An all-star cast powers this epic look at Amer...,tt0113987,5.092,Released,7.1,72.0,1995,0,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...","[{'id': 840, 'name': 'usa president'}, {'id': ..."
16,1408,Cutthroat Island,1995-12-22,"['Action', 'Adventure']",The Course Has Been Set. There Is No Turning B...,"Morgan Adams and her slave, William Shaw, are ...",tt0112760,7.284477000000001,Released,5.7,137.0,1995,0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...","[{'id': 911, 'name': 'exotic island'}, {'id': ..."
17,524,Casino,1995-11-22,"['Drama', 'Crime']",No one stays at the top forever.,The life of the gambling paradise – Las Vegas ...,tt0112641,10.137389,Released,7.8,1343.0,1995,0,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...","[{'id': 383, 'name': 'poker'}, {'id': 726, 'na..."
18,4584,Sense and Sensibility,1995-12-13,"['Drama', 'Romance']",Lose your heart and come to your senses.,"Rich Mr. Dashwood dies, leaving his second wif...",tt0114388,10.673167,Released,7.2,364.0,1995,0,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...","[{'id': 420, 'name': 'bowling'}, {'id': 818, '..."
19,5,Four Rooms,1995-12-09,"['Crime', 'Comedy']",Twelve outrageous guests. Four scandalous requ...,It's Ted the Bellhop's first night on the job....,tt0113101,9.026586,Released,6.5,539.0,1995,0,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...","[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na..."
20,9273,Ace Ventura: When Nature Calls,1995-11-10,"['Crime', 'Comedy', 'Adventure']",New animals. New adventures. Same hair.,"Summoned from an ashram in Tibet, Ace finds hi...",tt0112281,8.205447999999999,Released,6.1,1128.0,1995,0,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...","[{'id': 409, 'name': 'africa'}, {'id': 1551, '..."
21,11517,Money Train,1995-11-21,"['Action', 'Comedy', 'Crime']","Get on, or GET OUT THE WAY!",A vengeful New York transit cop decides to ste...,tt0113845,7.337905999999999,Released,5.4,224.0,1995,0,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...","[{'id': 380, 'name': 'brother brother relation..."
22,8012,Get Shorty,1995-10-20,"['Comedy', 'Thriller', 'Crime']","The mob is tough, but it’s nothing like show b...",Chili Palmer is a Miami mobster who gets sent ...,tt0113161,12.669608,Released,6.4,305.0,1995,0,"[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de...","[{'id': 395, 'name': 'gambling'}, {'id': 416, ..."
23,1710,Copycat,1995-10-27,"['Drama', 'Thriller']",One man is copying the most notorious killers ...,An agoraphobic psychologist and a female detec...,tt0112722,10.701801,Released,6.5,199.0,1995,0,"[{'cast_id': 8, 'character': 'Helen Hudson', '...","[{'credit_id': '52fe430ec3a36847f803722d', 'de...","[{'id': 796, 'name': 'police brutality'}, {'id..."
24,9691,Assassins,1995-10-06,"['Action', 'Adventure', 'Crime', 'Thriller']","In the shadows of life, In the business of dea...",Assassin Robert Rath arrives at a funeral to k...,tt0112401,11.065939,Released,6.0,394.0,1995,0,"[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...","[{'id': 271, 'name': 'competition'}, {'id': 44..."
25,12665,Powder,1995-10-27,"['Drama', 'Fantasy', 'Science Fiction', 'Thril...",An extraordinary encounter with another human ...,Harassed by classmates who won't accept his sh...,tt0114168,12.133094,Released,6.3,143.0,1995,0,"[{'cast_id': 1, 'character': 'Jessie Caldwell'...","[{'credit_id': '52fe45129251416c7504ab67', 'de...","[{'id': 7345, 'name': 'dead animal'}, {'id': 1..."
26,451,Leaving Las Vegas,1995-10-27,"['Drama', 'Romance']",I Love You... The Way You Are.,"Ben Sanderson, an alcoholic Hollywood screenwr...",tt0113627,10.332025,Released,7.1,365.0,1995,0,"[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...","[{'id': 30, 'name': 'individual'}, {'id': 549,..."
27,16420,Othello,1995-12-15,['Drama'],"Envy, greed, jealousy and love.",The evil Iago pretends to be friend of Othello...,tt0114057,1.8458990000000002,Released,7.0,33.0,1995,0,"[{'cast_id': 2, 'character': 'Othello', 'credi...","[{'credit_id': '5462510ec3a368082d000121', 'de...","[{'id': 497, 'name': 'shakespeare'}, {'id': 93..."
28,9263,Now and Then,1995-10-20,"['Comedy', 'Drama', 'Family']",In every woman there is the girl she left behind.,Waxing nostalgic about the bittersweet passage...,tt0114011,8.681325,Released,6.6,91.0,1995,0,"[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...","[{'id': 1228, 'name': '1970s'}, {'id': 5248, '..."
29,17015,Persuasion,1995-09-27,"['Drama', 'Romance']",None,This film adaptation of Jane Austen's last nov...,tt0114117,2.228434,Released,7.4,36.0,1995,0,"[{'cast_id': 1, 'character': 'Anne Elliott', '...","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...","[{'id': 1316, 'name': 'captain'}, {'id': 33384..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46577,45527,The Final Storm,2010-01-01,"['Action', 'Mystery', 'Thriller', 'Horror']","Action, Horror",A stranger named Silas flees from a devastatin...,tt1331329,1.270832,Released,3.7,11.0,2010,0,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",[]
46578,455661,In a Heartbeat,2017-06-01,"['Family', 'Animation', 'Romance', 'Comedy']",The Heart Wants What The Heart Wants,A closeted boy runs the risk of being outed by...,tt6969946,20.82178,Released,8.3,146.0,2017,1,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...","[{'id': 9673, 'name': 'love'}, {'id': 13130, '..."
46579,327237,"Blood, Sweat and Tears",2015-04-02,['Drama'],The movie about Andre Hazes,"Bloed, Zweet en Tranen (Blood, Sweat and Tears...",tt3814486,0.590087,Released,6.8,11.0,2015,0,"[{'cast_id': 2, 'character': 'André Hazes', 'c...","[{'credit_id': '54edb0e0c3a3686d58003a13', 'de...","[{'id': 5565, 'name': 'biography'}, {'id': 102..."
46580,84710,Jungle Woman,1944-06-01,"['Drama', 'Fantasy', 'Horror']",RAPTUROUS BEAUTY!...FURY OF A BEAST!,Paula the ape woman (Acquanetta) is alive and ...,tt0036975,0.143223,Released,5.8,2.0,1944,0,"[{'cast_id': 2, 'character': 'Paula Dupree - t...","[{'credit_id': '52fe49099251416c910a0a89', 'de...","[{'id': 208422, 'name': 'paula dupree'}]"
46581,39562,To Be Fat Like Me,2007-01-08,"['Drama', 'Family', 'TV Movie']",None,"Pretty, popular, and slim high-schooler Aly Sc...",tt0889600,0.767762,Released,5.0,12.0,2007,0,"[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...","[{'id': 2064, 'name': 'overweight'}, {'id': 10..."
46582,14008,Cadet Kelly,2002-03-07,['Comedy'],Too Cool For The Rules!,Hyperactive teenager Kelly is enrolled into a ...,tt0294425,4.392389,Released,5.2,145.0,2002,0,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...","[{'id': 171803, 'name': 'military school'}]"
46583,44330,The Scheming Gambler's Paradise,1905-01-01,[],None,A combination gambling den and bawdy house is ...,tt0135690,0.21926,NA,5.0,3.0,1905,0,[],"[{'credit_id': '52fe4684c3a36847f81034f3', 'de...","[{'id': 169590, 'name': 'police raid'}]"
46584,49279,The Man with the Rubber Head,1901-01-01,"['Comedy', 'Fantasy', 'Science Fiction']",None,A chemist in his laboratory places upon a tabl...,tt0000359,1.618458,Released,7.6,29.0,1901,0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd5f', 'de...","[{'id': 10124, 'name': 'laboratory'}, {'id': 1..."
46585,44333,The Living Playing Cards,1905-01-01,['Fantasy'],None,A bearded magician holds up a large playing ca...,tt0135179,0.208349,Released,6.1,8.0,1905,0,"[{'cast_id': 2, 'character': 'The Magician', '...","[{'credit_id': '52fe4684c3a36847f810350b', 'de...","[{'id': 2343, 'name': 'magic'}, {'id': 154802,..."
46586,49277,The Hilarious Posters,1906-01-01,"['Fantasy', 'Comedy']",None,A wall full of advertising posters comes to life.,tt0135122,0.148131,Released,4.5,2.0,1906,0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd4b', 'de...","[{'id': 154802, 'name': 'silent film'}, {'id':..."
46587,49271,The Devilish Tenant,1909-01-01,"['Fantasy', 'Comedy']",None,A man rents an apartment and furnishes it in r...,tt0127948,0.725084,Released,6.7,12.0,1909,0,"[{'cast_id': 2, 'character': 'Le Concierge', '...","[{'credit_id': '52fe478dc3a36847f813bd19', 'de...","[{'id': 11320, 'name': 'tenant'}, {'id': 15480..."
46588,44324,The Untameable Whiskers,1904-03-05,[],None,The background of this picture represents a sc...,tt0135631,0.213973,Released,6.0,6.0,1904,0,"[{'cast_id': 2, 'character': 'Man with whisker...","[{'credit_id': '52fe4684c3a36847f810345f', 'de...",[]
46589,122036,The Imperceptable Transmutations,1904-01-01,[],None,This shows a prince entering upon the stage of...,tt0224286,0.071782,Released,5.0,2.0,1904,0,[],"[{'credit_id': '52fe4a74c3a368484e1542e9', 'de...",[]
46590,14885,Pooh's Heffalump Halloween Movie,2005-09-13,"['Animation', 'Family']",Celebrate Lumpy's First Halloween.,"It's Halloween in the 100 Acre Wood, and Roo's...",tt0457437,2.568495,Released,5.4,7.0,2005,0,"[{'cast_id': 1, 'character': 'Roo (voice)', 'c...","[{'credit_id': '52fe46249251416c7506e969', 'de...","[{'id': 3335, 'name': 'halloween'}, {'id': 193..."
46591,49280,The One-Man Band,1900-01-01,"['Fantasy', 'Action', 'Thriller']",None,A band-leader has arranged seven chairs for th...,tt0135453,1.109068,Released,6.5,22.0,1900,0,"[{'cast_id': 3, 'character': 'All the members ...","[{'credit_id': '52fe478dc3a36847f813bd6b', 'de...",[]
46592,106807,The Fat and Lean Wrestling Match,1900-01-01,"['Comedy', 'Fantasy']",None,A series of fantastical wrestling matches.,tt0135571,0.225432,Released,6.5,6.0,1900,0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...","[{'id': 5970, 'name': 'wrestling'}, {'id': 607..."
46593,276895,Deep Hearts,1981-01-01,['Documentary'],None,"Deep Hearts is a film about the Bororo Fulani,...",tt3054038,0.011025,Released,0.0,0.0,1981,0,[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",[]
46594,404604,Mom,2017-07-07,"['Crime', 'Drama', 'Thriller']",None,The bliss of a biology teacher’s family life i...,tt5690142,1.559596,Released,6.6,14.0,2017,1,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...","[{'id': 155794, 'name': 'physical abuse'}, {'i..."
46595,420346,The Morning After,2015-01-11,"['Comedy', 'Drama']",What happened last night?,The Morning After is a feature film that consi...,tt4130180,0.139936,Released,4.0,2.0,2015,0,"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...",[]
46596,67179,St. Michael Had a Rooster,1972-01-01,[],None,Sentenced to life imprisonment for illegal act...,tt0069215,0.225051,Released,6.0,3.0,1972,0,"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",[]
46597,84419,House of Horrors,1946-03-29,"['Horror', 'Mystery', 'Thriller']",Meet...The CREEPER!,An unsuccessful sculptor saves a madman named ...,tt0038621,0.222814,Released,6.3,8.0,1946,0,"[{'cast_id': 5, 'character': 'The Creeper', 'c...","[{'credit_id': '58152c139251415a7f0047e2', 'de...","[{'id': 9748, 'name': 'revenge'}, {'id': 9826,..."
46598,390959,Shadow of the Blair Witch,2000-10-22,"['Mystery', 'Horror']",None,"In this true-crime documentary, we delve into ...",tt0265736,0.076061,Released,7.0,2.0,2000,0,"[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...","[{'id': 224180, 'name': 'blair witch'}]"
46599,289923,The Burkittsville 7,2000-10-03,['Horror'],"Do you know what happened 50 years before """"Th...",A film archivist revisits the story of Rustin ...,tt0252966,0.38645,Released,7.0,1.0,2000,0,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...","[{'id': 616, 'name': 'witch'}, {'id': 2035, 'n..."
46600,222848,Caged Heat 3000,1995-01-01,['Science Fiction'],None,It's the year 3000 AD. The world's most danger...,tt0112613,0.661558,Released,3.5,1.0,1995,0,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",[]
46601,30840,Robin Hood,1991-05-13,"['Drama', 'Action', 'Romance']",None,"Yet another version of the classic epic, with ...",tt0102797,5.683753,Released,5.7,26.0,1991,0,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",[]
46602,439050,Subdue,NA,"['Drama', 'Family']",Rising and falling between a man and woman,Rising and falling between a man and woman.,tt6209470,0.072051,Released,4.0,1.0,0,0,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...","[{'id': 10703, 'name': 'tragic love'}]"
46603,111109,Century of Birthing,2011-11-17,['Drama'],None,An artist struggles to finish his work while a...,tt2028550,0.178241,Released,9.0,3.0,2011,0,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...","[{'id': 2679, 'name': 'artist'}, {'id': 14531,..."
46604,67758,Betrayal,2003-08-01,"['Action', 'Drama', 'Thriller']",A deadly game of wits.,"When one of her hits goes wrong, a professiona...",tt0303758,0.903007,Released,3.8,6.0,2003,0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",[]
46605,227506,Satan Triumphant,1917-10-21,[],None,"In a small town live two brothers, one a minis...",tt0008536,0.003503,Released,0.0,0.0,1917,0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",[]
46606,461257,Queerama,2017-06-09,[],None,50 years after decriminalisation of homosexual...,tt6980792,0.163015,Released,0.0,0.0,2017,1,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",[]

In [21]:
metaDataLinks = metaData[metaData.id.isin(links)]

In [22]:
metaDataLinks

,id,title,release_date,genres,tagline,overview,imdb_id,popularity,status,vote_average,vote_count,year,flag,cast,crew,keywords
0,862,Toy Story,1995-10-30,"['Animation', 'Comedy', 'Family']",None,"Led by Woody, Andy's toys live happily in his ...",tt0114709,21.946943,Released,7.7,5415.0,1995,0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,Jumanji,1995-12-15,"['Adventure', 'Fantasy', 'Family']",Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,tt0113497,17.015539,Released,6.9,2413.0,1995,0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,15602,Grumpier Old Men,1995-12-22,"['Romance', 'Comedy']",Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,tt0113228,11.7129,Released,6.5,92.0,1995,0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,31357,Waiting to Exhale,1995-12-22,"['Comedy', 'Drama', 'Romance']",Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",tt0114885,3.859495,Released,6.1,34.0,1995,0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,253632,Baton Rouge,1988-10-08,['Thriller'],None,None,tt0094822,0.437895,Released,0.0,0.0,1988,0,"[{'cast_id': 1, 'character': 'Ana Alonzo', 'cr...",[],[]
6,11862,Father of the Bride Part II,1995-02-10,['Comedy'],Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,tt0113041,8.387519000000001,Released,5.7,173.0,1995,0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
7,949,Heat,1995-12-15,"['Action', 'Crime', 'Drama', 'Thriller']",A Los Angeles Crime Saga,"Obsessive master thief, Neil McCauley leads a ...",tt0113277,17.924927,Released,7.7,1886.0,1995,0,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '..."
8,11860,Sabrina,1995-12-15,"['Comedy', 'Romance']",You are cordially invited to the most surprisi...,An ugly duckling having undergone a remarkable...,tt0114319,6.677277,Released,6.2,141.0,1995,0,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...","[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam..."
9,45325,Tom and Huck,1995-12-22,"['Action', 'Adventure', 'Drama', 'Family']",The Original Bad Boys.,"A mischievous young boy, Tom Sawyer, witnesses...",tt0112302,2.5611610000000002,Released,5.4,45.0,1995,0,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",[]
10,9091,Sudden Death,1995-12-22,"['Action', 'Adventure', 'Thriller']",Terror goes into overtime.,International action superstar Jean Claude Van...,tt0114576,5.23158,Released,5.5,174.0,1995,0,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...","[{'id': 949, 'name': 'terrorist'}, {'id': 1562..."
11,710,GoldenEye,1995-11-16,"['Adventure', 'Action', 'Thriller']",No limits. No fears. No substitutes.,James Bond must unmask the mysterious head of ...,tt0113189,14.686035999999998,Released,6.6,1194.0,1995,0,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam..."
12,9087,The American President,1995-11-17,"['Comedy', 'Drama', 'Romance']",Why can't the most powerful man in the world h...,"Widowed U.S. president Andrew Shepherd, one of...",tt0112346,6.318445,Released,6.5,199.0,1995,0,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...","[{'id': 833, 'name': 'white house'}, {'id': 84..."
13,12110,Dracula: Dead and Loving It,1995-12-22,"['Comedy', 'Horror']",None,When a lawyer shows up at the vampire's doorst...,tt0112896,5.430331,Released,5.7,210.0,1995,0,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...","[{'id': 3633, 'name': 'dracula'}, {'id': 11931..."
14,21032,Balto,1995-12-22,"['Family', 'Animation', 'Adventure']",Part Dog. Part Wolf. All Hero.,An outcast half-wolf risks his life to prevent...,tt0112453,12.140733,Released,7.1,423.0,1995,0,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...","[{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n..."
15,10858,Nixon,1995-12-22,"['History', 'Drama']","Triumphant in Victory, Bitter in Defeat. He Ch...",An all-star cast powers this epic look at Amer...,tt0113987,5.092,Released,7.1,72.0,1995,0,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...","[{'id': 840, 'name': 'usa president'}, {'id': ..."
16,1408,Cutthroat Island,1995-12-22,"['Action', 'Adventure']",The Course Has Been Set. There Is No Turning B...,"Morgan Adams and her slave, William Shaw, are ...",tt0112760,7.284477000000001,Released,5.7,137.0,1995,0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...","[{'id': 911, 'name': 'exotic island'}, {'id': ..."
17,524,Casino,1995-11-22,"['Drama', 'Crime']",No one stays at the top forever.,The life of the gambling paradise – Las Vegas ...,tt0112641,10.137389,Released,7.8,1343.0,1995,0,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...","[{'id': 383, 'name': 'poker'}, {'id': 726, 'na..."
18,4584,Sense and Sensibility,1995-12-13,"['Drama', 'Romance']",Lose your heart and come to your senses.,"Rich Mr. Dashwood dies, leaving his second wif...",tt0114388,10.673167,Released,7.2,364.0,1995,0,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...","[{'id': 420, 'name': 'bowling'}, {'id': 818, '..."
19,5,Four Rooms,1995-12-09,"['Crime', 'Comedy']",Twelve outrageous guests. Four scandalous requ...,It's Ted the Bellhop's first night on the job....,tt0113101,9.026586,Released,6.5,539.0,1995,0,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...","[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na..."
20,9273,Ace Ventura: When Nature Calls,1995-11-10,"['Crime', 'Comedy', 'Adventure']",New animals. New adventures. Same hair.,"Summoned from an ashram in Tibet, Ace finds hi...",tt0112281,8.205447999999999,Released,6.1,1128.0,1995,0,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...","[{'id': 409, 'name': 'africa'}, {'id': 1551, '..."
21,11517,Money Train,1995-11-21,"['Action', 'Comedy', 'Crime']","Get on, or GET OUT THE WAY!",A vengeful New York transit cop decides to ste...,tt0113845,7.337905999999999,Released,5.4,224.0,1995,0,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...","[{'id': 380, 'name': 'brother brother relation..."
22,8012,Get Shorty,1995-10-20,"['Comedy', 'Thriller', 'Crime']","The mob is tough, but it’s nothing like show b...",Chili Palmer is a Miami mobster who gets sent ...,tt0113161,12.669608,Released,6.4,305.0,1995,0,"[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de...","[{'id': 395, 'name': 'gambling'}, {'id': 416, ..."
23,1710,Copycat,1995-10-27,"['Drama', 'Thriller']",One man is copying the most notorious killers ...,An agoraphobic psychologist and a female detec...,tt0112722,10.701801,Released,6.5,199.0,1995,0,"[{'cast_id': 8, 'character': 'Helen Hudson', '...","[{'credit_id': '52fe430ec3a36847f803722d', 'de...","[{'id': 796, 'name': 'police brutality'}, {'id..."
24,9691,Assassins,1995-10-06,"['Action', 'Adventure', 'Crime', 'Thriller']","In the shadows of life, In the business of dea...",Assassin Robert Rath arrives at a funeral to k...,tt0112401,11.065939,Released,6.0,394.0,1995,0,"[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...","[{'id': 271, 'name': 'competition'}, {'id': 44..."
25,12665,Powder,1995-10-27,"['Drama', 'Fantasy', 'Science Fiction', 'Thril...",An extraordinary encounter with another human ...,Harassed by classmates who won't accept his sh...,tt0114168,12.133094,Released,6.3,143.0,1995,0,"[{'cast_id': 1, 'character': 'Jessie Caldwell'...","[{'credit_id': '52fe45129251416c7504ab67', 'de...","[{'id': 7345, 'name': 'dead animal'}, {'id': 1..."
26,451,Leaving Las Vegas,1995-10-27,"['Drama', 'Romance']",I Love You... The Way You Are.,"Ben Sanderson, an alcoholic Hollywood screenwr...",tt0113627,10.332025,Released,7.1,365.0,1995,0,"[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...","[{'id': 30, 'name': 'individual'}, {'id': 549,..."
27,16420,Othello,1995-12-15,['Drama'],"Envy, greed, jealousy and love.",The evil Iago pretends to be friend of Othello...,tt0114057,1.8458990000000002,Released,7.0,33.0,1995,0,"[{'cast_id': 2, 'character': 'Othello', 'credi...","[{'credit_id': '5462510ec3a368082d000121', 'de...","[{'id': 497, 'name': 'shakespeare'}, {'id': 93..."
28,9263,Now and Then,1995-10-20,"['Comedy', 'Drama', 'Family']",In every woman there is the girl she left behind.,Waxing nostalgic about the bittersweet passage...,tt0114011,8.681325,Released,6.6,91.0,1995,0,"[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...","[{'id': 1228, 'name': '1970s'}, {'id': 5248, '..."
29,17015,Persuasion,1995-09-27,"['Drama', 'Romance']",None,This film adaptation of Jane Austen's last nov...,tt0114117,2.228434,Released,7.4,36.0,1995,0,"[{'cast_id': 1, 'character': 'Anne Elliott', '...","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...","[{'id': 1316, 'name': 'captain'}, {'id': 33384..."
30,902,The City of Lost Children,1995-05-16,"['Fantasy', 'Science Fiction', 'Adventure']",Where happily ever after is just a dream.,A scientist in a surrealist society kidnaps ch...,tt0112682,9.822422999999999,Released,7.6,308.0,1995,0,"[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...","[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29199,9496,Werner - Volles Rooäää!!!,1999-09-16,"['Animation', 'Comedy']",None,A wicked investor wants Werner's residential a...,tt0184005,1.4053129999999998,Released,4.8,22.0,1999,0,"[{'cast_id': 1, 'character': 'Werner / Oma Wer...","[{'credit_id': '52fe4500c3a36847f80b6aa1', 'de...","[{'id': 1878, 'name': 'plumber'}, {'id': 2780,..."
29200,73770,What a Man,2011-08-25,"['Comedy', 'Romance']",None,What a man is a comedy that tells the story of...,tt1661461,2.273886,Released,5.5,51.0,2011,0,"[{'cast_id': 2, 'character': 'Alex', 'credit_i...","[{'credit_id': '52fe48abc3a368484e104b97', 'de...",[]
29201,10036,7 Dwarves: The Forest Is Not Enough,2006-10-25,['Comedy'],None,No overview found.,tt0461642,6.637562,Released,4.9,44.0,2006,0,"[{'cast_id': 27, 'character': 'Tschakko', 'cre...","[{'credit_id': '52fe430f9251416c75001f21', 'de...","[{'id': 2011, 'name': 'queen'}]"
29202,233438,The Fat Spy,1966-05-11,['Comedy'],It's a killer... a Diller... a blast of laffs!,"A mostly-deserted island, which is believed to...",tt0059171,0.768536,Released,2.5,4.0,1966,0,"[{'cast_id': 9, 'character': 'Junior Wellingto...","[{'credit_id': '532033b99251411f7e0010e6', 'de...","[{'id': 399, 'name': 'fountain of youth'}, {'i..."
29203,11664,"Die Bademeister – Weiber, saufen, Leben retten",1999-06-18,['Comedy'],None,No overview found.,tt0202806,0.59691,Released,2.8,3.0,1999,0,"[{'cast_id': 8, 'character': 'Paul Bennert', '...","[{'credit_id': '52fe44749251416c75035507', 'de...","[{'id': 3230, 'name': 'male friendship'}, {'id..."
29204,9572,Ants in the Pants 2,2002-03-13,['Comedy'],"Hey girls, I am back","In the sequel of """"Ants in the Pants"""" we agai...",tt0295375,1.512735,Released,4.1,26.0,2002,0,"[{'cast_id': 8, 'character': 'Florian Thomas',...","[{'credit_id': '52fe450bc3a36847f80b9299', 'de...","[{'id': 572, 'name': 'sex'}, {'id': 1525, 'nam..."
29205,1915,"Manta, Manta",1991-10-02,['Comedy'],None,A not so clever guy called Berti with a Opel M...,tt0102397,3.734177,Released,4.9,26.0,1991,0,"[{'cast_id': 7, 'character': 'Berti', 'credit_...","[{'credit_id': '52fe4321c3a36847f803c9b5', 'de...","[{'id': 830, 'name': 'car race'}, {'id': 928, ..."
29206,51880,Oscar and the Lady in Pink,2009-11-15,['Drama'],None,Listening in to a conversation between his doc...,tt1242522,2.044952,Released,6.7,26.0,2009,0,"[{'cast_id': 2, 'character': 'Rose', 'credit_i...","[{'credit_id': '52fe480ac3a36847f81553eb', 'de...",[]
29207,258751,For a Handful of Kisses,2014-05-16,"['Drama', 'Romance']",None,A girl. A boy. A love story. But also about dr...,tt3028412,1.7924189999999998,Released,5.4,10.0,2014,0,"[{'cast_id': 1, 'character': 'Dani', 'credit_i...","[{'credit_id': '531daaa292514177b1006d55', 'de...",[]
29208,208982,Vietnam in HD,2011-11-08,['War'],None,Vietnam in HD is a 6-part series that immerses...,tt2109059,0.326621,Released,8.1,6.0,2011,0,[],"[{'credit_id': '57a7cf18c3a368234c000439', 'de...","[{'id': 2956, 'name': 'vietnam'}]"
29209,56771,WWII IN HD,2009-11-15,[],None,Follow the lives of soldiers who lived Wold Wa...,tt1489097,0.157804,NA,6.0,4.0,2009,0,[],[],[]
29210,254578,Phoenix,2014-09-25,['Drama'],"A Gripping Noirish Study of Treachery, Identit...","A disfigured concentration-camp survivor, unre...",tt2764784,5.298121,Released,6.4,147.0,2014,0,"[{'cast_id': 1, 'character': 'Nelly Lenz', 'cr...","[{'credit_id': '52fe4ec59251416c9113d349', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
29211,328595,Parallels,2015-03-01,"['Science Fiction', 'Action']",None,An underground MMA fighter must confront his s...,tt3479316,4.081263,Released,6.2,148.0,2015,0,"[{'cast_id': 2, 'character': 'Ronan Carver', '...","[{'credit_id': '55097b8ac3a3682b40003467', 'de...",[]
29212,160171,Closed Curtain,2013-02-12,['Drama'],None,"A man, his dog, a young woman and a filmmaker ...",tt2626926,0.5331199999999999,Released,7.4,5.0,2013,0,"[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe4c2ac3a36847f822103f', 'de...",[]
29213,287422,Gentlemen,2014-12-05,"['Thriller', 'Drama', 'Romance']",None,"Beaten up, bruised, and scared, a young writer...",tt2058617,0.461721,Released,6.0,3.0,2014,0,"[{'cast_id': 0, 'character': 'Henry Morgan', '...","[{'credit_id': '53f243380e0a2675b50064ae', 'de...",[]
29214,254200,A Second Chance,2014-09-09,"['Thriller', 'Drama']",How far would you go?,Detectives and best friends Andreas and Simon ...,tt3305316,3.042462,Released,6.7,42.0,2014,0,"[{'cast_id': 3, 'character': 'Andreas', 'credi...","[{'credit_id': '52fe4eab9251416c91139975', 'de...","[{'id': 6149, 'name': 'police'}, {'id': 11925,..."
29216,293771,Dead Rising: Watchtower,2015-03-27,"['Horror', 'Science Fiction']",None,"Based on the game, Dead Rising takes place dur...",tt3816458,9.559969,Released,5.0,143.0,2015,0,"[{'cast_id': 3, 'character': 'Chase Carter', '...","[{'credit_id': '5516563e9251417f4e000a7e', 'de...","[{'id': 4013, 'name': 'chain saw'}, {'id': 488..."
29225,301225,Standby,2014-11-14,"['Romance', 'Comedy']",None,Twenty-something Alan (Gleeson) is down on his...,tt1645916,5.136007,Released,6.6,14.0,2014,0,"[{'cast_id': 4, 'character': 'Alice', 'credit_...","[{'credit_id': '546e773a92514112f300014d', 'de...",[]
29227,35428,What Men Talk About,2010-03-04,['Comedy'],None,"Four old friends - Kamil, Lesha, Sasha and Sla...",tt1595366,3.022666,Released,7.6,46.0,2010,0,"[{'cast_id': 11, 'character': '????', 'credit_...","[{'credit_id': '52fe45a59251416c910397b3', 'de...","[{'id': 10267, 'name': 'comedy'}, {'id': 14886..."
29228,91628,Three Quarter Moon,2011-10-13,"['Drama', 'Comedy']",None,"Hartmut Mackowiak, a German taxi driver, tries...",tt1747994,0.520509,Released,5.3,7.0,2011,0,"[{'cast_id': 1, 'character': 'Hartmut Mackowia...","[{'credit_id': '52fe48de9251416c750b5e07', 'de...","[{'id': 231063, 'name': 'umerziehung'}]"
29229,9478,Ants in the Pants,2000-03-29,"['Comedy', 'Romance']","Come on, go ahead!",Flo is not quite a normal teenager: While all ...,tt0239450,2.8328580000000003,Released,4.5,26.0,2000,0,"[{'cast_id': 1, 'character': 'Florian', 'credi...","[{'credit_id': '52fe44fcc3a36847f80b6029', 'de...","[{'id': 1525, 'name': 'puberty'}, {'id': 2201,..."
29230,10470,Werner - Gekotzt wird später!,2003-07-17,"['Animation', 'Comedy']",None,"Werner, Andi and Eckat play dice to determine ...",tt0304931,1.413439,Released,5.4,11.0,2003,0,"[{'cast_id': 1, 'character': 'Werner (voice)',...","[{'credit_id': '52fe43769251416c750114b7', 'de...","[{'id': 1777, 'name': 'ford taunus'}, {'id': 3..."
29231,10010,Brother Bear 2,2006-08-17,"['Adventure', 'Animation', 'Family']",None,Kenai finds his childhood human friend Nita an...,tt0465925,10.861153999999999,Released,6.3,318.0,2006,0,"[{'cast_id': 30, 'character': 'Kenai (voice)',...","[{'credit_id': '58cebb58c3a36850f3025055', 'de...","[{'id': 2522, 'name': 'grizzly bear'}, {'id': ..."
29232,9565,No More School,2000-12-07,['Comedy'],None,The last three weeks of school life have begun...,tt0248409,1.309854,Released,5.5,20.0,2000,0,"[{'cast_id': 10, 'character': 'Markus Baasweil...","[{'credit_id': '52fe450bc3a36847f80b8eef', 'de...","[{'id': 3423, 'name': 'liquor'}, {'id': 4666, ..."
29233,9677,Forklift Driver Klaus: The First Day on the Job,2001-08-08,"['Horror', 'Comedy']",None,Short film depicting a fictional educational f...,tt0289477,3.067015,Released,8.1,43.0,2001,0,"[{'cast_id': 1, 'character': 'Staplerfahrer Kl...","[{'credit_id': '52fe451ac3a36847f80bc863', 'de...","[{'id': 3640, 'name': 'work'}, {'id': 3852, 'n..."
29234,4436,Kein Bund für's Leben,2007-08-30,['Comedy'],None,The movie deals with a guy who gets to join th...,tt0466713,0.787058,Released,5.4,10.0,2007,0,"[{'cast_id': 1, 'character': 'Basti Lämmle', '...","[{'credit_id': '52fe43c1c3a36847f806d2ff', 'de...","[{'id': 6416, 'name': 'bundeswehr soldier'}]"
29235,9274,"Fire, Ice & Canned Beer",2002-02-21,['Comedy'],None,Two friends who are doing civil service flee t...,tt0277703,0.575105,Released,4.4,7.0,2002,0,"[{'cast_id': 1, 'character': 'Türlich', 'credi...","[{'credit_id': '569ec0979251413849000134', 'de...","[{'id': 2540, 'name': 'alp'}, {'id': 6390, 'na..."
29236,285213,The Pirates,2014-08-06,"['Action', 'History', 'Adventure']",None,On the eve of the founding of the Joseon Dynas...,tt3485166,2.352706,Released,6.4,45.0,2014,0,"[{'cast_id': 3, 'character': 'Jang Sa-jung', '...","[{'credit_id': '550d3d059251413443002e99', 'de...","[{'id': 205603, 'name': 'korean movie'}]"
29237,32099,The Rose of the Rascal,2001-01-01,"['Music', 'Drama']",None,"The life of Irwin Goodman, a Finnish singer.",tt0249110,0.21493299999999999,Released,6.6,5.0,2001,0,"[{'cast_id': 5, 'character': 'Irwin Goodman', ...","[{'credit_id': '52fe44bb9251416c9101aee5', 'de...","[{'id': 5565, 'name': 'biography'}, {'id': 102..."
29238,286971,Innocence,2014-09-05,"['Thriller', 'Mystery', 'Adventure', 'Romance'...",Love. Beauty. Wealth. Eternity.,"After losing her mother in a tragic accident, ...",tt1724965,5.304305,Post Production,4.3,13.0,2014,0,"[{'cast_id': 0, 'character': 'Beckett Warner',...","[{'credit_id': '53f7b34bc3a3683403005ac1', 'de...","[{'id': 6270, 'name': 'high school'}, {'id': 1..."

In [23]:
links

0          862
1         8844
2        15602
3        31357
4        11862
5          949
6        11860
7        45325
8         9091
9          710
10        9087
11       12110
12       21032
13       10858
14        1408
15         524
16        4584
17           5
18        9273
19       11517
20        8012
21        1710
22        9691
23       12665
24         451
25       16420
26        9263
27       17015
28         902
29       37557
         ...
7248      9496
7249     73770
7250     10036
7251    233438
7252     11664
7253      9572
7254      1915
7255     51880
7256    258751
7257    208982
7258     56771
7259    254578
7260    328595
7261    160171
7262    287422
7263    254200
7264    293771
7265    301225
7266     35428
7267     91628
7268      9478
7269     10470
7270     10010
7271      9565
7272      9677
7273      4436
7274      9274
7275    285213
7276     32099
7277    286971
Name: tmdbId, Length: 27026, dtype: int64